﻿@model Outfix.ViewModels.CartViewModel
@using System.ComponentModel;
@{
    int count = 0;
    var info = typeof(Outfix.Models.ProductVariationModel).GetProperties();

}

<div class="anchors">
    &nbsp;&nbsp;<a href="@Url.Action("Index","Home")">Home</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
    &nbsp;&nbsp;<a href="@Url.Action("Index","Cart")">Fix Box</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
    &nbsp;&nbsp;<a href="@Url.Action("Checkout","Cart")">Fix Box</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
</div>

<div class="shop container">
    <div class="row">
        <div class="dispatch">
            <div style="width:100%;height:auto;">
                <div style="background:url('../Content/images/background.jpg');border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:center;display:inline-block;width:100%;">
                    <img style="margin-top:50px;" src="~/Content/images/box.png" width="250" />
                    <img style="position:absolute;margin-left:-20px;margin-top:50px;" src="~/Content/images/tick.png" width="50" />
                    <h3 style="color:#145A32;margin-bottom:50px;line-height:10px;font-weight:bold;">Your Box is Ready to Dispatch!</h3>
                </div>
                <div class="same_address" style="border-right:1px solid #BDC3C7;vertical-align:top;text-align:center;display:inline-block;width:60%;">
                    <form id="Checkout_form" method="POST" action="@Url.Action("PlaceOrder","Home")">

                        @Html.AntiForgeryToken()
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:middle;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">First Name: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.FirstName, new { @class = "search_input form-control", style = "border-radius:5px;width:70%;margin-left:5px;display:inline-block;font-size:18px;", aria_label = "Name", @required = true })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:middle;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">Last Name: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.LastName, new { @class = "search_input form-control", style = "border-radius:5px;margin-left:7px;width:70%;display:inline-block;font-size:18px;", aria_label = "Name", @required = true })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">Contact #1: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Contact1, new { @class = "search_input form-control", style = "border-radius:5px;margin-left:7px;width:70%;display:inline-block;font-size:18px;", aria_label = "Contact", @required = true })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">Contact #2: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Contact2, new { @class = "search_input form-control", style = "border-radius:5px;margin-left:7px;width:70%;display:inline-block;font-size:18px;", aria_label = "Contact" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">Email: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Email, new { @class = "search_input form-control", style = "border-radius:5px;margin-left:64px;width:70%;display:inline-block;font-size:18px;", aria_label = "Email", @required = true })
                        </div>
                        <div id="Home_Address" style="vertical-align:top;text-align:left;display:inline-block;width:100%;height:120px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">Address: </h3>
                            @Html.TextBoxFor(m => m.Customer.Location.Address, new { @class = "search_input form-control", style = "border-radius:5px;margin-left:32px;width:75%;margin-top:10px;height:100px;display:inline-block;font-size:18px;", aria_label = "Address" })
                        </div>
                        <div id="Shipment_Address" class="Shipment_Address" style="vertical-align:top;text-align:left;display:none;width:100%;height:120px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:20px;">Shipment<br>Address: </h3>
                            @Html.TextBoxFor(m => m.Customer.Location.Address, new { @class = "search_input form-control", style = "border-radius:5px;margin-left:19px;width:75%;margin-top:10px;height:100px;display:inline-block;font-size:18px;", aria_label = "Address" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:center;display:inline-block;width:100%;height:55px;">
                            <a href="#" data-target="#modalMap" data-toggle="modal" style="font-size:20px"><span class="glyphicon glyphicon-map-marker" style="font-size:30px"></span>&nbsp; Location</a>
                            &emsp;&emsp;<input style="cursor:pointer;margin:5px;" class="diff_ship largerCheckbox" name="diff_ship" onchange="valueChanged()" type="checkbox" /><font style="font-size:20px;">Ship to a Different Address</font>
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px">City: </h3>
                            @Html.TextBoxFor(m => m.Customer.Location.City, new { id = "CCity", @class = "search_input form-control", style = "margin-left:75px;margin-right:18px;display:inline-block;font-size:18px;", aria_label = "City", @required = true })

                            @Html.HiddenFor(m => m.Customer.Location.Latitude, new { id = "Latitude" })
                            @Html.HiddenFor(m => m.Customer.Location.Longitude, new { id = "Longitude" })
                            @Html.HiddenFor(m => m.Customer.Location.Country, new { id = "CCountry" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="padding-left:10px;display:inline-block;line-height:10px;">Country: </h3>
                            <select style="cursor:pointer;margin-left:39px;margin-right:39px;text-align-last:center;margin-top:7px;width:150px;height:40px;font-size:25px;border:1px solid black;" name="Country">
                                <option value="PK">Pakistan</option>
                            </select>
                        </div>
                        <div style="vertical-align:top;text-align:left;display:flex;justify-content:center;width:100%;height:55px;">
                            @Html.CheckBoxFor(model => model.SaveLocation)
                            @Html.Label("Save Location")
                        </div>
                        <button style="font-size:20px;margin-top:10px;margin-bottom:10px;" type="submit" class="btn checkout">Confirm Details&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>
                    </form>
                </div>


                <div style="margin-left:2px;margin-right:2px;height:auto;border:2px dashed #BDC3C7;vertical-align:top;display:inline-block;width:39%;">
                    <h3 style="color:#145A32;margin-bottom:50px;line-height:10px;font-weight:bold;text-align:center">Your Box Include</h3>
                    <!-- loop items here -->
                    @if (Model.Voucher != null)
                    {
                        <p style="display:inline-block;">Coupon Applied : <font id="coupon_value" style="color:green; font-weight:bold;"> @Model.Voucher.Code </font></p>
                        <span id="coupon_info" class="glyphicon glyphicon-info-sign" data-toggle="popover" title="Coupon Details" data-content="Discount: Rs. @Model.Voucher.WalletPoints"></span>
                    }
                    @foreach (var product in Model.Product)
                    {
                        var Variation = product.Variation.FirstOrDefault();
                        PropertyDescriptorCollection properties = TypeDescriptor.GetProperties(Variation.GetType());
                        count += 1;
                        <div class="row" style="font-size:12px;">
                            <div class="col" style="width:25%;display:flex">
                                <h3 style="font-size:20px;margin-left:20px;color:#145A32">@count)</h3>
                                <h3 style="font-size:20px;text-align:center;color:#145A32">@product.Name x @product.Qty </h3>
                            </div>
                            <div class="col" style="width:60%;margin-left:10px;text-align: center;align-self: center;">
                                <h4 style="display:inline-block">(</h4>

                                <p>
                                    @foreach (var property in info)
                                    {
                                        var minfo = Variation.GetType().GetProperty(property.Name);
                                        var pval = minfo.GetValue(Variation, null);
                                        var attribute = property.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().FirstOrDefault();
                                        string displayName = attribute != null ? attribute.DisplayName : "";
                                        if (!string.IsNullOrEmpty(displayName))
                                        {
                                            if (property.PropertyType.Name.Equals("Int32"))
                                            {
                                                if (pval != null && Convert.ToInt32(pval) != 0)
                                                {
                                                    <i>@displayName:</i> <b>@pval,</b>
                                                }
                                            }
                                            else if (property.PropertyType.Name.Equals("Decimal"))
                                            {
                                                if (pval != null && Convert.ToDecimal(pval) != 0)
                                                {
                                                    <i>@displayName:</i> <b>@pval,</b>
                                                }
                                            }
                                            else if (pval != null && !String.IsNullOrEmpty(Convert.ToString(pval)))
                                            {
                                                <i>@displayName:</i> <b>@pval,</b>
                                            }

                                        }
                                    }
                                </p>
                            </div>

                        </div>

                        <!-- loop ends here -->
                    }
                </div>
            </div>
        </div>
        @{
            count = 0;
        }
        <div class="dispatch_mobile">
            <div style="width:100%;height:auto;">
                <div style="background:url('../Content/images/background.jpg');vertical-align:top;text-align:center;display:inline-block;width:100%;">
                    <img style="margin-top:50px;" src="~/Content/images/box.png" width="150" />
                    <img style="position:absolute;margin-left:-40px;margin-top:60px;" src="~/Content/images/tick.png" width="40" />
                    <h3 style="font-size:20px;color:#145A32;margin-bottom:50px;line-height:10px;font-weight:bold;">Your Box is Ready to Dispatch!</h3>
                </div>
                <div class="same_address" style="border:1px solid #BDC3C7;vertical-align:top;text-align:center;display:inline-block;width:100%;">
                    <form method="POST" action="">
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:middle;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">First Name: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.FirstName, new { @class = "search_input form-control", style = "margin-left:14px;margin-right:14px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:middle;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">Last Name: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.LastName, new { @class = "search_input form-control", style = "margin-left:11px;margin-right:11px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">Contact #1: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Contact1, new { @class = "search_input form-control", style = "margin-left:5px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">Contact #2: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Contact2, new { @class = "search_input form-control", style = "margin-left:5px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">Email: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Email, new { @class = "search_input form-control", style = "margin-left:43px;margin-right:43px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div class="Home_Address" style="vertical-align:top;text-align:left;display:inline-block;width:100%;height:120px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">Address: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Location.Address, new { @class = "search_input form-control", style = "margin-left:25px;margin-right:25px;width:69%;margin-top:10px;height:100px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div class="Shipment_Address" style="vertical-align:top;text-align:left;display:none;width:100%;height:120px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:20px;font-weight:bold;">Shipment<br>Address: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Location.Address, new { @class = "search_input form-control", style = "margin-left:22px;margin-right:22px;width:69%;margin-top:10px;height:100px;display:inline-block;font-size:15px;", aria_label = "Name" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:center;display:inline-block;width:100%;height:55px;">
                            <input style="cursor:pointer;margin:5px;" class="diff_ship largerCheckbox" name="diff_ship" onchange="valueChanged()" type="checkbox" /><font style="font-size:15px;">Ship to a Different Address</font>
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">City: </h3>
                            @Html.TextBoxFor(Model => Model.Customer.Location.City, new { @class = "search_input form-control", style = "margin-left:18px;margin-right:18px;display:inline-block;font-size:18px;", aria_label = "Name" })
                        </div>
                        <div style="border-bottom:1px solid #BDC3C7;vertical-align:top;text-align:left;display:inline-block;width:100%;height:55px;">
                            <h3 style="font-size:15px;padding-left:10px;display:inline-block;line-height:10px;font-weight:bold;">Country: </h3>
                            <select style="cursor:pointer;margin-left:25px;margin-right:25px;text-align-last:center;margin-top:7px;width:150px;height:40px;font-size:15px;border:1px solid black;" name="country">
                                <option value="PK">Pakistan</option>
                                @*<option value="AUS">Australia</option>
                                    <option value="GER">Germany</option>
                                    <option value="DXB">Dubai</option>*@
                            </select>
                        </div>
                    </form>
                    <button style="font-size:20px;margin-top:10px;margin-bottom:10px;" type="button" class="btn checkout">Confirm Details&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>
                </div>


                <div style="height:auto;border:2px dashed #BDC3C7;vertical-align:top;text-align:center;display:inline-block;width:100%;">
                    <h3 style="color:#145A32;margin-bottom:50px;line-height:10px;font-weight:bold;">Your Box Include</h3>
                    <!-- loop items here -->
                    @foreach (var product in Model.Product)
                    {
                        count += 1;
                        <h3 style="font-size:15px;margin-left:10px;text-align:left;color:#145A32;margin-bottom:30px;line-height:15px;">@count) @product.Name x @product.Qty</h3>
                        <!-- loop ends here -->
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Action("UserLocation", "Profile")
