﻿@model Outfix.ViewModels.CartViewModel
@using System.ComponentModel;
@{
    Layout = "~/Views/Shared/_LayoutProductPage.cshtml";
    var count = 0;
    var info = typeof(Outfix.Models.ProductVariationModel).GetProperties();
}

<div class="anchors">
    &nbsp;&nbsp;<a href="@Url.Action("Index","Home")">Home</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
    &nbsp;&nbsp;<a href="@Url.Action("Index","Cart")">Fix Box</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
</div>

@if (Model.Product.Count > 0)
{
    <div class="shop">
        <div class="row">

            <div class="selected_mobile">
                <div style="margin-bottom:5px;background:url('../../Content/images/background.jpg');vertical-align:top;text-align:center;display:inline-block;width:100%;">
                    <img style="margin-top:50px;" src="~/Content/images/box.png" width="150" />
                    <h3 style="font-size:20px;color:#145A32;margin-bottom:50px;font-weight:bold;">Your Box contains the following Items</h3>
                </div>
                @foreach (var product in Model.Product)
                {
                    count += 1;
                    var Variation = product.Variation.FirstOrDefault();
                    var divId = "#div_" + Variation.ID;
                    <!-- Loop items here -->
                    <div id="@divId" style="padding:5px;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:white;margin-bottom:10px;width:100%;height:auto;">
                        <div style="vertical-align:middle;text-align:left;display:flex;width:100%;height:auto;">
                            <div style="width:30%;display:inline-block;">
                                <img style="margin-top:30px;" src="@product.Picture1" width="100" />
                            </div>
                            <div style="padding:5px;width:60%;text-align:left;display:inline-block;">
                                <h3 style="margin-top:0px;font-size:15px;font-weight:bold;">@product.Name</h3>
                                <p>@product.Description</p>
                                @foreach (var property in info)
                                {
                                    var pval = Variation.GetType().GetProperty(property.Name).GetValue(Variation, null);
                                    if (pval != null)
                                    {
                                        <h6>@pval</h6>
                                    }
                                }
                            </div>
                            <div style="vertical-align:middle;text-align:center;display:inline-block;width:10%;">
                                <button style="border:none;background:transparent;" name="remove" onclick="Cart.RemoveDiv('@divId')">
                                    <span style="font-size:25px;color:red;" class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>
                        <div style="margin-top:-50px;vertical-align:middle;text-align:right;width:100%;height:auto;">
                            <div style="text-align:right;display:inline-block;width:49%;">
                                <h3 style="display:inline-block;font-size:15px;line-height:0px;font-weight:bold;">Qty:</h3>
                                <select style="background:white;cursor:pointer;text-align-last:center;width:50px;height:25px;font-size:15px;border:1px solid black;" name="qty">
                                    @if (product.Qty > 0)
                                    {
                                        <option value="1">1</option>
                                    }
                                    @if (product.Qty > 1)
                                    {
                                        <option value="2">2</option>
                                    }
                                    @if (product.Qty > 2)
                                    {
                                        <option value="3">3</option>
                                    }
                                    @if (product.Qty > 3)
                                    {
                                        <option value="4">4</option>
                                    }
                                </select>
                            </div>
                            <div style="text-align:right;display:inline-block;width:45%;">
                                <h3 style="margin-right:5px;font-size:15px;font-weight:bold;">Price: $100</h3>
                            </div>
                        </div>
                        <div style="margin-bottom:-10px;vertical-align:middle;text-align:right;display:block;width:100%;height:40px;">
                            <h3 style="margin-right:5px;margin-top:10px;font-size:15px;line-height:0px;font-weight:bold;">Total: $100</h3>
                        </div>
                    </div> <!-- Loop Ends Here -->

                }
                @{
                    count = 0;
                }
            </div>

            <div class="selected">
                <div style="border:1px solid #BDC3C7;background:url('../../Content/images/background.jpg');vertical-align:top;text-align:center;display:inline-block;width:100%;">
                    <img style="margin-top:50px;" src="~/Content/images/box.png" width="250" />
                    <h3 style="color:#145A32;margin-bottom:50px;line-height:10px;font-weight:bold;">Your Box contains the following Items</h3>
                </div>
                <div style="width:100%;height:50px;border-bottom:1px solid #BDC3C7;">
                    <div style="vertical-align:top;text-align:center;display:inline-block;width:10%;height:50px;">
                        <h3 style="line-height:10px;font-weight:bold;">Sr #</h3>
                    </div>
                    <div style="vertical-align:top;text-align:center;display:inline-block;width:39%;height:50px;">
                        <h3 style="line-height:10px;font-weight:bold;">Product Name</h3>
                    </div>
                    <div style="vertical-align:top;text-align:center;display:inline-block;width:10%;height:50px;">
                        <h3 style="line-height:10px;font-weight:bold;">Price</h3>
                    </div>
                    <div style="vertical-align:top;text-align:center;display:inline-block;width:20%;height:50px;">
                        <h3 style="line-height:10px;font-weight:bold;">Quantity</h3>
                    </div>
                    <div style="vertical-align:top;text-align:center;display:inline-block;width:9%;height:50px;">
                        <h3 style="line-height:10px;font-weight:bold;">Total</h3>
                    </div>
                </div>
                <div style="height:275px;width:100%;overflow-y:scroll;">
                    @foreach (var product in Model.Product)
                    {
                        count += 1;
                        string selected = String.Empty;

                        var Variation = product.Variation.FirstOrDefault();
                        var divId = "div_" + Variation.ID;

                        decimal price = product.Price /*product.Price*/ ;
                        decimal tprice = 0 /*product.Price*/ ;
                        var tpriceID = "ProdTotalPrice_" + Variation.ID;

                        <!-- This Div Runs in a Loop -->
                        <div id="@divId" style="width:100%;height:auto;border-bottom:1px solid #BDC3C7;">
                            <div style="margin-bottom:10px;height:auto;text-align:center;display:inline-block;width:10%;height:50px;">
                                <h3 style="font-size:20px;line-height:45px;">@count</h3>
                            </div>
                            <div style="margin-bottom:10px;height:auto;vertical-align:top;text-align:center;display:inline-block;width:40%;height:auto;">
                                <h3 style="font-size:20px;line-height:10px;"><img style="margin-right:10px;" src="@product.Picture1" width="50" />@product.Name</h3>
                                @foreach (var property in info)
                                {
                                    var minfo = Variation.GetType().GetProperty(property.Name);
                                    var pval = minfo.GetValue(Variation, null);
                                    var attribute = property.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().FirstOrDefault();
                                    string displayName = attribute != null ? attribute.DisplayName : "";
                                    if (!string.IsNullOrEmpty(displayName))
                                    {
                                        if (property.PropertyType.Name.Equals("Int32"))
                                        {
                                            if (pval != null && Convert.ToInt32(pval) != 0)
                                            {
                                                <span>@displayName: </span><span><b>@pval,</b></span>
                                            }
                                        }
                                        else if (property.PropertyType.Name.Equals("Decimal"))
                                        {
                                            if (pval != null && Convert.ToDecimal(pval) != 0)
                                            {
                                                <span>@displayName: </span><span><b>@pval,</b></span>
                                            }
                                        }
                                        else if (pval != null && !String.IsNullOrEmpty(Convert.ToString(pval)))
                                        {
                                            <span>@displayName: </span><span><b>@pval,</b></span>
                                        }
                                    }
                                }
                            </div>
                            <div style="margin-bottom:10px;height:auto;vertical-align:top;text-align:center;display:inline-block;width:10%;height:50px;">
                                <h3 style="font-size:20px;line-height:45px;">Rs. <input type="text" value="@price" style="width:100px;border:none" /></h3>
                            </div>
                            <div style="margin-bottom:10px;vertical-align:top;text-align:center;display:inline-block;width:20%;height:50px;">
                                <select id="selectQty" style="cursor:pointer;text-align-last:center;margin-top:25px;width:70px;height:35px;font-size:18px;border:1px solid black;" name="size" onchange="Cart.onChangeQty(@Variation.ID,@price, this.value)">
                                    @if (Variation.Qty > 0)
                                    {
                                        selected = product.Qty == 1 ? "selected" : "";
                                        <option value="1" @selected>1</option>
                                    }
                                    @if (Variation.Qty > 1)
                                    {
                                        selected = product.Qty == 2 ? "selected" : "";
                                        <option value="2" @selected>2</option>
                                    }
                                    @if (Variation.Qty > 2)
                                    {
                                        selected = product.Qty == 3 ? "selected" : "";
                                        <option value="3" @selected>3</option>
                                    }
                                    @if (Variation.Qty > 3)
                                    {
                                        selected = product.Qty == 4 ? "selected" : "";
                                        <option value="4" @selected>4</option>
                                    }
                                    @{
                                        tprice = price * product.Qty;
                                    }
                                </select>
                            </div>
                            <div style="margin-bottom:10px;vertical-align:top;text-align:center;display:inline-block;width:10%;height:50px;">
                                <h3 style="font-size:20px;line-height:45px;">Rs. <input id="@tpriceID" type="text" value="@tprice" style="width:100px;border:none" /></h3>
                            </div>
                            <div style="margin-bottom:10px;vertical-align:middle;text-align:center;display:inline-block;width:5%;height:50px;">
                                <button style="margin-left:20px;border:none;background:transparent;" name="remove" onclick="Cart.RemoveDiv('@divId')">
                                    <span style="line-height:50px;font-size:25px;color:red;" class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div> <!-- Loop Ends Here -->
                    }
                </div>
            </div>

            <div class="coupon">
                <form id="coupon_applied" style="display:inline-block;">
                    <h2 class="coupon_heading">Coupon Code</h2>
                    <input class="search_input coupon_field" type="text" name="coupon" />
                    <input class="btn checkout apply" type="submit" value="Apply Code" />
                </form>
                <div class="validation_message">
                    <p id="invalid_cpn" style="display:none;color:red;font-size:25px;font-weight:bold;">*Invalid Coupon</p>
                    <p id="valid_cpn" style="color:#229954;font-size:25px;font-weight:bold;">Coupon Validated!</p>
                </div>
            </div>

            <div style="width:95%;margin:auto;margin-bottom:20px;">
                <div class="shipping_policy">
                    <h2 style="text-align:center;font-weight:bold;">Shipping Policy</h2>
                    <h3 style="font-size:20px;margin-bottom:30px;margin-left:30px;margin-right:30px;">
                        <b>&bull;&nbsp;Shipment confirmation & Order tracking:</b> You will receive a Shipment Confirmation email once your order has shipped containing your
                        tracking number(s). The tracking number will be active within 24 hours.<br><br>
                        <b>&bull;&nbsp;Customs, Duties and Taxes:</b> Outfix is not responsible for any customs and taxes applied to your order. All
                        fees imposed during or after shipping are the responsibility of the customer (tariffs, taxes, etc.).<br><br>
                        <b>&bull;&nbsp;Damages:</b> Outfix is not liable for any products damaged or lost during shipping. If you
                        received your order damaged, please contact the shipment carrier to file a claim.
                        Please save all packaging materials and damaged goods before filing a claim.<br>
                    </h3>
                </div>
                <div class="order_summary">
                    <h2 style="text-align:center;font-weight:bold;">Order Summary</h2>
                    <h3 style="font-size:20px;margin-bottom:30px;margin-left:30px;margin-right:30px;">
                        Total Items : @count
                    </h3>
                    <h3 style="font-size:20px;margin-bottom:30px;margin-left:30px;margin-right:30px;">
                        @{
                            var voucher = Model.Voucher != null && Model.Voucher.Code != null ? Model.Voucher.Code : "-----------";
                        }
                        Coupon Applied : <font id="coupon_value" style="color:green; font-weight:bold;"> @voucher </font>
                        @if (Model.Voucher != null)
                        {
                            <span id="coupon_info" class="glyphicon glyphicon-info-sign" data-toggle="popover" title="Coupon Details" data-content="Discount: Rs. @Model.Voucher.WalletPoints"></span>
                        }
                        else
                        {
                            <span id="coupon_info" class="glyphicon glyphicon-info-sign" data-toggle="popover" title="Coupon Details" data-content="" style="display:none"></span>
                        }

                    </h3>
                    @if (Session["Customer"] == null || string.IsNullOrEmpty(Session["Customer"].ToString()))
                    {
                        <button style="font-size:14px;" type="button" class="btn checkout" data-target="#modalLogin" data-toggle="modal">Proceed to Checkout&nbsp;&nbsp;<span style="font-size:13px;" class="glyphicon glyphicon-triangle-right"></span></button>
                    }
                    else
                    {
                        if (count > 0)
                        {
                            <button style="font-size:14px;" type="button" class="btn checkout" title="One Step to GO" onclick="window.location.href='@Url.Action("Checkout","Cart")'">Proceed to Checkout&nbsp;&nbsp;<span style="font-size:13px;" class="glyphicon glyphicon-triangle-right"></span></button>
                        }
                        else
                        {
                            <button style="font-size:14px;" type="button" class="btn checkout" title="Zero Items in Box" disabled>Proceed to Checkout&nbsp;&nbsp;<span style="font-size:13px;" class="glyphicon glyphicon-triangle-right"></span></button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h3 style="text-align:center"> There are No Items in the cart </h3>
}
