﻿@model List<Outfix.Models.CartModel>
@{
    /**/

    Layout = null;
    var count = Session["CartCount"] != null ? Convert.ToInt32(Session["CartCount"]) : 0;
}

@if (Model != null && Model.Count > 0)
{
    <div class="Box_Headlines">
        <div style="border:1px solid white;text-align:center;display:inline-block;width:20%;height:auto;"></div>
        <div style="border:1px solid white;text-align:center;display:inline-block;width:60%;height:auto;">Product Name</div>
        <div style="border:1px solid white;text-align:center;display:inline-block;width:20%;height:auto;">Qty</div>
    </div>
    foreach (var product in Model)
    {
        <!-- Loop Starts Here -->
        <div style="display:flex;height:auto;width:100%;">
            <div style="padding:5px;border:1px solid white;text-align:center;display:inline-block;width:20%;height:auto;"><img src="@product.Pic" width="30" /></div>
            <div style="padding:5px;border:1px solid white;text-align:center;display:inline-block;width:60%;height:auto;">@product.Name</div>
            <div style="padding:5px;border:1px solid white;text-align:center;display:inline-block;width:20%;height:auto;">x @product.Quantity</div>
        </div>
        <!-- Loop Ends Here -->
    }
}
else
{
    <div style="margin-bottom:10px;margin-top:10px;font-weight:bold;height:auto;padding:0px;width:100%;">
        <div style="text-align:center;display:inline-block;width:100%;">No Products in your Box&nbsp;&nbsp;<img style="margin-top:-5px; object-fit:contain;" width="40" src="~/Content/images/sad.png" /></div>
    </div>
}
@if (count > 0)
{

    <div style="text-align:center;height:auto;padding:0px;width:100%;">
        <button onclick="location.href = '@Url.Action("Index", "Cart")'" style="margin-top:10px;margin-bottom:10px;background:green;color:white;border:1px solid white;" class="btn start">View Box Details&nbsp;<img style="margin-top:-3px;" width="33" src="~/Content/images/box.png" /></button>
    </div>
}
