﻿@model Outfix.ViewModels.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Adimn - Log in";
}
<style>
    .login_form {
        border-radius: 20px;
        margin-top: 0px;
        text-align: center;
        width: 100%;
    }
</style>

<div style="text-align:center;width:100%;">
    <div class="login_form" id="divLogin">
        <img style="border:none;margin-top:0px;width:50%" src="~/Content/img/logo.png" />
        <h2 id="LoginHeading" ><b>Login to Outfix Portal</b></h2>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <span class="glyphicon glyphicon-user"></span>
            @Html.TextBoxFor(m => m.Email, new { @class = "", style = "font-size:15px;margin-top:10px;border-radius:5px;width:35%", placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <br>
            <span class="glyphicon glyphicon-lock"></span>
            @Html.PasswordFor(m => m.Password, new { @class = "", style = "font-size:15px;margin-top:10px;border-radius:5px;;width:35%", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <br>
            <input style="margin-top:15px;font-size:20px" class="btn checkout" type="submit" name="Validate" value="Login" />
        }

    </div>
</div>
