﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font-family/stylesheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Content/images/box-outfix.png" />
</head>
<body>

    @Html.Partial("~/Views/Shared/Navbar.cshtml")
    <div style="min-height:400px;">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Shared/Footer.cshtml")
    <div id="fb-root"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: true });
            $.getScript('https://connect.facebook.net/en_US/sdk.js', function () {
                FB.init({
                    appId: '439132446670385',
                    version: 'v2.7' // or v2.1, v2.2, v2.3, ...
                });
                $('#loginbutton,#feedbutton').removeAttr('disabled');
               // FB.getLoginStatus(updateStatusCallback);
            });
        });
    </script>
    <script src="~/Scripts/Layout/animations.js"></script>
    <script src="~/Scripts/Cart/Cart.js"></script>
    <script src="~/Scripts/Product/ProductPage.js"></script>
    <script src="~/Scripts/Layout/Navbar.js"></script>

</body>
</html>
