﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Outfix</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/font-family/stylesheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
</head>
<body>
    <nav style="background:#0d567f;" class="navbar navbar-expand-lg navbar-light bg-light">
        <div >
            <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" width="100" /></a>
        </div>
    </nav>

    <div style="min-height:400px;">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

