﻿@model Exception

<div style="margin-top:50px;">

    @if (Model != null)
    {

        <hgroup>
            <h1>Error.</h1>
            <h2>@Model.Message</h2>
            <h3>@Model.InnerException</h3>
        </hgroup>
    }
    else
    {
        <hgroup>
            <h1>Error.</h1>
            <h2>New Error</h2>
            <h3>Contact support if you think its not the expected behaviour.</h3>
        </hgroup>
    }
</div>
