@{
    Layout = null;
}
<div class="container" style="margin-bottom:0px;margin-top:70px;width:100%;background:#0D567F;">
    <div class="footer_style row">
        <div class="first_footer">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/images/logo.png" style="background:#0d567f; margin-top:7px" width="150" />
            </a>
            <p class="alignment" style="font-size:15px;color:black;">
                <a href="#"><img title="Download on App Store" src="~/Content/images/app.png" width="140" /></a>
            </p>
        </div>
        <div style="width:240px;margin-left:0px;padding:10px;" class="Navbar_font">
            <h2 class="alignment title_font" style="margin-bottom:20px;font-weight:bold;font-size:18px;color:#99A3A4;">THE SERVICE</h2>
            <p class="alignment" style="font-size:15px;">
                <a style="color:white;" href="@Url.Action("ProductsPage","Product", new { Tp="Men"})">Men</a><br><br>
                <a style="color:white;" href="@Url.Action("ProductsPage","Product", new { Tp="Women"})">Women</a><br><br>
                <a style="color:white;" href="@Url.Action("ProductsPage","Product", new { Tp="Kids"})">Kids</a><br><br>
            </p>
        </div>
        <div style="width:240px;margin-left:0px;padding:10px;" class="Navbar_font">
            <h2 class="alignment title_font" style="margin-bottom:20px;font-weight:bold;font-size:18px;color:#99A3A4;">THE COMPANY</h2>
            <p class="alignment" style="font-size:15px;color:white;">
                <a style="color:white;" href="@Url.Action("About","Home")">About Us</a><br><br>
            </p>
        </div>
        <div style="width:240px;margin-left:0px;padding:10px;" class="Navbar_font">
            <h2 class="alignment title_font" style="margin-bottom:20px;font-weight:bold;font-size:18px;color:#99A3A4;">HAVE A QUESTION?</h2>
            <p class="alignment" style="font-size:15px;color:white;">
                <a style="color:white;" href="@Url.Action("FAQ","Home")">FAQ</a><br><br>
                <a style="color:white;" href="#">Contact Us</a>
            </p>
        </div>
        <div class="last_footer Navbar_font">
            <h2 class="alignment title_font" style="margin-bottom:20px;font-weight:bold;font-size:18px;color:#99A3A4;">FOLLOW US</h2>
            <p class="alignment" style="font-size:15px;color:white;" >
                <ul class="social-network social-circle">
                    <li><a target="_blank" style="margin-bottom:5px;" href="https://www.instagram.com/outfix.asia/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" style="margin-bottom:5px;" href="https://www.facebook.com/OutfixAsia/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.snapchat.com/add/outfixasia" class="icoSnapchat" title="Snapchat"><i class="fa fa-snapchat"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UC_lSLzLodOzJqSYiFUJdx5A" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </p>
        </div>
    </div>

    <div class="container trademark Navbar_font">
        <p style="font-size:15px;color:#99A3A4;float:left;" >Out Fix and Fix are trademarks of Out Fix, Inc.</p>
        <p style="font-size:15px;color:#99A3A4;float:right;"><a style="color:white;" href="#">Terms of Use</a>&nbsp;|&nbsp;<a style="color:white;" href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a></p>
    </div>
</div>
