﻿@{
    Layout = null;
    var cart = Session["Cart"] as List<Outfix.Models.CartModel>;
    var count = Session["CartCount"] != null ? Convert.ToInt32(Session["CartCount"]) : 0;
}
<div style="height:50px;width:11%;text-align:center;">
    <a class="Header_Links" onclick="myFunction();"><img src="~/Content/images/burger.png" style="outline:none;cursor:pointer;padding-right:1px;margin-top:5px;" width="40" /></a>
</div>
<div style="height:50px;width:23%;text-align:center;">
    <a class="Header_Links" href="@Url.Action("Index", "Home")"><p style="font-size:25px;margin-top:7px;"><b>OUTFIX</b></p></a>
</div>
<div style="display:flex;height:50px;width:52%;margin-left:12%;">
    @if (Session["Customer"] == null || string.IsNullOrEmpty(Session["Customer"].ToString()))
    {
        <div style="height:50px;width:66%;text-align:center;">
            <a class="Header_Links" href="#" data-toggle="modal" data-target="#modalLogin"><p style="font-size:25px;margin-top:7px;"><b>LOGIN</b></p></a>
        </div>
    }
    else
    {
        <div style="width:33%;text-align:center;">
            <img onClick="Navbar.Profile_appear();" src="~/Content/images/user_1.png" style="cursor:pointer;margin-top:3px;" width="40" />
        </div>
        <div style="width:33%;text-align:center;">
            <img onClick="Navbar.Wallet_appear();" src="~/Content/images/wallet.png" style="cursor:pointer;margin-top:2px;" width="55" />
        </div>
    }
    <div style="width:34%;text-align:center;">
        @if (Session["Customer"] == null || string.IsNullOrEmpty(Session["Customer"].ToString()))
        {
            <img onClick="Navbar.Box_appear();" src="~/Content/images/box-outfix.png" style="cursor:pointer;margin-top:1px;" width="45" />
        }
        else
        {
            <img onClick="Navbar.Box_appear();" src="~/Content/images/box-outfix.png" style="cursor:pointer;margin-top:1px;" width="45" />
        }
        @if (count > 0)
        {
            <div id="cartCount" style="position:relative; margin:-43px 0px 0px 55%;height:52%;width:41%;font-size:18px;padding-top:1px;background:red;border-radius:50%;"><b>@count</b></div>
        }
        else
        {
            <div id="cartCount" style="position:relative; margin:-43px 0px 0px 55%;height:52%;width:41%;font-size:18px;padding-top:1px;background:red;border-radius:50%;" hidden><b></b></div>
        }
    </div>
</div>