﻿@{
    Layout = null;

    var common = new Outfix.Commons.WP_Common();
    var MCL = common.getAllCategories();
    var SCL = common.getAllSubCategories();
    var TL = common.getAllTypes();
}

<div style="height:50px;width:100%;text-align:center;">
    <form>
        <input name="Search" style="padding-left:5px;background:#EAECEE;font-size:15px;border:1px solid white;border-radius:2px;color:black;text-align:left;margin:7px;width:60%;height:35px;" placeholder="Search Items Here..." />
        <span class="search_fa_btn"><i class="fa fa-search"></i></span>
    </form>
</div>

<div id="search_results_mobile" class="search_results_mobile">
</div>

<div style="width:100%;display:flex;margin-top:10px;font-size:15px;">
    <div style="width:33%;text-align:center;color:white;font-weight:bold;">
        <a onclick="Navbar.Men_mbl_appear();" id="link_men" class="Header_Links">Men</a>
    </div>
    <div style="width:33%;text-align:center;color:white;font-weight:bold;">
        <a onclick="Navbar.Women_mbl_appear();" id="link_women" class="Header_Links">Women</a>
    </div>
    <div style="width:33%;text-align:center;color:white;font-weight:bold;">
        <a onclick="Navbar.Kids_mbl_appear();" id="link_kids" class="Header_Links">Kids</a>
    </div>
</div>

<div style="width:100%;display:flex;margin-top:0px;font-size:15px;">
    <div style="width:33%;text-align:center;color:white;font-weight:bold;">
        <span id="Men_Pointer" class="glyphicon glyphicon-triangle-top"></span>
    </div>
    <div style="width:33%;text-align:center;color:white;font-weight:bold;">
        <span id="Women_Pointer" class="glyphicon glyphicon-triangle-top"></span>
    </div>
    <div style="width:33%;text-align:center;color:white;font-weight:bold;">
        <span id="Kids_Pointer" class="glyphicon glyphicon-triangle-top"></span>
    </div>
</div>

@if (TL != null)
{
    foreach (var type in TL)
    {
        var id = "Navbar." + type.ID + "_mbl_appear()";
        var mid = type.ID + "_Mobile";

        <div id="@mid" class="Mobile_Submenu" style="flex-wrap:wrap;">
            @for (int i = 0; i < MCL.Count; i += 1)
            {
                <div style="margin-bottom:5px;display:inline-block;padding:5px;width:auto;text-align:center;">
                    @{
                        Outfix.Models.MainCategoryModel mainCat = null;

                        if (i < MCL.Count)
                        {
                            mainCat = MCL.ElementAt(i);
                        }
                    }
                    @if (mainCat != null)
                    {
                        if (mainCat.Type.Contains(type.ID) && SCL.Where(x => x.MainCategoryName == mainCat.Name && x.Type.Contains(type.ID)).Count() > 0)
                        {
                            <p style="font-weight:bold;">
                                @mainCat.Name
                            </p>

                            foreach (var subCat in SCL)
                            {
                                if (subCat.MainCategoryName == mainCat.Name && subCat.Type.Contains(type.ID))
                                {
                                    <a style="color:black;text-decoration:none;" href="@Url.Action("ProductsPage","Product",new { Ct = mainCat.Name, SCt = subCat.Name, Tp = type.ID })">@subCat.Name</a><br>
                                }
                            }

                        }
                    }

                </div>
            }
        </div>
    }
}
