@{
    Layout = null;
    var cart = Session["Cart"] as List<Outfix.Models.CartModel>;
    var count = Session["CartCount"] != null ? Convert.ToInt32(Session["CartCount"]) : 0;
}

<div class="Desktop_Menu">
    <div style="height:50px;width:10%;text-align:center;">
        <a class="Header_Links" href="@Url.Action("Index","Home")"><p style="font-size:30px;margin:4px;"><b>OUTFIX</b></p></a>
    </div>
    <div style="height:50px;width:6%;text-align:center;">
        <a onMouseOver="Navbar.Men_appear();" class="Header_Links"><p style="font-size:20px;margin:11px;">MEN</p></a>
    </div>
    <div style="height:50px;width:9%;text-align:center;">
        <a onMouseOver="Navbar.Women_appear();" class="Header_Links"><p style="font-size:20px;margin:11px;">WOMEN</p></a>
    </div>
    <div style="height:50px;width:6%;text-align:center;">
        <a onMouseOver="Navbar.Kids_appear();" class="Header_Links"><p style="font-size:20px;margin:11px;">KIDS</p></a>
    </div>
    <div style="height:50px;width:50%;text-align:center;">
        <input name="Search" style="padding-left:5px;background:#EAECEE;font-size:18px;border:1px solid white;border-radius:2px;color:black;text-align:left;margin:7px;width:60%;height:35px;" placeholder="Search Items Here..." />
        <span class="search_fa_btn"><i class="fa fa-search"></i></span>
    </div>
    @if (Session["Customer"] == null || string.IsNullOrEmpty(Session["Customer"].ToString()))
    {
        <div style="height:50px;width:13%;text-align:center;">
            <a class="Header_Links" href="#" data-target="#modalLogin" data-toggle="modal"><b><p style="font-size:25px;margin:7px;">LOGIN</p></b></a>
        </div>
    }
    else
    {
        <div style="display:flex;height:50px;width:13%;text-align:center;">
            <div onClick="Navbar.Profile_appear();" style="height:50px;width:50%;text-align:center;">
                <img style="cursor:pointer;margin:4px; height: 80%; width: 100%; object-fit: contain;" src="~/Content/images/user_1.png" />
            </div>
            <div onClick="Navbar.Wallet_appear();" style="height:50px;width:50%;text-align:center;">
                <img style="cursor:pointer;margin:2px; height: 90%; width: 100%; object-fit: contain;" src="~/Content/images/wallet.png" />
            </div>
        </div>
    }

    <div onclick="Navbar.Box_appear();" style="height:50px;width:6%;text-align:center;">
        @if (Session["Customer"] == null || string.IsNullOrEmpty(Session["Customer"].ToString()))
        {
            <img style="cursor:pointer; height: 100%; width: 100%; object-fit: contain;" src="~/Content/images/box-outfix.png" />
        }
        else
        {
            <img style="cursor:pointer; height: 100%; width: 100%; object-fit: contain;" src="~/Content/images/box-outfix.png" />
        }
        @if (count > 0)
        {
            <div id="cartCount" style="position:relative; margin:-45px 0px 0px 55%;height:55%;width:35%;font-size:18px;background:red;padding:2px 8px 2px 8px;border-radius:50%;"><b>@count</b></div>
        }
        else
        {
            <div id="cartCount" style="position:relative; margin:-45px 0px 0px 55%;height:55%;width:35%;font-size:18px;background:red;padding:2px 8px 2px 8px;border-radius:50%;" hidden><b></b></div>
        }
    </div>

</div>

<div class="Box" id="Box" hidden>
    @Html.Action("NavbarCart", "Cart", routeValues: null)
</div>

<div class="Wallet" id="Wallet" hidden>
    @Html.Partial("~/Views/Profile/Wallet.cshtml")
</div>

<div id="Profile_Div" class="Profile_Div" hidden>
    @Html.Partial("~/Views/Profile/MobileProfile.cshtml")
</div>

<div id="SearchResults" class="search_results">
</div>

<div class="Mobile_Menu">
    @Html.Partial("~/Views/Shared/MobileMenu.cshtml")
</div>

@Html.Partial("~/Views/Shared/SubMenu.cshtml")

<div style="width:100%;height:51px;">
</div>

<div class="Pointers_Div">
    <div class="Profile_Pointer_Div">
        <span id="Profile_Pointer" style="display:none" class="Profile_Pointer glyphicon glyphicon-triangle-top"></span>
    </div>
    <div class="Wallet_Pointer_Div">
        <span id="Wallet_Pointer" style="display:none" class="Wallet_Pointer glyphicon glyphicon-triangle-top"></span>
    </div>
    <div class="Box_Pointer_Div">
        <span id="Box_Pointer" style="display:none" class="Box_Pointer glyphicon glyphicon-triangle-top"></span>
    </div>
</div>

<div class="mobile_options" id="mobile_options">
    @Html.Partial("~/Views/Shared/MobileOptions.cshtml")
</div>

<div id="msg_notification" class="order_notification" style="display:none;">
    <span style="cursor:pointer;padding:5px;color:#F39C12;float:right;font-size:15px;" class="glyphicon glyphicon-remove"></span><br>
    <h3 id="msg_heading" style="color:green;font-weight:bold;"></h3>
    <p id="msg_body" style="font-weight:bold;font-size:15px;"></p>
</div>

@*get register modal*@
@Html.Action("Login", "Account", routeValues: null)

