﻿@{
    Layout = null;
    var common = new Outfix.Commons.WP_Common();
    var MCL = common.getAllCategories();
    var SCL = common.getAllSubCategories();
    var TL = common.getAllTypes();

}

@if (TL != null)
{
    foreach (var type in TL)
    {
        var imgSrc = "";
        if (type.ID.Equals("Men"))
        {
            imgSrc = "/Content/images/Categories/SM_Men.jpeg";
        }
        else if (type.ID.Equals("Women"))
        {
            imgSrc = "/Content/images/Categories/SM_Women.jpeg";
        }
        else if (type.ID.Equals("Kids"))
        {
            imgSrc = "/Content/images/Categories/SM_Kids.jpeg";
        }

        <div id="@type.ID" onMouseLeave="Navbar.SubMenuDissapear(this)" class="container sub_menu">
            <div class="row">
                <div style="width:auto;padding:10px;">
                    <img width="400" src="@imgSrc" />
                </div>
                @foreach (var mainCat in MCL)
                {
                    if (mainCat.Type.Contains(type.ID) && SCL.Where(x => x.MainCategoryName == mainCat.Name && x.Type.Contains(type.ID)).Count() > 0)
                    {
                        <div style="width:auto;padding:10px;">
                            <h2 class="alignment" style="margin-bottom:20px;font-weight:bold;font-size:18px;color:#99A3A4;">@mainCat.Name</h2>
                            <p class="alignment" style="font-size:15px;color:black;">
                                @foreach (var subCat in SCL)
                                {
                                    if (subCat.MainCategoryName == mainCat.Name && subCat.Type.Contains(type.ID))
                                    {
                                        <a style="color:black;" href="@Url.Action("ProductsPage","Product",new { Ct = mainCat.Name, SCt = subCat.Name, Tp = type.ID })">@subCat.Name</a><br>
                                    }
                                }
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
    }
}