﻿@model List<Outfix.Models.ProductModel>

@{
    ViewBag.Title = "Product Page";
    var cart = Session["Cart"] as List<Outfix.Models.CartModel>;
    var hir = (List<Outfix.Models.AnchorsModel>)ViewBag.Hierarchy;

}

<div>
    <div id="myCarousel" class="myCarousel carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/images/Slider/F1.jpeg" alt="Los Angeles" style="width:100%;">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1 class="slide_heading">First Slide</h1>
                    <p class="slide_para">Hi, My name is Khan</p>
                </div>*@
            </div>

            <div class="item">
                <img src="~/Content/images/Slider/F3.jpeg" alt="Chicago" style="width:100%;">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1 class="slide_heading">Second Slide</h1>
                    <p class="slide_para">Hi, My name is Khan</p>
                </div>*@
            </div>

            <div class="item">
                <img src="~/Content/images/Slider/F4.jpeg" alt="New york" style="width:100%;">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1 class="slide_heading">Third Slide</h1>
                    <p class="slide_para">Hi, My name is Khan</p>
                </div>*@
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Mobile Carousel -->
    <div id="myCarousel_mobile" class="myCarousel_mobile carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel_mobile" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel_mobile" data-slide-to="1"></li>
            <li data-target="#myCarousel_mobile" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/images/Slider/F1.jpeg" alt="Los Angeles" style="width:100%;">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1 class="slide_heading">First Slide</h1>
                    <p class="slide_para">Hi, My name is Khan</p>
                </div>*@
            </div>

            <div class="item">
                <img src="~/Content/images/Slider/F3.jpeg" alt="Chicago" style="width:100%;">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1 class="slide_heading">Second Slide</h1>
                    <p class="slide_para">Hi, My name is Khan</p>
                </div>*@
            </div>

            <div class="item">
                <img src="~/Content/images/Slider/F4.jpeg" alt="New york" style="width:100%;">
                @*<div class="carousel-caption d-none d-md-block">
                    <h1 class="slide_heading">Third Slide</h1>
                    <p class="slide_para">Hi, My name is Khan</p>
                </div>*@
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel_mobile" data-slide="next">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel_mobile" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="anchors">

    &nbsp;&nbsp;<a href="@Url.Action("Index","Home")">Home</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
    @foreach (var a in hir)
    {
        @:&nbsp;&nbsp;<a href="@a.Value">@a.Name</a>&nbsp; &nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
    }

    @{
        var sideFilters = (Outfix.Models.SearchFilterModel)ViewBag.SideFilters;
        var order = sideFilters.SB != null ? sideFilters.SB : "";
    }

    <p class="relevance" style="float:right;font-size:16px;background:white;color:black;vertical-align:middle;">
        Sort By:
        <select style="border:1px solid black;" name="order" onchange="PPage.sortBy(this)">
            @if (order.Equals("rt"))
            {
                <option value="rt" selected>Popularity</option>
            }
            else
            {
                <option value="rt">Popularity</option>
            }
            @if (order.Equals("pl"))
            {
                <option value="pl" selected>Price Low to High</option>
            }
            else
            {
                <option value="pl">Price Low to High</option>
            }
            @if (order.Equals("ph"))
            {
                <option value="ph" selected>Price High to low</option>
            }
            else
            {
                <option value="ph">Price High to low</option>
            }
        </select>
    </p>
</div>

<div class="shop container">
    <div class="row">
        @Html.Action("ShowFilters", "Product", new { search = ViewBag.SideFilters })

        <p class="relevance_mobile">
            Sort By:
            <select style="border:1px solid black;" name="order" onchange="PPage.sortBy(this)">
                @if (order.Equals("rt"))
                {
                    <option value="rt" selected>Popularity</option>
                }
                else
                {
                    <option value="rt">Popularity</option>
                }
                @if (order.Equals("pl"))
                {
                    <option value="pl" selected>Price Low to High</option>
                }
                else
                {
                    <option value="pl">Price Low to High</option>
                }
                @if (order.Equals("ph"))
                {
                    <option value="ph" selected>Price High to low</option>
                }
                else
                {
                    <option value="ph">Price High to low</option>
                }
            </select>
        </p>
        <div class="items">
            @foreach (var product in Model)
            {
                string btnCart = "btnCart_" + product.ItemCode;
                string loaderGif = "ld_" + product.ItemCode;

                <a style="text-decoration:none;color:black;" href="@Url.Action("ProductsDetailsPage","Product",new { id = product.ItemCode})">
                    <div class="item_border">
                        <img class="item_image" src="@product.Picture1" width="300" />
                        @if (cart != null && cart.Count > 0)
                        {
                            if (cart.Where(x => x.Id == product.ItemCode).ToList().Count > 0)
                            {
                                @*<input type="button" class="btn start1" value="Product Added" data-content="" id="@btnCart" />*@
                            }
                            else
                            {
                                @*<input type="button" class="btn start1 addToCart" value="Add to Fix Box" data-content="" id="@btnCart" />*@
                            }
                        }
                        else
                        {
                            @*<input type="button" class="btn start1" value="Add to Fix Box" onclick="PPage.IFrame(@product.ItemCode)" id="@btnCart" />*@
                        }
                        <div id="@loaderGif" style="margin-left:150px;margin-top:-240px; position:absolute" hidden>
                            <img src="~/Content/images/25.gif" />
                        </div>
                        <div class="normalHeading_font" style="width:100%;text-align:center;font-size:15px;">
                            <div style="margin:auto;width:100%;text-align:center;">
                                <img class="item_image_1" width="70" src="~/Content/images/new.png" />
                            </div>
                            <p>
                                @product.Name<br>
                                @if (product.Rating > 0)
                                {
                                    for (int i = 1; i <= product.Rating; i++)
                                    {
                                        <span style="font-size:20px;" class="fa fa-star checked"></span>
                                    }
                                    if (Math.Ceiling(product.Rating) - product.Rating != 0)
                                    {
                                        <span style="font-size:20px;color:orange" class="fa fa-star-half-o"></span>
                                    }
                                    for (int i = 1; i <= 5 - Math.Ceiling(product.Rating); i++)
                                    {
                                        <span style="font-size:20px;" class="fa fa-star"></span>
                                    }
                                }
                                <br><font style="color:red;font-weight:bold;">Rs. @product.Price</font>
                            </p>
                            @*<p style="font-size:12px;">$27.50 when you buy any 4 or more</p>*@
                            <input type="button" class="btn start2 addToCart" value="Add to Fix Box" onclick="location.href = '@Url.Action("ProductsDetailsPage", "Product", new { id = product.ItemCode })'" data-content="" id="@btnCart" />
                        </div>
                    </div>
                </a>

            }
        </div>
        @*<div id="divIFrame" style="position:fixed;width:75%;border:1px solid black;margin-top: -700px;margin-left: 120px;height: auto;">
            </div>*@
    </div>
</div>
