@model List<Outfix.Models.ProductVariationModel>
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    var firstVariation = Model.FirstOrDefault();
    var itemCode = Model.FirstOrDefault().ProductId;

    // var VariationValues = (List<Outfix.Models.ProductVariationModel>)Session["VariationValues"];
    // var VariationProduct = VariationValues != null ? VariationValues.FirstOrDefault(x => x.ProductId == itemCode) : null;
    var data_content = "";

    var color = Model.Where(x => !string.IsNullOrEmpty(x.Color)).Select(x => new { x.Color, x.Picture, x.ID }).ToList();
    var colorArr = new List<string>();

    if (color.Count > 0)
    {
        <h3 style="font-weight:bold;font-size:20px;">Color</h3>
        <div class="color_selection" name="Color">
            @foreach (var item in color)
            {
                var itemArr = color.Where(x => x.Color == item.Color).ToList();
                var ids = "";
                itemArr.ForEach(x => { ids += x.ID + ","; });
                if (itemArr != null && itemArr.Count > 0 && !colorArr.Contains(item.Color.ToLower()))
                {
                    var active = "";

                    if (firstVariation != null && item.Color == firstVariation.Color)
                    {
                        active = "active";
                        { data_content += "Color:" + item.Color + ","; }
                    }
                    <div class="color_selection_border @active" name="Color" id="@itemCode" value="@item.Color" data-content="@ids" onclick="PPage.ddlValueChange(this)" style="cursor:pointer;text-align:center;display:inline-block;width:10%;">
                        <h5 class="show_on_mobile">@item.Color</h5>
                        <a onMouseOver="Picture.PDesImage(this);" data-content="@item.Picture">
                            <img width="50" src="@item.Picture" title="@item.Color" />
                        </a>
                    </div>
                }
                colorArr.Add(item.Color.ToLower());
            }
        </div>
    }
    var collarSize = Model.Where(x => !string.IsNullOrEmpty(x.ColarSize)).Select(x => new { x.ColarSize, x.ID }).ToList();
    var csizes = new String[] { "14.5", "15", "15.5", "16", "16.5", "17" };

    if (collarSize.Count > 0)
    {
        <h3 style="font-weight:bold;font-size:20px;">Collar Size</h3>
        <select id="@itemCode" style="padding:5px;font-size:18px;border:1px solid black;" name="ColarSize" onchange="PPage.ddlValueChange(this)" required>
            <option value="clear" selected> -- select collar size -- </option>

            @foreach (var item in csizes)
            {
                var itemArr = collarSize.Where(x => x.ColarSize == item).ToList();
                var ids = "";
                itemArr.ForEach(x => { ids += x.ID + ","; });
                if (itemArr != null && itemArr.Count > 0)
                {
                    if (firstVariation != null && item == firstVariation.ColarSize)
                    {
                        <option value="@item" data-content="@ids" selected> @item </option>
                        { data_content += "ColarSize:" + item + ","; }
                    }
                    else
                    {
                        <option value="@item" data-content="@ids"> @item </option>
                    }
                }
                else
                {
                    <option value="@item" disabled>@item &nbsp; Out Of Stock </option>
                }
            }

        </select>
    }

    var fitType = Model.Where(x => !string.IsNullOrEmpty(x.FitType)).Select(x => new { x.FitType, x.ID }).ToList();
    var fitTypeArr = new String[] { "Fit", "Slim" };

    if (fitType.Count > 0)
    {
        <h3 style="font-weight:bold;font-size:20px;">Fit Type</h3>
        <select id="@itemCode" style="padding:5px;font-size:18px;border:1px solid black;" name="FitType" onchange="PPage.ddlValueChange(this)" required>
            <option selected> -- select fit type -- </option>
            @foreach (var item in fitTypeArr)
            {
                var itemArr = fitType.Where(x => x.FitType.ToLower() == item.ToLower()).ToList();
                var ids = "";
                itemArr.ForEach(x => { ids += x.ID + ","; });
                if (itemArr != null && itemArr.Count > 0)
                {
                    if (firstVariation != null && item == firstVariation.FitType)
                    {
                        <option value="@item" data-content="@ids" selected> @item </option>
                        { data_content += "FitType:" + item + ","; ; }
                    }
                    else
                    {
                        <option value="@item" data-content="@ids">@item </option>
                    }
                }
                else
                {
                    <option value="@item" disabled>@item  &nbsp; Out Of Stock </option>
                }
            }
        </select>
    }

    var size = Model.Where(x => !string.IsNullOrEmpty(x.Size)).Select(x => new { x.Size, x.ID }).ToList();
    var sizes = new String[] { "S", "M", "L", "XL" };
    if (size.Count > 0)
    {
        <h3 style="font-weight:bold;font-size:20px;">Size</h3>
        <select id="@itemCode" style="padding:5px;font-size:18px;border:1px solid black;" name="Size" onchange="PPage.ddlValueChange(this)" required>
            <option selected> -- select size -- </option>
            @foreach (var item in sizes)
            {
                var itemArr = size.Where(x => x.Size.ToLower() == item.ToLower()).ToList();
                var ids = "";
                itemArr.ForEach(x => { ids += x.ID + ","; });
                if (itemArr != null && itemArr.Count > 0)
                {
                    if (firstVariation != null && item == firstVariation.Size)
                    {
                        <option value="@item" data-content="@ids" selected> @item </option>
                        { data_content += "Size:" + item + ","; ; }
                    }
                    else
                    {
                        <option value="@item" data-content="@ids">@item </option>
                    }
                }
                else
                {
                    <option value="@item" disabled>@item  &nbsp; Out Of Stock </option>
                }
            }
        </select>
    }
    <br><br>

    <h3 style="display:inline;font-weight:bold;">Qty:</h3>

    var qty = 0;
    var qtyId = "Qty_" + itemCode;


    <select id="@qtyId" style="text-align-last:center;display:inline;width:55px;height:30px;font-size:18px;border:1px solid black;" name="size">

        @if (firstVariation != null)
        {
            if (firstVariation.Qty > 0)
            {
                <option value="1">1</option>
            }
            if (firstVariation.Qty > 1)
            {
                <option value="2">2</option>
            }
            if (firstVariation.Qty > 2)
            {
                <option value="3">3</option>
            }
            if (firstVariation.Qty > 3)
            {
                <option value="4">4</option>
            }
        }
        else
        {
            <option value="0">0</option>
        }

    </select>

    string btnCart = "btnCart_" + itemCode;

    <div style="margin-top:20px;width:70%;height:60px;">
        <button onclick="PPage.ClearAllDDLs(@itemCode)" class="btn clear_selection">Clear Selections&nbsp;&nbsp;&nbsp;<i class="fa fa-remove"></i></button>
        <button type="submit" class="btn add_product addToCart" id="@btnCart" data-content="@data_content" onclick="Cart.btnClickAddToCart(this)">Add to Fix Box&nbsp;&nbsp;&nbsp;<i class="fa fa-check"></i></button>
    </div>

}
