@model Outfix.ViewModels.ProductDetailViewModel
@{
    var hir = (List<Outfix.Models.AnchorsModel>)ViewBag.Hierarchy;
}


@if (Model.Product != null)
{

    <div class="container shipping_mobile">
        <marquee>
            <p style="float:left;font-size:10px;">
                FREE SHIPPING OVER CODE <div class="code_mobile">AK47</div>
            </p>
            <p style="float:right;font-size:10px;">SALE NOW ON</p>
        </marquee>
    </div>

    <div class="shipping">
        <marquee>
            <p style="float:left;font-size:20px;">
                FREE SHIPPING OVER CODE <font style="padding:0px 10px; 10px; 0px;border:2px solid white;">AK47</font>
            </p>
            <p style="float:right;font-size:20px;">SALE NOW ON</p>
        </marquee>
    </div>

    @*<div class="no_sale_mobile">
                <marquee><p style="float:center;font-size:10px;">NO SALE AT THE MOMENT</p></marquee>
            </div>


                 <div class="container no_sale">
            <marquee><p style="float:center;font-size:20px;">NO SALE AT THE MOMENT</p></marquee>
        </div>*@


    <div class="anchors">
        &nbsp;&nbsp;<a href="@Url.Action("Index","Home")">Home</a>&nbsp;&nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
        @foreach (var a in hir)
        {
            @:&nbsp;&nbsp;<a href="@a.Value">@a.Name</a>&nbsp; &nbsp;<span style="font-size:10px;" class="glyphicon glyphicon-triangle-right"></span>
        }
    </div>

    <div class="product container">
        <div class="row">
            <div class="product_image">
                <div class="image_container">
                    <div id="zoom_area"></div>
                    @if (!string.IsNullOrEmpty(Model.Product.Picture1))
                    {
                        <div id="image1" class="main_container">
                            <div class="zoom_container hidden">
                                <img id="picture_original" class="original" src="@Model.Product.Picture1">
                            </div>
                            <img id="pic_zoom" class="thumbnail" src="@Model.Product.Picture1">
                        </div>
                    }
                </div>
                <div class="product_slide">
                    @if (!string.IsNullOrEmpty(Model.Product.Picture1))
                    {
                        <a onMouseOver="Picture.PDesImage(this);" data-content="@Model.Product.Picture1"><img src="@Model.Product.Picture1" width="80" style="border-radius:2px;margin:2px;border:1px solid #E5E7E9;cursor:pointer;display:inline;" /></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Product.Picture2))
                    {
                        <a onMouseOver="Picture.PDesImage(this);" data-content="@Model.Product.Picture2"><img src="@Model.Product.Picture2" width="80" style="border-radius:2px;margin:2px;border:1px solid #E5E7E9;cursor:pointer;display:inline;" /></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Product.Picture3))
                    {
                        <a onMouseOver="Picture.PDesImage(this);" data-content="@Model.Product.Picture3"><img src="@Model.Product.Picture3" width="80" style="border-radius:2px;margin:2px;border:1px solid #E5E7E9;cursor:pointer;display:inline;" /></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Product.Picture4))
                    {
                        <a onMouseOver="Picture.PDesImage(this);" data-content="@Model.Product.Picture4"><img src="@Model.Product.Picture4" width="80" style="border-radius:2px;margin:2px;border:1px solid #E5E7E9;cursor:pointer;display:inline;" /></a>
                    }
                    @if (!string.IsNullOrEmpty(Model.Product.Picture5))
                    {
                        <a onMouseOver="Picture.PDesImage(this);" data-content="@Model.Product.Picture5"><img src="@Model.Product.Picture5" width="80" style="border-radius:2px;margin:2px;border:1px solid #E5E7E9;cursor:pointer;display:inline;" /></a>
                    }
                </div>
            </div>

            <div class="product_description">

                <h1 class="normalHeading_font" style="font-weight:bold;font-size:30px;">@Model.Product.Name</h1>
                <b><p><font style="font-size:12px;color:black;">Product Code: @Model.Product.ItemCode</font></p></b>
                @if (Model.Product.Rating > 0)
                {
                    for (int i = 1; i <= Model.Product.Rating; i++)
                    {
                        <span style="font-size:18px;" class="fa fa-star checked"></span>
                    }
                    if (Math.Ceiling(Model.Product.Rating) - Model.Product.Rating != 0)
                    {
                        <span style="font-size:18px;color:orange" class="fa fa-star-half-o"></span>
                    }
                    for (int i = 1; i <= 5 - Math.Ceiling(Model.Product.Rating); i++)
                    {
                        <span style="font-size:18px;" class="fa fa-star "></span>
                    }
                }
                @{
                    var ratingCount = Model.Reviews.Where(x => x.Rating != 0).Count();
                }

                &nbsp;&nbsp;<font style="font-size:20px;color:black;">@ratingCount Ratings | @Model.Reviews.Count Reviews</font><br>

                @if (Model.Product.DiscountedPrice > 0)
                {
                    <font id="ProductPrice" data-content="@Model.Product.DiscountedPrice" style="font-size:18px;color:black;"><del>Rs @Model.Product.Price </del></font>@:&nbsp;<font style="font-size:18px;color:maroon;"><b>Now&nbsp;Rs @Model.Product.DiscountedPrice </b></font>
                }
                else
                {
                    <font id="ProductPrice" data-content="@Model.Product.Price" style="font-size:18px;color:black;">Rs @Model.Product.Price </font>
                }

                @*<br><br><font style="font-size:18px;color:maroon;"><b>$24.45 when you buy any 5 or more</b></font>*@

                <div id="product_variation">
                    @Html.Action("ProductVariations", "Product", new { p = Model.Product.Variation })
                </div>

                <div style="margin-top:50px;" class="tab">
                    <button class="tablinks active" onclick="openCity(event, 'Description')">Description</button>
                    <button class="tablinks" onclick="openCity(event, 'ReturnGuide')">Return</button>
                    <button class="tablinks" onclick="openCity(event, 'Reviews')">Reviews</button>
                </div>

                <div id="Description" class="Description tabcontent active">
                    @Html.Raw(@Model.Product.Description)
                </div>

                <div id="ReturnGuide" class="ReturnGuide tabcontent">
                    @Html.Raw(@Model.Product.ReturnPolicy)
                </div>

                <div id="Reviews" class="Reviews tabcontent">
                    <div style="display:flex">
                        <div class="review_rating">
                            <p class="rating_heading">Average Rating</p>
                            @if (Model.Product.Rating > 0)
                            {
                                for (int i = 1; i <= Model.Product.Rating; i++)
                                {
                                    <span style="font-size:18px;" class="fa fa-star checked"></span>
                                }
                                if (Math.Ceiling(Model.Product.Rating) - Model.Product.Rating != 0)
                                {
                                    <span style="font-size:18px;color:orange" class="fa fa-star-half-o"></span>
                                }
                                for (int i = 1; i <= 5 - Math.Ceiling(Model.Product.Rating); i++)
                                {
                                    <span style="font-size:18px;" class="fa fa-star"></span>
                                }
                            }

                            <span style="display:block;margin-top:10px">Based On</span>
                            <span style="display:block;margin-top:10px"><strong style="font-size:18px">50</strong> Users</span>
                        </div>
                        <div class="review_comments">
                            @foreach (var review in Model.Reviews)
                            {
                                var userletter = "/Content/images/Letters/A.png";
                                if (review.CustomerName != null && char.IsLetter(review.CustomerName, 0))
                                {
                                    userletter = "/Content/images/Letters/" + review.CustomerName.ToUpper()[0] + ".png";
                                }
                                <div style="display:flex">
                                    <div style="text-align:center;margin-left:3px;width:20%;display:inline-block;">
                                        <img class="reviewer_image" src="@userletter" />
                                        <p style="word-break:break-all;"><strong>@review.CustomerName</strong></p>
                                        <p class="review_date">22 Nov, '19</p>
                                    </div>
                                    <div style="width:50%;display:inline-block;margin-left:10px;padding:10px;">
                                        <p class="reviewer_opinion">@review.Description</p>
                                    </div>
                                    <div style="vertical-align:middle;width:25%;display:inline-block;;margin-left:10px">

                                        @if (review.Rating > 0)
                                        {
                                            for (int i = 1; i <= review.Rating; i++)
                                            {
                                                <span style="font-size:18px;" class="fa fa-star checked"></span>
                                            }
                                            for (int i = 1; i <= 5 - review.Rating; i++)
                                            {
                                                <span style="font-size:18px;" class="fa fa-star"></span>
                                            }
                                        }
                                        else
                                        {
                                            <h5>No Rating Given</h5>
                                        }
                                    </div>
                                </div>
                                <hr style="margin-top:0px;margin-bottom:10px;" />
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("SimilarProducts", "Product", new { ic = Model.Product.ItemCode })
}
