﻿@model List<String>
@{
    Layout = null;

    if (ViewBag.search == "mbl")
    {
        foreach (var name in Model)
        {
            <!-- Loop Starts Here -->
            <a style="color:black;text-decoration:none;" href="PPage.ClickSearchItem('@name')">
                <div style="border:1px solid black;font-size:10px;display:flex;height:auto;width:100%;">
                    <div style="padding:5px;text-align:center;display:inline-block;width:20%;height:auto;"><img src="~/Content/images/Shirts/Shirt1.jpg" width="60" /></div>
                    <div style="padding-top:20px !important;margin-left:15px;padding:5px;text-align:center;display:inline-block;width:70%;height:auto;">@name</div>
                </div>
            </a>
            <!-- Loop Ends Here -->
        }
    }
    else
    {
        foreach (var name in Model)
        {
            <a style="color:black;text-decoration:none;" href="PPage.ClickSearchItem('@name')">
                <div style="border:1px solid black;font-size:20px;display:flex;height:auto;width:100%;">
                    <div style="padding:5px;text-align:center;display:inline-block;width:20%;height:auto;"><img src="~/Content/images/Shirts/Shirt1.jpg" width="60" /></div>
                    <div style="padding:5px;text-align:center;display:inline-block;width:70%;height:auto;">@name</div>
                </div>
            </a>
        }
    }
}