﻿@model List<Outfix.Models.ProductFilterModel>

@{
    Layout = null;
    Outfix.Models.SearchFilterModel filterCheck = null;
    if (ViewBag.SideFilters != null)
    {
        filterCheck = (Outfix.Models.SearchFilterModel)ViewBag.SideFilters;
    }
}

<div class="Filters w-25" style="margin-left:20px;display:inline-block;">
    <center><h3 class="title_font"><b>Filters</b></h3></center>
    <div style="border:1px solid black;"></div>

    @foreach (var filter in Model)
    {
        if (filter.Values.Count > 0)
        {
            if (filter.Name.Equals("Price"))
            {
                <div style="width:100%;text-align:left;">
                    <h3 class="normalHeading_font"><b>Price</b></h3>
                    <div style="width:100%;text-align:left;">
                        <form style="text-align:center;" id="frmPriceFilter">
                            <input style="width:100px;height:30px;margin:0px;font-size:14px;border:1px solid black;text-align:center;" type="number" id="min" name="min" placeholder="Min Amount" />
                            <input style="width:100px;height:30px;margin:0px;font-size:14px;border:1px solid black;text-align:center;" type="number" id="max" name="max" placeholder="Max Amount" />
                            <button class="btn start" style="margin:0px;margin-top:-3px !important;width:30px;height:30px " type="submit">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }
            else if (filter.Name.Equals("Rating"))
            {
                <div style="width:100%;text-align:left;">
                    <h3><b>Rating</b></h3>
                    <div style="width:100%;text-align:left;">
                        <div class="rating">
                            <span onclick="PPage.filterByRating(5)">☆</span>
                            <span onclick="PPage.filterByRating(4)">☆</span>
                            <span onclick="PPage.filterByRating(3)">☆</span>
                            <span onclick="PPage.filterByRating(2)">☆</span>
                            <span onclick="PPage.filterByRating(1)">☆</span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="size_items_mobile">
                    <h3 class="normalHeading_font" style="font-family:'Century Gothic'"><b><u>@filter.FullName</u></b></h3>
                    <div style="width:200px;text-align:left;">
                        <form style="text-align:left;">
                            @foreach (var value in filter.Values)
                            {
                                var pname = filterCheck.GetType().GetProperty(filter.Alias).GetValue(filterCheck, null);
                                //var pval = pname.GetValue(pname, null);
                                if (pname != null && pname.ToString() == value)
                                {
                                    <input style="display:inline-block;" type="checkbox" class="largerCheckbox" onclick="PPage.universalFilter('@filter.Alias','@value')" checked /><span>&nbsp; @value</span><br />
                                }
                                else
                                {
                                    <input style="display:inline-block;" type="checkbox" class="largerCheckbox" onclick="PPage.universalFilter('@filter.Alias','@value')" /><span>&nbsp; @value</span><br />
                                }
                            }
                        </form>
                    </div>
                </div>
                <div class="size_items">
                    <h3 class="normalHeading_font"><b>@filter.FullName</b></h3>
                    <div style="width:100%;text-align:left;">
                        <form style="text-align:left;">
                            @foreach (var value in filter.Values)
                            {
                                var pname = filterCheck.GetType().GetProperty(filter.Alias).GetValue(filterCheck, null);
                                //var pval = pname.GetValue(pname, null);
                                if (pname != null && pname.ToString() == value)
                                {
                                    <input style="margin:5px;" type="checkbox" class="largerCheckbox" onclick="PPage.universalFilter('@filter.Alias','@value')" checked /><span>@value</span><br />
                                }
                                else
                                {
                                    <input style="margin:5px;" type="checkbox" class="largerCheckbox" onclick="PPage.universalFilter('@filter.Alias','@value')" /><span>@value</span><br />
                                }
                            }
                        </form>
                    </div>
                </div>
            }
            //<div style="margin-top:20px;border:1px solid black;"></div>
        }
    }
</div>

