@model List<Outfix.Models.ProductModel>

@{
    Layout = null;
}

<div class="also_viewed">
    <h1 style="font-weight:bold;">People who viewed this also viewed</h1>
    <hr style="width:50%;border-color:#99A3A4;" />
    <div class="carousel_background">
        <div style="height:400px;margin:auto;width:100%;" id="myCarousel" class="myCarousel carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li style="background:red;" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li style="background:red;" data-target="#myCarousel" data-slide-to="1"></li>
                <li style="background:red;" data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{
                    var active = "active";
                }
                @for (int i = 0; i < Model.Count; i += 3)
                {
                    Outfix.Models.ProductModel sp = null, sp1 = null, sp2 = null;
                    if (i < Model.Count)
                    {
                        sp = Model.ElementAt(i);
                    }
                    if (i + 1 < Model.Count)
                    {
                        sp1 = Model.ElementAt(i + 1);
                    }
                    if (i + 2 < Model.Count)
                    {
                        sp2 = Model.ElementAt(i + 2);
                    }

                    <div class="item @active" style="margin-top:50px;">
                        <div style="border-radius:1%;margin-top:5px;display:inline-block;width:25%;">
                            <a href="@Url.Action("ProductsDetailsPage","Product", new { id = sp.ItemCode})">
                                <img width="200" src="@sp.Picture1" alt="Los Angeles">
                            </a>
                            <p style="font-weight:bold;font-size:20px;"><br>@sp.Name<br>Price: Rs. @sp.Price</p>
                        </div>

                        @if (sp1 != null)
                        {
                            <div style="border-radius:1%;margin-top:5px;display:inline-block;width:25%;">
                                <a href="@Url.Action("ProductsDetailsPage","Product", new { id = sp1.ItemCode})">
                                    <img width="200" src="@sp1.Picture1" alt="Los Angeles">
                                </a>
                                <p style="font-weight:bold;font-size:20px;"><br>@sp1.Name<br>Price: @sp1.Price</p>
                            </div>
                        }
                        @if (sp2 != null)
                        {
                            <div style="border-radius:1%;margin-top:5px;display:inline-block;width:25%;">
                                <a href="@Url.Action("ProductsDetailsPage","Product", new { id = sp2.ItemCode})">
                                    <img width="200" src="@sp2.Picture1" alt="Los Angeles">
                                </a>
                                <p style="font-weight:bold;font-size:20px;"><br>@sp2.Name<br>Price: @sp2.Price</p>
                            </div>
                        }
                    </div>

                    {
                        active = "";
                    }
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        @{
            var mbl_active = "active";
            var count = Model.Count > 6 ? 6 : Model.Count;
        }
        <div style="height:190px;margin:auto;width:100%;" id="myCarousel_mobile" class="myCarousel_mobile carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="top:120px;">
                @for (int i = 0; i < count; i++)
                {
                    <li style="background:red;margin-top:50px;" data-target="#myCarousel_mobile" data-slide-to="@i" class="@mbl_active"></li>
                    mbl_active = "";
                }
            </ol>

            @{
                mbl_active = "active";
            }

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @for (int i = 0; i < count; i++)
                {
                    <div style="margin-top:0px;" class="item @mbl_active">
                        <div style="border-radius:1%;margin-top:5px;display:inline-block;width:75%;">
                            <a href="@Url.Action("ProductsDetailsPage","Product", new { id = Model[i].ItemCode})">
                                <img width="100" src="@Model[i].Picture1" alt="Los Angeles">
                            </a>
                            <p style="font-weight:bold;font-size:14px;"><br>@Model[i].Name<br>Price: Rs. @Model[i].Price</p>
                        </div>
                    </div>
                    {
                        mbl_active = "";
                    }
                }

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel_mobile" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel_mobile" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>

