﻿@model List<Outfix.Models.UserModel>
@{
    ViewBag.Title = "ShowAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <h2>Users</h2>
    <p>Manage all Users from here</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var user in Model)
            {
                count += 1;
                string rid = "User" + count;
                <tr id="@rid" onclick="location.href = '@Url.Action("UserDetail", "User", new { id = user.ID })'">
                    <td>@count</td>
                    <td id="Name">@user.Name</td>
                    <td id="ProductId">@user.Description</td>
                    <td id="ReviewText">@user.Type</td>
                    <td id="Id" hidden>@user.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

