﻿@model Outfix.Models.ProfileModel

@{
    var customerLetter = "/Content/images/Letters/" + Model.Customer.Username.ToUpper()[0] + ".png";
}

<div class="profile">
    <img class="letter" src="@customerLetter" width="40" />
    <a style="text-decoration:none;color:black;font-weight:bold" class="name">@Model.Customer.FirstName @Model.Customer.LastName</a>
    <a class="style" href="@Url.Action("Index","Profile")">STYLE PROFILE</a>
    <a class="items_references" href="@Url.Action("OrderHistory","Profile")">MY ITEMS</a>
    <a class="items_references" href="@Url.Action("Refer","Profile")">REFER</a>
</div>

<!-- First Step -->
<div class="container First style_profile">
    <h1  class="normalHeading_font" style="color:white;text-align:center;">Complete Your Style Profile</h1>
    <div style="padding-bottom:40px;" class="row">
        <div class="container bars">
            <div class="container" style="width:90%;">
                <div class="stats_bar"></div>
                <div class="fit_style_bar"></div>
                <div class="fit_style_bar"></div>
            </div>
            <div class="container" style="margin-bottom:-15px;width:90%;">
                <div class="stats">STATS</div>
                <div class="fit_style">FIT</div>
                <div class="fit_style">STYLE</div>
            </div>
        </div>
    </div>
</div>

<!-- Second Step -->
<div class="container Second style_profile" style="display:none;">
    <h1 style="color:white;text-align:center;"  class="normalHeading_font">Complete Your Style Profile</h1>
    <div style="padding-bottom:40px;" class="row">
        <div class="container bars">
            <div class="container" style="width:90%;">
                <div class="stats_bar"></div>
                <div class="stats_bar"></div>
                <div class="fit_style_bar"></div>
            </div>
            <div class="container" style="margin-bottom:-15px;width:90%;">
                <div class="stats">STATS</div>
                <div class="stats">FIT</div>
                <div class="fit_style">STYLE</div>
            </div>
        </div>
    </div>
</div>

<!-- Third Step -->
<div class="container Third style_profile" style="display:none;">
    <h1 style="color:white;text-align:center;" class="normalHeading_font">Complete Your Style Profile</h1>
    <div style="padding-bottom:40px;" class="row">
        <div class="container bars">
            <div class="container" style="width:90%;">
                <div class="stats_bar"></div>
                <div class="stats_bar"></div>
                <div class="stats_bar"></div>
            </div>
            <div class="container" style="margin-bottom:-15px;width:90%;">
                <div class="stats">STATS</div>
                <div class="stats">FIT</div>
                <div class="stats">STYLE</div>
            </div>
        </div>
    </div>
</div>

<!-- STATS DIV -->

<form id="ProfileSubmit" method="POST" action="@Url.Action("SaveSruveyForm","Profile")">

    <div id="STATS_DIV" style="background:white;text-align:center;width:100%;" class="normalHeading_font">
        <img style="margin-top:20px;width:150px;height:150px" src="@customerLetter" />
        <h2>Welcome, <b style="font-size:40px">@Model.Customer.Username</b></h2>
        <p style="font-size:20px;">We're excited to start styling for you. Please tell us about yourself, so your Stylist can select<br>items based on your specific preferences.<br><br>We carry sizes XS-3XL, waists 28-48" & inseams 28-36"</p>
        <hr style="border:1px solid #EAEDED;width:60%;">
        @foreach (var i in Model.StyleProfile)
        {
            var Userans = new Outfix.Models.StyleProfileUserAnswersModel();
            if (Model.UserAnswers.survey != null)
            {
                Userans = Model.UserAnswers.survey.FirstOrDefault(x => x.QuestionID == i.Id.ToString());
            }
            <div class="questions">
                <p style="font-weight:bold;font-size:25px;">@i.Question</p>
                @if (i.AnswerType == "ddl")
                {
                    <select style="cursor:pointer; text-align-last:center; margin-top:0px; height:40px; font-size:18px; border:1px solid black;" id="@i.Id" data-content="@i.AnswerType" name="ft">
                        @foreach (var x in i.Answers)
                        {
                            if (Userans.AnswerId != null && Userans.AnswerId == i.Id.ToString())
                            {
                                <option value="@x.Id" selected>@x.Answer</option>
                            }
                            else
                            {
                                <option value="@x.Id">@x.Answer</option>
                            }
                        }
                    </select>
                }
                else if (i.AnswerType == "txt")
                {

                    if (Userans != null)
                    {
                        <input name="describe" id="@i.Id" value="@Userans.Answer" data-content="@i.AnswerType" placeholder="@i.Placeholder" type="Text" style="height:40px; font-size:18px;" />
                    }
                    else
                    {
                        <input name="describe" id="@i.Id" data-content="@i.AnswerType" placeholder="@i.Placeholder" type="Text" style="height:40px; font-size:18px;" />
                    }
                }
                else if (i.AnswerType == "date")
                {
                    if (Userans != null)
                    {
                        <input name="describe" id="@i.Id" value="@Userans.Answer" data-content="@i.AnswerType" type="date" style="height:40px; font-size:18px;" />
                    }
                    else
                    {
                        <input name="describe" id="@i.Id" data-content="@i.AnswerType" type="date" style="height:40px; font-size:18px;" />
                    }
                }
                else if (i.AnswerType == "radio")
                {
                    foreach (var z in i.Answers)
                    {
                        if (Userans.AnswerId != null && Userans.AnswerId == i.Id.ToString())
                        {
                            <div id="body_type" data-content="@i.Id">
                                <input name="describe" id="@z.Id" checked data-content="@i.AnswerType" type="radio" value="@z.Answer" style="height:40px; font-size:18px;" /> @z.Answer
                            </div>
                        }
                        else
                        {
                            <div id="body_type" data-content="@i.Id">
                                <input name="describe" id="@z.Id" data-content="@i.AnswerType" type="radio" value="@z.Answer" style="height:40px; font-size:18px;" /> @z.Answer
                            </div>
                        }
                    }
                }
                else if (i.AnswerType == "radioImage")
                {
                    foreach (var y in i.Answers)
                    {
                        if (Userans.AnswerId != null && Userans.AnswerId == i.Id.ToString())
                        {
                            <div id="body_type" data-content="@i.Id">

                                <input name="describe" id="@y.Id" checked data-content="@i.AnswerType" type="radio" style="height:40px; font-size:18px;" />

                                @y.Answer<br>
                                <img style="cursor:pointer;" src="~/Content/images/mobile_carousel.jpg" width="188" />

                            </div>
                        }
                        else
                        {
                            <div id="body_type" data-content="@i.Id">

                                <input name="describe" id="@y.Id" data-content="@i.AnswerType" type="radio" style="height:40px; font-size:18px;" />

                                @y.Answer<br>
                                <img style="cursor:pointer;" src="~/Content/images/mobile_carousel.jpg" width="188" />

                            </div>
                        }
                    }
                }
                <br />
            </div>
            <hr style="border:1px solid #EAEDED;width:60%;">
        }

        <button onclick="Show_FIT()" style="font-size:20px;margin-top:0px;margin-bottom:20px;" type="button" class="btn checkout">NEXT: FIT&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>

    </div>

    <!-- FIT DIV -->

    <div id="FIT_DIV" style="display:none;background:white;text-align:center;width:100%;" class="container normalHeading_font">
        <img style="margin-top:20px;" src="~/Content/images/circle.png" />
        <h2>Welcome, Amanullah</h2>
        <p style="font-size:20px;">We're excited to start styling for you. Please tell us about yourself, so your Stylist can select<br>items based on your specific preferences.<br><br>We carry sizes XS-3XL, waists 28-48" & inseams 28-36"</p>
        <hr style="border:1px solid #EAEDED;width:60%;">
        <hr style="border:1px solid #EAEDED;width:60%;">

        <button onclick="FIT_to_STATS()" style="font-size:20px;margin-top:0px;margin-bottom:20px;" type="button" class="btn checkout"><span style="font-size:15px;" class="glyphicon glyphicon-triangle-left"></span>&nbsp;&nbsp;BACK: STATS</button>
        <button onclick="Show_STYLE()" style="font-size:20px;margin-top:0px;margin-bottom:20px;" type="button" class="btn checkout">NEXT: STYLE&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>

    </div>

    <!-- STYLE DIV -->

    <div id="STYLE_DIV" style="display:none;background:white;text-align:center;width:100%;" class="container normalHeading_font">
        <img style="margin-top:20px;" src="~/Content/images/circle.png" />
        <h2>Welcome, Amanullah</h2>
        <p style="font-size:20px;">We're excited to start styling for you. Please tell us about yourself, so your Stylist can select<br>items based on your specific preferences.<br><br>We carry sizes XS-3XL, waists 28-48" & inseams 28-36"</p>
        <hr style="border:1px solid #EAEDED;width:60%;">

        <button onclick="STYLE_to_FIT()" style="font-size:20px;margin-top:0px;margin-bottom:20px;" type="button" class="btn checkout"><span style="font-size:15px;" class="glyphicon glyphicon-triangle-left"></span>&nbsp;&nbsp;BACK: FIT</button>
        <button style="font-size:20px;margin-top:0px;margin-bottom:20px;" type="submit" class="btn checkout">COMPLETE&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>

    </div>
</form>
