﻿@{
    Layout = null;

    var customer = (Outfix.Models.CustomerModel)Session["Customer"];
}
@if (customer != null)
{
    <div style="text-align:center;margin-top:20px;font-weight:bold;font-size:16px;display:inline-block;height:auto;padding:0px;width:100%;">
        <div style="text-align:center;display:inline-block;width:100%;height:auto;">@customer.Username</div>
        <div style="text-align:center;display:inline-block;width:100%;height:auto;">@customer.Email</div>
        <a href="@Url.Action("Index","Profile")" style="font-weight:bold;font-size:15px;margin-top:10px;margin-bottom:10px;width:70%;background:#0d567f;color:white;" class="btn" name="Edit_Profile"><i class="fa fa-edit"></i>&nbsp;Edit Profile</a>
        <a href="@Url.Action("Logout","Home")" style="font-weight:bold;font-size:15px;margin-bottom:20px;width:70%;background:red;color:white;" class="btn" name="Logout"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
    </div>
}
