﻿@model Outfix.Models.ProfileModel
@using System.ComponentModel;
@{
    ViewBag.Title = "Orders - Review";
    var customerLetter = "/Content/images/Letters/" + Model.Customer.Username.ToUpper()[0] + ".png";
    var Order = Model.Customer.Orders.FirstOrDefault();
    var info = typeof(Outfix.Models.ProductVariationModel).GetProperties();
}

<div style="display:flex;">
    <div class="orders_history">
        <div class="anchors">
            &nbsp;&nbsp;<a style="font-size:20px;background:white;color:black;vertical-align:middle;" href="Profile.html">Profile</a>&nbsp;&nbsp;<span style="font-size:20px;vertical-align:middle;" class="glyphicon glyphicon-triangle-right"></span>
            &nbsp;&nbsp;<a style="font-size:20px;background:white;color:black;vertical-align:middle;" href="My_Items.html">My Orders</a>&nbsp;&nbsp;<span style="font-size:20px;vertical-align:middle;" class="glyphicon glyphicon-triangle-right"></span>
            &nbsp;&nbsp;<a style="font-size:20px;background:white;color:black;vertical-align:middle;" href="My_Items.html">Product Review</a>
        </div>

        <div class="shop container">
            <div class="row">
                <div class="selected_mobile">
                    <div class="review_notification_mobile">
                        <h3 style="color:green;font-weight:bold;">How was your overall Service Experience?</h3>
                        <div style="text-align:center;cursor:pointer;display:inline-block;width:30%;">
                            <img width="50" src="~/Content/images/sad.png" />
                            <p style="font-weight:bold;margin-top:5px;">Bad Service</p>
                        </div>
                        <div style="text-align:center;cursor:pointer;display:inline-block;width:30%;">
                            <img width="50" src="~/Content/images/smile.png" />
                            <p style="font-weight:bold;margin-top:5px;">Good Service</p>
                        </div>
                        <div style="text-align:center;cursor:pointer;display:inline-block;width:30%;">
                            <img width="50" src="~/Content/images/love.png" />
                            <p style="font-weight:bold;margin-top:5px;">Excellent Service</p>
                        </div>
                    </div>

                    <div style="width:100%;margin-bottom:10px;padding:5px;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:#EAF2F8;">
                        <div style="margin-bottom:5px;width:100%;height:70px;border:1px solid #BDC3C7;">
                            <p style="padding:10px;font-weight:bold;font-size:20px;"><font color="blue">Order ID: @Order.ID</font><br>Delivered on @Order.CreatedDate</p>
                        </div>
                        <!-- Loop items here -->
                        @foreach (var p in Order.Products)
                        {
                            <div style="padding:5px;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:white;margin-bottom:10px;width:100%;height:auto;">
                                <div style="vertical-align:middle;text-align:left;width:100%;height:auto;">
                                    <div style="width:30%;display:inline-block;">
                                        <img style="margin-top:-90px;" src="@p.Picture1" width="100" />
                                    </div>
                                    <div style="padding:5px;width:60%;text-align:left;display:inline-block;">
                                        <h3 style="margin-top:0px;font-size:15px;font-weight:bold;">@p.Name</h3>
                                        <p>Size: M&emsp;Collar Size: 15&emsp;<br>Fit Type: Slim&emsp;Color: Light Green<br>Material: Wash N Wear</p>
                                    </div>
                                    <div style="background:#F4ECF7;text-align:center;display:inline-block;width:100%;height:auto;">
                                        <h3 style="display:inline-block;"><b>Rate and Review</b></h3>
                                        <div style="margin-bottom:5px;display:inline-block;width:100%;">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <form action="" method="POST">
                                                <textarea name="product_review" cols="60" rows="5" placeholder="Write your Review Here..."></textarea>
                                                <input class="btn btn-success" type="submit" name="done" value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Items Loop Ends Here -->
                        }
                    </div>
                </div>

                <div class="selected">

                    <!-- This is the Order Loop, Loop runs on Order ID -->
                    <div style="width:105%;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:#EAF2F8;height:auto;margin-bottom:20px;">
                        <div style="width:100%;height:70px;border-bottom:1px solid #BDC3C7;">
                            <p style="padding:10px;font-weight:bold;font-size:20px;"><font color="blue">Order ID: @Order.ID</font><br>Delivered on @Order.CreatedDate</p>
                        </div>

                        <div style="padding:5px;height:auto;width:100%;">
                            <!-- This Div Runs in a Loop, This is the loop of items present in the Order -->
                            @foreach (var p in Order.Products)
                            {
                                var count = 0;
                                var variation = p.Variation.FirstOrDefault();
                                <div style="margin-bottom:10px;padding:2px;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);display:flex;margin-top:5px;width:100%;height:auto;">
                                    <div style="background:white;display:inline-block;width:60%;height:auto;">
                                        <div style="display:flex">
                                            <div style="text-align:center;display:inline-block;width:50%;height:auto;">
                                                <img style="padding:5px;width:100%" src="@p.Picture1" />
                                            </div>
                                            <div style="padding:5px;text-align:left;display:inline-block;width:50%;height:auto;">
                                                <h3 style="display:inline-block;"><b>@p.Name</b></h3>
                                                <br />
                                                @foreach (var property in info)
                                                {
                                                    var minfo = variation.GetType().GetProperty(property.Name);
                                                    var pval = minfo.GetValue(variation, null);
                                                    var attribute = property.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().FirstOrDefault();
                                                    string displayName = attribute != null ? attribute.DisplayName : "";
                                                    if (!string.IsNullOrEmpty(displayName))
                                                    {
                                                        if (property.PropertyType.Name.Equals("Int32"))
                                                        {
                                                            if (pval != null && Convert.ToInt32(pval) != 0)
                                                            {
                                                                <span>@displayName: </span><span><b>@pval &emsp;</b></span>
                                                                count += 1;
                                                            }
                                                        }
                                                        else if (property.PropertyType.Name.Equals("Decimal"))
                                                        {
                                                            if (pval != null && Convert.ToDecimal(pval) != 0)
                                                            {
                                                                <span>@displayName: </span><span><b>@pval &emsp;</b></span>
                                                                count += 1;
                                                            }
                                                        }
                                                        else if (pval != null && !String.IsNullOrEmpty(Convert.ToString(pval)))
                                                        {
                                                            <span>@displayName: </span><span><b>@pval &emsp;</b></span>
                                                            count += 1;
                                                        }
                                                        if (count % 2 == 0)
                                                        {
                                                            <br />
                                                        }
                                                    }
                                                }
                                                @*<p>Size: M&emsp;Collar Size: 15&emsp;<br>Fit Type: Slim&emsp;Color: Light Green<br>Material: Wash N Wear</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left:5px;background:#F4ECF7;text-align:center;display:inline-block;width:40%;height:auto;">
                                        <h3 style="display:inline-block;"><b>Rate and Review</b></h3>
                                        <div style="display:inline-block;width:100%;">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <form action="" method="POST">
                                                <textarea name="product_review" cols="60" rows="5" placeholder="Write your Review Here..."></textarea>
                                                <input class="btn btn-success" type="submit" name="done" value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                </div> <!-- Loop Ends Here -->
                            }

                        </div>
                    </div>
                    <!-- Order Loop ends here -->
                </div>
            </div>
        </div>
    </div>

    <div class="review_notification">
        <!-- <span style="cursor:pointer;padding:5px;color:#F39C12;float:right;font-size:15px;" class="glyphicon glyphicon-remove"></span><br> -->
        <h3 style="color:green;font-weight:bold;">How was your overall Service Experience?</h3>
        <div style="text-align:center;cursor:pointer;display:inline-block;width:30%;">
            <img width="50" src="~/Content/images/sad.png" />
            <p style="font-weight:bold;margin-top:5px;">Bad Service</p>
        </div>
        <div style="text-align:center;cursor:pointer;display:inline-block;width:30%;">
            <img width="50" src="~/Content/images/smile.png" />
            <p style="font-weight:bold;margin-top:5px;">Good Service</p>
        </div>
        <div style="text-align:center;cursor:pointer;display:inline-block;width:30%;">
            <img width="50" src="~/Content/images/love.png" />
            <p style="font-weight:bold;margin-top:5px;">Excellent Service</p>
        </div>
    </div>
</div>


