﻿@model Outfix.Models.ProfileModel
@using System.ComponentModel;
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_LayoutProductPage.cshtml";
    var count = 0;
    var customerLetter = "/Content/images/Letters/" + Model.Customer.Username.ToUpper()[0] + ".png";
    var info = typeof(Outfix.Models.ProductVariationModel).GetProperties();

}

<div class="profile">
    <img class="letter" src="@customerLetter" width="40" />
    <a style="text-decoration:none;color:black;font-weight:bold" class="name">@Model.Customer.FirstName @Model.Customer.LastName</a>
    <a class="items_references" href="@Url.Action("Index","Profile")">STYLE PROFILE</a>
    <a class="style" href="@Url.Action("OrderHistory","Profile")">MY ITEMS</a>
    <a class="items_references" href="@Url.Action("Refer","Profile")">REFER</a>
</div>

<div class="anchors" style="margin-top:70px;">
    <p class="relevance" style="font-size:20px;background:white;color:black;vertical-align:middle;">
        Show:
        <select style="border:1px solid black;" name="order_days">
            <option value="All">All</option>
            <option value="5_days">5 Days</option>
            <option value="10_Days">10 Days</option>
        </select>
    </p>

    <p class="relevance_mobile">
        Show:
        <select style="border:1px solid black;" name="order_days">
            <option value="All">All</option>
            <option value="5_days">5 Days</option>
            <option value="10_Days">10 Days</option>
        </select>
    </p>
</div>

<div style="display:flex;">
    <div class="shop order_review">
        <div class="row">
            <div class="selected_mobile">
                <div class="order_notification_mobile">
                    <span style="cursor:pointer;padding:5px;color:#F39C12;float:right;font-size:15px;" class="glyphicon glyphicon-remove"></span><br>
                    <h3 style="color:green;font-weight:bold;">Your Order has been Placed!</h3>
                    <p style="font-weight:bold;font-size:15px;">Expected Shipment Date: <font color="red">Wednesday, 29th Oct 2019</font></p>
                </div>
                @foreach (var o in Model.Customer.Orders)
                {

                    <!-- This is the Orders Loop -->
                    <div style="width:100%;margin-bottom:10px;padding:5px;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:#EAF2F8;">
                        <div style="margin-bottom:5px;width:100%;height:70px;border:1px solid #BDC3C7;">
                            <p style="padding:10px;font-weight:bold;font-size:20px;"><font color="blue">Order ID: @o.ID</font><br>Placed on @o.CreatedDate</p>
                        </div>
                        <!-- Loop items here -->
                        @foreach (var p in o.Products)
                        {
                            var variation = p.Variation.FirstOrDefault();
                            <div style="padding:5px;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:white;margin-bottom:10px;width:100%;height:auto;">
                                <div style="vertical-align:middle;text-align:left;display:flex;width:100%;height:auto;">
                                    <div style="width:30%;display:inline-block;">
                                        <img style="margin-top:30px;" src="@p.Picture1" width="100" />
                                    </div>
                                    <div style="padding:5px;width:60%;text-align:left;display:inline-block;">
                                        <h3 style="margin-top:0px;font-size:15px;font-weight:bold;">@p.Name</h3>
                                        <p>@p.Description</p>
                                        @foreach (var property in info)
                                        {
                                            var pval = variation.GetType().GetProperty(property.Name).GetValue(variation, null);
                                            if (pval != null)
                                            {
                                                <h6>@pval</h6>
                                            }
                                        }
                                    </div>
                                </div>
                                <div style="margin-top:-50px;vertical-align:middle;text-align:right;width:100%;height:auto;">
                                    <div style="text-align:right;display:inline-block;width:49%;">
                                        <h3 style="margin-right:40px;display:inline-block;font-size:15px;line-height:0px;font-weight:bold;">Qty: @variation.Qty</h3>
                                    </div>
                                    <div style="text-align:right;display:inline-block;width:45%;">
                                        <h3 style="margin-right:5px;font-size:15px;font-weight:bold;">Status: <font color="green">@p.Status</font></h3>
                                    </div>
                                </div>
                                <div style="margin-bottom:-10px;vertical-align:middle;text-align:right;display:block;width:100%;height:40px;">
                                    @*<h3 style="margin-right:5px;margin-top:10px;font-size:15px;line-height:0px;font-weight:bold;">Delivered On: 10th Oct, 2019</h3>*@
                                </div>
                            </div> <!-- Items Loop Ends Here -->
                        }
                    </div> <!-- Order Loop Ends Here -->
                }
            </div>

            <div class="selected">
                @foreach (var o in Model.Customer.Orders)
                {
                    var odate = Convert.ToDateTime(o.CreatedDate);
                    var expected = odate.AddDays(5);
                    <!-- This is the Order Loop, Loop runs on Order ID -->
                    <div style="width:105%;box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);background:#EAF2F8;height:auto;margin-bottom:20px;">
                        <div style="width:100%;height:auto;border-bottom:1px solid #BDC3C7;display:block;">
                            <a href="@Url.Action("OrderReview","Profile",new { id = o.ID})" style="float:right;">Manage</a>
                            <p style="padding:10px;font-weight:bold;font-size:20px;">
                                <font color="blue">Order ID: @o.ID</font><br>
                                <font>Placed on @odate.ToString("dddd - dd/MMMM/yyyy hh:mm:ss")</font><br>

                                @if (o.Status.Equals("delivered"))
                                {
                                    <font>Delivered on @odate.ToString("dddd - dd/MMMM/yyyy hh:mm:ss")</font><br>
                                }
                                @if (o.Status.Equals("pending"))
                                {
                                    <font>Expected on @expected.ToString("dddd - dd/MMMM/yyyy")</font><br>
                                }
                            </p>
                        </div>

                        <div style="width:100%;height:50px;border-top:1px solid #BDC3C7;">
                            <div style="vertical-align:top;text-align:center;display:inline-block;width:49%;height:50px;">
                                <h3 style="line-height:10px;font-weight:bold;">Product Name</h3>
                            </div>
                            <div style="vertical-align:top;text-align:center;display:inline-block;width:10%;height:50px;">
                                <h3 style="line-height:10px;font-weight:bold;">Quantity</h3>
                            </div>
                            <div style="vertical-align:top;text-align:center;display:inline-block;width:15%;height:50px;">
                                <h3 style="line-height:10px;font-weight:bold;">Status</h3>
                            </div>
                            <div style="vertical-align:top;text-align:center;display:inline-block;width:24%;height:50px;">
                                <h3 style="line-height:10px;font-weight:bold;">Delivered On</h3>
                            </div>
                        </div>

                        <div style="height:275px;width:100%;overflow-y:scroll;">
                            <!-- This Div Runs in a Loop, This is the loop of items present in the Order -->
                            @foreach (var p in o.Products)
                            {
                                var variation = p.Variation.FirstOrDefault();

                                <div style="width:100%;height:auto;border-top:1px solid #BDC3C7;">
                                    <div style="margin-bottom:10px;height:auto;vertical-align:top;text-align:center;display:inline-block;width:50%;height:auto;">
                                        <h3 style="font-size:20px;line-height:10px;"><img style="margin-right:10px;" src="@p.Picture1" width="50" />@p.Name</h3>
                                        @foreach (var property in info)
                                        {
                                            var minfo = variation.GetType().GetProperty(property.Name);
                                            var pval = minfo.GetValue(variation, null);
                                            var attribute = property.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().FirstOrDefault();
                                            string displayName = attribute != null ? attribute.DisplayName : "";
                                            if (!string.IsNullOrEmpty(displayName))
                                            {
                                                if (property.PropertyType.Name.Equals("Int32"))
                                                {
                                                    if (pval != null && Convert.ToInt32(pval) != 0)
                                                    {
                                                        <span>@displayName: </span><span><b>@pval &nbsp;</b></span>
                                                    }
                                                }
                                                else if (property.PropertyType.Name.Equals("Decimal"))
                                                {
                                                    if (pval != null && Convert.ToDecimal(pval) != 0)
                                                    {
                                                        <span>@displayName: </span><span><b>@pval &nbsp;</b></span>
                                                    }
                                                }
                                                else if (pval != null && !String.IsNullOrEmpty(Convert.ToString(pval)))
                                                {
                                                    <span>@displayName: </span><span><b>@pval &nbsp;</b></span>
                                                }
                                            }
                                        }
                                    </div>
                                    <div style="margin-bottom:10px;vertical-align:top;text-align:center;display:inline-block;width:10%;height:50px;">
                                        <h3 style="font-size:20px;line-height:45px;">@variation.Qty</h3>
                                    </div>
                                    <div style="padding-top:15px;margin-bottom:10px;height:auto;vertical-align:top;text-align:center;display:inline-block;width:15%;height:80px;">
                                        <div style="font-weight:bold;border:1px solid green;padding:5px;margin:10px;width:90%;border-radius:10px;background:#58D68D;">@p.Status</div>
                                    </div>
                                    <div style="margin-bottom:10px;vertical-align:top;text-align:center;display:inline-block;width:23%;height:50px;">
                                        <h3 style="font-size:15px;line-height:45px;">&nbsp;&nbsp;&nbsp;10th December, 2019</h3>
                                    </div>
                                </div> <!-- Loop Ends Here -->
                            }
                        </div>
                    </div>
                }
                <!-- Order Loop ends here -->
            </div>
        </div>
    </div>


</div>

