﻿@model Outfix.Models.ProfileModel
@{
    ViewBag.Title = "Refer";
    Layout = "~/Views/Shared/_LayoutProductPage.cshtml";
    var customerLetter = "/Content/images/Letters/" + Model.Customer.Username.ToUpper()[0] + ".png";
}

<div class="profile">
    <img class="letter" src="@customerLetter" width="40" />
    <a style="text-decoration:none;color:black;font-weight:bold;" class="name">@Model.Customer.FirstName @Model.Customer.LastName</a>
    <a class="items_references" href="@Url.Action("Index","Profile")">STYLE PROFILE</a>
    <a class="items_references" href="@Url.Action("OrderHistory","Profile")">MY ITEMS</a>
    <a class="style" href="@Url.Action("Refer","Profile")">REFER</a>
</div>

<div class="referral_link_mobile">
    <p>Your Personal Invite Link</p>
    <input style="width:90%;padding:5px;" type="text" value="outfix.com/signup/USAMAS442" />
    <button style="margin-top:20px;width:70%;background:#3b5998;color:white;" class="btn" name="Facebook"><i class="fa fa-facebook"></i>&emsp;Invite via Facebook</button>
    <button style="margin-top:10px;width:70%;background:#00acee;color:white;" class="btn" name="Twitter" onclick="Profile.InviteViaTwitter();"><i class="fa fa-twitter"></i>&emsp;Invite via Twitter</button>
</div>
<div style="display:flex;margin-top:50px;">
    <div class="referral_div">
        <div class="about">
            <h1 style="font-weight:bold;">Invite friends and get rewarded</h1>
            <p style="font-size:20px;">
                Share your love for Outfix and make everyone smile.<br>Invite your friends and give them PKR 100 credit, your will get PKR 100 credit in return after they conduct their first purchase!
            </p>
        </div>
        <div class="about_1">
            <div class="referral_button">
                <button style="font-size:16px;font-weight:bold;width:80%;background:#3b5998;color:white;" class="btn" name="Facebook" onclick="Profile.postFB();"><i class="fa fa-facebook"></i>&emsp;Send to Facebook Friends</button>
            </div>
            <div class="referral_button">
                <button style="font-size:16px;font-weight:bold;width:80%;background:#dd4b39;color:white;" class="btn" name="Gmail" onclick="Profile.inviteViaGmail();"><i class="fa fa-google"></i>&emsp;Send to Gmail Contacts</button>
            </div>
            <div class="referral_button">
                <button style="font-size:16px;font-weight:bold;width:80%;background:#3f729b;color:white;" class="btn" name="Email" onclick="Profile.inviteViaEmail()"><i class="fa fa-mail-bulk"></i>&emsp;Invite via Mail</button>
            </div>
            <div style="text-align:center;display:block;width:100%;">
                <div style="display:inline-block;border:1px solid #F2F3F4;width:33%;">
                </div>
                <div style="display:inline-block;width:10%;">
                    <h3>OR</h3>
                </div>
                <div style="display:inline-block;border:1px solid #F2F3F4;width:33%;">
                </div>
                <div class="referral_form">
                    <form method="" action="">
                        To:&emsp;&emsp;&emsp;&emsp;<input name="Email" placeholder="Email Address" class="referral_email" /><br><br>
                        <div style="display:flex;">
                            Message:&emsp;<textarea cols="117" rows="10" placeholder="Text Here..."></textarea>
                        </div>
                        <input style="font-size:16px;font-weight:bold;width:30%;margin-top:10px;background:#F9E79F;" class="btn" type="submit" value="Invite" />
                    </form>
                </div><br>
            </div>
        </div>
    </div>

    <div class="referral_link">
        <p>Your Personal Invite Link</p>
        <input style="width:90%;padding:5px;" type="text" value="outfix.com/signup/USAMAS442" />
        <button style="margin-top:20px;width:70%;background:#3b5998;color:white;" class="btn" name="Facebook" onclick="Profile.messageFB();"><i class="fa fa-facebook"></i>&emsp;Invite via Facebook</button>
        <button style="margin-top:10px;width:70%;background:#00acee;color:white;" class="btn" name="Twitter" onclick="Profile.InviteViaTwitter();"><i class="fa fa-twitter"></i>&emsp;Invite via Twitter</button>
    </div>
</div>

