﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<body>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXsEGuc4LVQlqkuLIWTp7RZv3PNiLVjI&sensor=false"></script>


    <div class="modal fade" id="AllCustomersModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:750px; height:700px;">
                <div class="modal-header" style="height:7%">
                </div>
                <div class="modal-body" style="height:80%">
                </div>
                <div class="modal-footer" style="height:7%">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="min-height: 200px;">
                <div class="modal-header text-center">
                    <h3 class="modal-title title_font"><b>Select Your Current Location</b></h3>
                </div>
                <div class="modal-body">
                    <label>Address: </label>
                    @Html.TextArea("Address", new { id = "FullAddress", @class = "search_input form-control", style = "width:77%;height:100px;display:inline-block;font-size:18px;", aria_label = "Address", disabled = true })
                    <div id="map_canvas" style="width: 100%; height: 250px;"></div>
                </div>
                <div class="modal-footer" style="min-height: 100px;">
                    <input class="btn btn-success" value="OK" onclick="(function () { $('#modalMap').modal('hide'); })()" />
                </div>
            </div>
        </div>


    </div>



    <script>
        var map, infoWindow;
        var geocoder = new google.maps.Geocoder;
        function initialize() {
            //var myLatlng = new google.maps.LatLng(40.713956, -74.006653);

            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    var myOptions = {
                        zoom: 15,
                        center: pos,
                        draggable: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                    var marker = new google.maps.Marker({
                        draggable: true,
                        position: pos,
                        map: map,
                        title: "Your location"
                    });

                    google.maps.event.addListener(marker, 'dragend', function (event) {
                        var loc = event.latLng;

                        geocoder.geocode({
                            'location': loc
                        }, function (results, status) {
                            if (status === 'OK') {
                                if (results[0]) {
                                    //This is yout formatted address
                                    $('#FullAddress').val(results[0].formatted_address);
                                    $('#Customer_Location_Address').val(results[0].formatted_address);
                                    $('#Latitude').val(loc.lat());
                                    $('#Longitude').val(loc.lng());

                                    results[0].address_components.forEach(x => {
                                        if (x.types.includes("locality")) {
                                            $('#CCity').val(x.long_name);
                                        }
                                        else if (x.types.includes("country")) {
                                            $('#CCountry').val(x.long_name);
                                        }
                                    })
                                } else {
                                    window.alert('No results found');
                                }
                            } else {
                                window.alert('Geocoder failed due to: ' + status);
                            }
                        });

                    });

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }


        google.maps.event.addDomListener(window, "load", initialize());
    </script>


</body>

</html>