﻿@{
    Layout = null;
    var Customer = (Outfix.Models.CustomerModel)Session["Customer"];
}

@if (Customer != null)
{
    <div style="font-weight:bold;font-size:20px;display:inline-block;height:auto;padding:0px;width:100%;">
        <div style="text-align:center;display:inline-block;width:100%;auto;">Rs. @Customer.Wallet.Credit</div>
    </div>
}