﻿@model Outfix.Models.ProductModel
@{
    ViewBag.Title = "Create Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group" id="accordion">
    <form id="addProductForm" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-10">
                <span class="h2">Create New Product</span>
            </div>
            <div class="col-md-2" style="float:right; ">
                <input class="btn btn-success" type="submit" id="SaveButton" name="SaveButton" value="Save" />
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#ccd4e0">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#GenInfo">
                    General Information
                </h4>
            </div>
            <div id="GenInfo" class="panel-collapse collapse in" style="background-color:#e2e6ed">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body col-md-8">
                            <h3><u>BASIC INFORMATION</u></h3>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.ItemCode)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.MainCategory)
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("MainCategory", (SelectList)ViewData["MainCategoryList"], "", new { @class = "form-control", id = "MainCategoryList" })
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.SubCategory)
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("SubCategory", (SelectList)ViewData["SubCategoryList"], "", new { @class = "form-control", id = "SubCategoryList" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Brand)
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("Brand", (SelectList)ViewData["BrandList"], "", new { @class = "form-control", id = "BrandList" })
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.ProductType)
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownList("ProductType", (SelectList)ViewData["TypeList"], "", new { @class = "form-control", id = "TypeList" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Name)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Description)
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.Description, new {
        rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.Description), @class = "form-control input-lg textarea-editor"})
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.ReturnPolicy)
                                </div>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.ReturnPolicy, new {
        rows = "20", style = "resize:none;width:400px;", placeholder = Html.DisplayNameFor(m => m.ReturnPolicy), @class = "form-control input-lg textarea-editor"})
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Type)
                                </div>
                                <div class="col-md-4">
                                    Men @Html.RadioButtonFor(model => model.Type, "Men")
                                    Women @Html.RadioButtonFor(model => model.Type, "Women")
                                    Kids @Html.RadioButtonFor(model => model.Type, "Kids")
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.UnitMeasurement)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.UnitMeasurement, new { @class = "form-control" })
                                </div>
                            </div>
                            <h3><u>PRICE MANAGEMENT</u></h3>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @*@Html.LabelFor(model => model.Price)*@
                                </div>
                                <div class="col-md-4">
                                    @*@Html.TextBoxFor(model => model.Price, new { @class = "form-control" })*@
                                </div>
                            </div>

                            <h3><u>MANAGE PICTURES</u></h3>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <input type="file" name="ImageFile" id="ImageFile" required />
                                </div>
                                <div class="col-md-4">
                                    <input type="file" name="ImageFile2" id="ImageFile2" />
                                </div>
                                <div class="col-md-4">
                                    <input type="file" name="ImageFile3" id="ImageFile3" />
                                </div>
                                <div class="col-md-4">
                                    <input type="file" name="ImageFile4" id="ImageFile4" />
                                </div>
                                <div class="col-md-4">
                                    <input type="file" name="ImageFile5" id="ImageFile5" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Remarks)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#ccd4e0">
            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#ProVar">
                PRODUCT VARIATION
            </h4>
        </div>
        <div id="ProVar" class="panel-collapse collapse in" style="background-color:#e2e6ed">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body col-md-8">
                        <div class="row form-group">
                            <div class="col col-md-6">
                                <button style="color:darkslateblue" id="AddVar"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                        <form id="formTableVar">
                            <div id="VarTables">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

<script>
    $(document).ready(function () {
        // Initialize Editor
        $('.textarea-editor').summernote({
            height: 300, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });
    });
</script>