﻿@model List<Outfix.Models.ProductFilterModel>
@{
    Layout = null;
}

<div class="row form-group">
    <div class="form-horizontal">
        <div class="col-md-12" id="VarTBody">
            <div class="row">
                <div class="col col-md-6">
                    <div class="col col-md-4">Price</div>
                    <div class="col col-md-6"><input type="text" id="Price" name="Price" /></div>
                </div>
                <div class="col col-md-6">
                    <div class="col col-md-4">Quantity</div>
                    <div class="col col-md-6"><input type="text" id="Qty" name="Qty" /></div>
                </div>
            </div>
            @foreach (var v in Model)
            {
                <div>
                    <div class="col col-md-4">@v.Name</div>
                    <div class="col col-md-6"><input type="text" id="@v.Name" name="@v.Name" /></div>
                </div>
            }
        </div>
    </div>
</div>


