﻿@model Outfix.Models.ProductModel

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">General Information</h6>
    </div>
    <div class="card-body">

        <form id="addProductForm" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-body col-md-8">
                    <h3><u>BASIC INFORMATION</u></h3>
                    <div class="row form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.ItemCode)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.MainCategory)
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("MainCategory", (SelectList)ViewData["MainCategoryList"], "", new { @class = "form-control", id = "MainCategoryList" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.SubCategory)
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("SubCategory", (SelectList)ViewData["SubCategoryList"], "", new { @class = "form-control", id = "SubCategoryList" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Brand)
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Brand", (SelectList)ViewData["BrandList"], "", new { @class = "form-control", id = "BrandList" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Description)
                        </div>
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Type)
                        </div>
                        <div class="col-md-4">
                            Men @Html.RadioButtonFor(model => model.Type, "Men")
                            Women @Html.RadioButtonFor(model => model.Type, "Women")
                            Kids @Html.RadioButtonFor(model => model.Type, "Kids")
                            @*                            @Html.TextBoxFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.UnitMeasurement)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.UnitMeasurement, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <h3><u>PRICE MANAGEMENT</u></h3>
                    <div class="row form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Price)
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <h3><u>MANAGE PICTURES</u></h3>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <input type="file" name="ImageFile" id="ImageFile" required />
                        </div>
                        <div class="col-md-4">
                            <input type="file" name="ImageFile2" id="ImageFile2" />
                        </div>
                        <div class="col-md-4">
                            <input type="file" name="ImageFile3" id="ImageFile3" />
                        </div>
                        <div class="col-md-4">
                            <input type="file" name="ImageFile4" id="ImageFile4" />
                        </div>
                        <div class="col-md-4">
                            <input type="file" name="ImageFile5" id="ImageFile5" />
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Remarks)
                        </div>
                        <div class="col-md-4">
                            @Html.TextAreaFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <input type="submit" id="SaveButton" name="SaveButton" value="Save" />
                </div>
            </div>
        </form>


    </div>
</div>

