﻿@model Outfix.ViewModels.ProductSetupViewModel
@{
    ViewBag.Title = "ProductSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#MainCat" role="tab">Main Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#SubCat" role="tab">Sub Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Brand" role="tab">Brand</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#PType" role="tab">Product Type</a>
    </li>
</ul>


<div class="tab-content">
    <div class="tab-pane active" id="MainCat" role="tabpanel">
        <div class="container">
            <div class="col-md-2">
                @Html.Label("Category")
            </div>
            <div class="col-md-4">
                @Html.DropDownList("Category", (SelectList)ViewData["MainCategoryList"], "", new { id = "MainCategoryList", style="width:200px" })
            </div>
            <form id="formCreateCategory">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col col-md-4">
                            <label class="col-md-3">Name</label>
                        </div>
                        <div class="col col-md-4">
                            @Html.TextBoxFor(model => model.Main.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <label>Description</label>
                        </div>
                        <div class="col col-md-4">
                            @Html.TextBoxFor(model => model.Main.Description, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <label class="col-md-3">Type</label>
                        </div>
                        @foreach (var item in ViewBag.Type)
                        {
                            <div class="col col-md-2">
                                <input class="col col-md-3" type="checkbox" id="@item.ID" name="Main.Type" value="@item.Description">
                                <label class="col col-md-3" for="Type">@item.Description</label>
                            </div>
                            <br />
                        }
                    </div>

                </div>

                <input type="submit" value="Save" id="Save" />
            </form>
        </div>
    </div>
    <div class="tab-pane" id="SubCat" role="tabpanel">
        <div class="container">
            <div class="col-md-2">
                @Html.Label("Sub Category")
            </div>
            <div class="col-md-4">
                @Html.DropDownList("SubCategory", (SelectList)ViewData["SubCategoryList"], "", new { style = "width:200px", id = "SubCategoryList" })
            </div>
            <form id="formCreateSubCategory">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-3">Name</label>
                        @Html.TextBoxFor(model => model.Sub.Name)
                    </div>
                    <div class="row">
                        <label class="col-md-3">Description</label>
                        @Html.TextBoxFor(model => model.Sub.Description)
                    </div>
                    <div class="row">
                        <label class="col-md-3">Main Category</label>
                        @Html.DropDownList("Sub.MainCategoryName", (SelectList)ViewData["MainCategoryList"], "", new { id = "MainCategoryList", style = "width:180px" })
                    </div>
                    <div class="row">
                        <label class="col-md-3">Type</label>
                        @foreach (var item in ViewBag.Type)
                        {
                            <input type="checkbox" id="@item.ID" name="Sub.Type" value="@item.Description">
                            <label for="Type">@item.Description</label>
                            <br />
                        }
                    </div>
                </div>
                <input type="submit" value="Save" id="Save" />
            </form>
        </div>
    </div>
    <div class="tab-pane " id="Brand" role="tabpanel">
        <div class="container">
            <div class="col-md-2">
                @Html.Label("Brand")
            </div>
            <div class="col-md-4">
                @Html.DropDownList("Brand", (SelectList)ViewData["BrandList"], "", new { style = "width:200px", id = "BrandList" })
            </div>
            <form id="formCreateBrand">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-4">Name</label>
                        @Html.TextBoxFor(model => model.Brand.Name)
                    </div>
                    <div class="row">
                        <label class="col-md-4">Main Category</label>
                        @Html.DropDownList("Brand.MainCategoryName", (SelectList)ViewData["MainCategoryList"], "", new { id = "MainCategoryList", style = "width:180px" })
                    </div>
                    <div class="row">
                        <label class="col-md-4">Sub Category</label>
                        @Html.DropDownList("Brand.SubCategoryName", (SelectList)ViewData["SubCategoryList"], "", new { style = "width:180px", id = "SubCategoryList" })    
                    </div>
                    <div class="row">
                        <label class="col-md-4">Description</label>
                        @Html.TextBoxFor(model => model.Brand.Description)
                    </div>
                </div>
                <input type="submit" value="Save" id="Save" />
            </form>

        </div>
    </div>
    <div class="tab-pane " id="PType" role="tabpanel">
        <div class="container">
            <div class="col-md-2">
                @Html.Label("Type")
            </div>
            <div class="col-md-4">
                @Html.DropDownList("Type", (SelectList)ViewData["TypeList"], "", new { @class = "form-control", id = "TypeList" })
            </div>
            <form id="formCreateType">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-md-2">Name</label>
                        @Html.TextBoxFor(model => model.ProductType.Name)
                    </div>
                    <div class="row">
                        <label class="col-md-2">Description</label>
                        @Html.TextBoxFor(model => model.ProductType.Description)
                    </div>
                </div>
                <input type="submit" value="Save" id="Save" />
            </form>

        </div>
    </div>
</div>






