﻿@model Outfix.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{ 
    Layout = null;
}
<h4>Use External Account.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType.Equals("Google"))
                        {
                            <button type="submit" class="btn btn-default fa fa-google" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
                        }
                        if (p.AuthenticationType.Equals("Facebook"))
                        {
                            <button type="submit" class="btn btn-default fa fa-facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
                        }
                    }
                </p>
            </div>
        }
    }
}
