﻿@{
    ViewBag.Title = "Login Failure";
}

<hgroup style="margin-top:70px;">
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>

<div>

    <a href="@Url.Action("Index","Home")"><h4>Return to Home Page</h4></a>
</div>