﻿@model Outfix.ViewModels.LoginViewModel
@using Microsoft.Owin.Security
@{
    Layout = null;
    ViewBag.Title = "Log in";
    var returnURL = Request.Url != null ? Request.Url.ToString() : "/";
}

<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="LoginHeading" class="modal-title title_font"><b>Login to Outfix</b></h3>
                <h3 id="RegHeading" class="modal-title title_font" hidden><b>Sign Up to Outfix</b></h3>
                <hr />
            </div>

            <div style="text-align:center;width:100%;">
                <div class="login_form" id="divLogin">
                    <img style="border:none;margin-top:0px;width:50%" src="~/Content/images/logo.png" />

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = returnURL }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <span class="glyphicon glyphicon-user"></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "", style = "font-size:15px;margin-top:10px;border-radius:5px;width:35%", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <br>
                        <span class="glyphicon glyphicon-lock"></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "", style = "font-size:15px;margin-top:10px;border-radius:5px;;width:35%", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <br>
                        <input style="margin-top:15px;font-size:20px" class="btn checkout" type="submit" name="Validate" value="Login" />
                    }

                </div>
                @Html.Action("RegisterUserModal", "Account")
            </div>


            @*<p class="font-weight-bold dark-grey-text text-center d-flex justify-content-center mb-3 pt-2">
                    or Sign in
                    with:
                </p>*@
            <div style="">
                @{
                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

                    if (loginProviders.Count() == 0)
                    {
                        <div>

                        </div>
                    }
                    else
                    {
                        <form id="login-launch" action="@Url.Action("ExternalLogin", "Account", new { ReturnUrl = returnURL })" method="POST" target="login-popup" onsubmit="invokeLogin();">

                            @Html.AntiForgeryToken()

                            <h4 class="normalHeading_font" style="text-align:center;margin-left:20%;display:inline-block; width:90px"><b>or Sign-In with: </b></h4>
                            @foreach (AuthenticationDescription p in loginProviders)
                            {
                                if (p.AuthenticationType.Equals("Google"))
                                {
                                    <button id="@p.AuthenticationType" value="@p.AuthenticationType" type="submit" onclick="$('#provider').attr('value', '@p.Caption'); $('#login-launch').submit();" name="provider" style="vertical-align:super" href="#" title="Log in using your @p.Caption account" class="btnfa btnfa-google fa fa-google"></button>
                                }
                                if (p.AuthenticationType.Equals("Facebook"))
                                {
                                    <button id="@p.AuthenticationType" value="@p.AuthenticationType" type="submit" onclick="$('#provider').attr('value', '@p.Caption'); $('#login-launch').submit();" name="provider" style="vertical-align:super" href="#" title="Log in using your @p.Caption account" class="btnfa btnfa-facebook fa fa-facebook"></button>
                                }
                            }
                        </form>
                    }

                }
            </div>

            <!--Footer-->
            <div class="modal-footer mx-5 pt-3 mb-1">
                <p id="btnRegister" class="font-medium grey-text d-flex justify-content-end normalHeading_font">
                    Not a member? <a href="#" class="blue-text ml-1">
                        Sign Up
                    </a>
                </p>
                <p id="btnLogin" class="font-medium grey-text d-flex justify-content-end normalHeading_font" hidden>
                    Already a Member? <a href="#" class="blue-text ml-1">
                        Sign In
                    </a>
                </p>
                @*<button id="btnLogin" hidden>Already have an account? Login</button>*@

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<style>
    .form-elegant .font-small {
        font-size: 0.8rem;
    }

    .form-elegant .z-depth-1a {
        -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
        box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    }

    .form-elegant .z-depth-1-half,
    .form-elegant .btn:hover {
        -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
        box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    }

    .form-elegant .modal-header {
        border-bottom: none;
    }

    .modal-dialog .form-elegant .btn .fab {
        color: #2196f3 !important;
    }

    .form-elegant .modal-body, .form-elegant .modal-footer {
        font-weight: 400;
    }

    .btnfa {
        padding: 10px;
        font-size: 15px;
        width: 15%;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 5px;
    }

        .btnfa:hover {
            opacity: 0.7;
        }

    .btnfa-facebook {
        background: #3B5998;
        color: white;
    }

    .btnfa-twitter {
        background: #55ACEE;
        color: white;
    }

    .btnfa-google {
        background: #dd4b39;
        color: white;
    }
</style>

<script type="text/javascript">
    function invokeLogin() {
        var chrome = 100;
        var width = 500;
        var height = 500;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height - chrome) / 2;
        var options = "status=0,toolbar=0,location=1,resizable=1,scrollbars=1,left=" + left + ",top=" + top + ",width=" + width + ",height=" + height;
        window.open("about:blank", "login-popup", options);
    }
    function loginCallback(success, returnUrl) {
        if (returnUrl) {
            debugger
            window.location.href = returnUrl;
        }
    }
</script>