﻿@model List<Outfix.Models.ReviewModel>
@{
    ViewBag.Title = "ShowAllReviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}


<div class="container">
    <h2>Review</h2>
    <p>Manage all reviews from here</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Customer Name</th>
                <th>Review</th>
                <th>On Product</th>
                <th>Submit Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var review in Model)
            {
                count += 1;
                string rid = "Review" + count;
            <tr id="@rid">
                <td>@count</td>
                <td id="Name">@review.CustomerName</td>
                <td id="ReviewText">@review.Description</td>
                <td id="ProductId">@review.ProductName</td>
                <td id="ReviewDate">@DateTime.Now</td>
                @if (string.IsNullOrEmpty(review.Status))
                {
                    <td class="label-success" id="Status">No Actions Taken</td>
                    <td>
                        <span id="Approve" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Approve</span> |
                        <span id="Spam" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Spam</span> |
                        <span id="Trash" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Trash</span>
                    </td>
                }
                else
                {
                    <td id="Status">@review.Status</td>
                    if (review.Status == "Approved")
                    {
                        <td>
                            <span id="Unapprove" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Unapprove</span> |
                            <span id="Spam" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Spam</span> |
                            <span id="Trash" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Trash</span> |
                        </td>
                    }
                    else if (review.Status == "Spam")
                    {
                        <td>
                            <span id="NotSpam" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Not Spam</span> |
                            <span id="Trash" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Trash</span> |
                        </td>
                    }
                    else if (review.Status == "Trash")
                    {
                        <td>
                            <span id="Redo" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Redo</span> |
                            <span id="Spam" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Spam</span> |
                            <span id="Delete" style="color:black" onmouseout="Review.ChangeColor(this)" onmouseover="Review.ChangeColor(this)">Delete Permanently</span> |
                        </td>
                    }
                }

                <td id="Id" hidden>@review.ID</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/Review/UpdateReviews.js"></script>