﻿@model Outfix.ViewModels.CartViewModel
@using System.ComponentModel;

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var info = typeof(Outfix.Models.ProductVariationModel).GetProperties();
    int count = 0;
}

<h2>Order #@Model.Order.ID Details</h2>
<h6>Payment via Cash on delivery.</h6>
<div class="container">
    <div class="row">
        <div class="column col-md-4">
            <h5>General</h5>
            <div class="row">
                <div class="col-md-2">
                    <label>Date: </label>
                </div>
                <div class="col-md-10" style="font-size:12px">
                    @DateTime.Now
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Status: </label>
                </div>
                <div class="col-md-10" style="color:blue">
                    <select>
                        <option value="pending" selected="@Model.Order.Status.Equals("pending")">Pending</option>
                        <option value="processing">Processing</option>
                        <option value="dispatched">Dispatched</option>
                        <option value="completed">Completed</option>
                    </select>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Name: </label>
                </div>
                <div class="col-md-10" style="color:black">
                    @Model.Customer.FirstName @Model.Customer.LastName
                </div>
            </div>
        </div>
        <div class="column col-md-4">
            <h5>Billing</h5>
            @Model.Customer.Address
        </div>
        <div class="column col-md-4">
            <h5>Shipping</h5>
            @Model.Customer.Address
        </div>
    </div>
</div>
<div class="container">
    <h2>Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Item Name</th>
                <th>Amount</th>
                <th>Qty</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var product in Model.Order.Products)
            {
                var variation = product.Variation.FirstOrDefault();

                count += 1;
                string rid = "Review" + count;
                var total = variation.Price * variation.Qty;
                <tr id="@rid">
                    <td>@count</td>
                    <td id="Name">
                        @product.Name
                        <br />
                        @foreach (var property in info)
                        {
                            var minfo = variation.GetType().GetProperty(property.Name);
                            var pval = minfo.GetValue(variation, null);
                            var attribute = property.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().FirstOrDefault();
                            string displayName = attribute != null ? attribute.DisplayName : "";
                            if (!string.IsNullOrEmpty(displayName))
                            {
                                if (property.PropertyType.Name.Equals("Int32"))
                                {
                                    if (pval != null && Convert.ToInt32(pval) != 0)
                                    {
                                        <span>@displayName: </span>
                                        <span><b>@pval &nbsp;</b></span>
                                    }
                                }
                                else if (property.PropertyType.Name.Equals("Decimal"))
                                {
                                    if (pval != null && Convert.ToDecimal(pval) != 0)
                                    {
                                        <span>@displayName: </span>
                                        <span><b>@pval &nbsp;</b></span>
                                    }
                                }
                                else if (pval != null && !String.IsNullOrEmpty(Convert.ToString(pval)))
                                {
                                    <span>@displayName: </span>
                                    <span><b>@pval &nbsp;</b></span>
                                }
                            }
                        }
                    </td>
                    <td id="ProductId">@variation.Price</td>
                    <td id="ReviewDate">@variation.Qty</td>
                    <td id="Status">@total</td>
                    <td id="Id" hidden>@product.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

