﻿@model List<Outfix.Models.OrderModel>

@{
    ViewBag.Title = "ShowAllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Orders</h2>
<p>Manage all orders from here</p>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#All" role="tab">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Pending" role="tab">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Processing" role="tab">Processing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Delivered" role="tab">Delivered</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="row">
        <div class="column col-md-6">
            <div class="row">
                <div class="column col-md-4">
                    <select class="form-control" id="selectOrderState">
                        <option>Change Status</option>
                        <option>Pending</option>
                        <option>Processing</option>
                        <option>Delivered</option>
                        <option>Cancel Order</option>
                    </select>
                </div>
                <div class="column col-md-2">
                    <input class="btn btn-success" type="button" value="Submit" id="btn_select" name="btn_select" />
                </div>
            </div>
        </div>
        <div class="column col-md-6">
            <div class="row">
                <div class="column col-md-3">
                    <label style="padding-top:5px">Search Order</label>
                </div>
                <div class="column col-md-3">
                    <input type="text" id="searchOrder" placeholder="Search Order" />
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane active" id="All" role="tabpanel">
        <div class="container">

            <table id="tblOrders" class="table table-striped">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total Qty</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="ReviewList">
                    @foreach (var order in Model)
                    {
                        string rid = "Review" + order.ID;
                        <tr id="@rid">
                            <td><input type="checkbox" id="SelectOrder" /></td>
                            <td id="Name" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">#@order.ID  ~  @order.CustomerName</td>
                            <td id="ReviewText" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">@DateTime.Now</td>
                            <td id="ProductId" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">@order.TotalItems</td>
                            <td id="ReviewDate" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">@order.NetPayable</td>
                            <td id="Status" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">@order.Status</td>
                            <td id="Id" hidden>@order.ID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="Pending" role="tabpanel">
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total Qty</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="ReviewList">
                    @foreach (var order in Model)
                    {
                        if (order.Status.Equals("Pending"))
                        {
                            string rid = "Review" + order.ID;
                            <tr id="@rid" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">
                                <td><input type="checkbox" id="SelectOrder" /></td>
                                <td id="Name">#@order.ID  ~  @order.CustomerName</td>
                                <td id="ReviewText">@DateTime.Now</td>
                                <td id="ProductId">@order.TotalItems</td>
                                <td id="ReviewDate">@order.NetPayable</td>
                                <td id="Status">@order.Status</td>
                                <td id="Id" hidden>@order.ID</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="Processing" role="tabpanel">
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total Qty</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="ReviewList">
                    @foreach (var order in Model)
                    {
                        if (order.Status.Equals("Processing"))
                        {
                            string rid = "Review" + order.ID;
                            <tr id="@rid" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">
                                <td><input type="checkbox" id="SelectOrder" /></td>
                                <td id="Name">#@order.ID  ~  @order.CustomerName</td>
                                <td id="ReviewText">@DateTime.Now</td>
                                <td id="ProductId">@order.TotalItems</td>
                                <td id="ReviewDate">@order.NetPayable</td>
                                <td id="Status">@order.Status</td>
                                <td id="Id" hidden>@order.ID</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="Delivered" role="tabpanel">
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total Qty</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="ReviewList">
                    @foreach (var order in Model)
                    {
                        if (order.Status.Equals("Delivered"))
                        {
                            string rid = "Review" + order.ID;
                            <tr id="@rid" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">
                                <td><input type="checkbox" id="SelectOrder" /></td>
                                <td id="Name">#@order.ID  ~  @order.CustomerName</td>
                                <td id="ReviewText">@DateTime.Now</td>
                                <td id="ProductId">@order.TotalItems</td>
                                <td id="ReviewDate">@order.NetPayable</td>
                                <td id="Status">@order.Status</td>
                                <td id="Id" hidden>@order.ID</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="~/Scripts/Order/ManageOrder.js"></script>
