﻿@model Outfix.ViewModels.CustomerDetailViewModel
@{
    ViewBag.Title = "CustomerDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="column col-md-6">
            <h5>General</h5>
            <div class="row">
                <div class="col-md-2">
                    <label>Name: </label>
                </div>
                <div class="col-md-10">
                    @Model.Customer.FirstName @Model.Customer.LastName
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Status: </label>
                </div>
                <div class="col-md-10" style="color:blue">
                    Active
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Address: </label>
                </div>
                <div class="col-md-10" style="color:black">
                    @{
                        var address = Model.Customer.Address;
                        address += Model.Customer.City != null ? ", " + Model.Customer.City : "";
                        address += Model.Customer.Country != null ? ", " + Model.Customer.Country : "";
                    }
                    @address
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Contact: </label>
                </div>
                <div class="col-md-10" style="color:black">
                    @{
                        var contact = Model.Customer.Contact1;
                        contact += Model.Customer.Contact2 != null ? ", " + Model.Customer.Contact2 : "";
                    }
                    @contact
                </div>
            </div>
        </div>
        <div class="column col-md-6">
            <h5>Wallet Details</h5>
            <div class="row">
                <div class="col-md-2">
                    <label>Credit: </label>
                </div>
                <div class="col-md-2" style="color:black">
                    @Model.Wallet.Credit
                </div>
                <div class="col-md-8" style="color:black">
                    <span class="col-md-2 fa fa-history" id="walletHistory" title="Wallet History" onclick="location.href = '@Url.Action("WalletDetail", "Wallet", new { id = Model.Wallet.ID })'"></span>
                    <span class="col-md-2 fa fa-gift" id="reimburse" title="Reimbursed Credit"></span>
                    <div class="col-md-8" id="divReimburse" style="display:none" >
                        <input id="txtReimburse" placeholder="Enter Amount" style="width:120px"/>
                        <input id="btnReimburse" type="button" value="Save" /> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Order Detail</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Order Id</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var order in Model.Orders)
            {
                count += 1;
                string rid = "Order" + count;
                <tr id="@rid" onclick="location.href = '@Url.Action("OrderDetail", "Order", new { id = order.ID })'">
                    <td>@count</td>
                    <td id="Name">@order.ID</td>
                    <td id="Date">@order.CreatedDate</td>
                    <td id="Amount">@order.NetPayable</td>
                    <td id="Status">@order.Status</td>
                    <td id="Id" hidden>@order.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/Customer/Customer.js"></script>