﻿@model List<Outfix.Models.CustomerModel>

@{
    ViewBag.Title = "ShowAllCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <h2>Users</h2>
    <p>Manage all Users from here</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var customer in Model)
            {
                count += 1;
                string rid = "Customer" + count;
                <tr id="@rid" onclick="location.href = '@Url.Action("CustomerDetail", "Customer", new { id = customer.ID })'">
                    <td>@count</td>
                    <td id="Name">@customer.FirstName @customer.LastName</td>
                    <td id="ProductId">@customer.Email</td>
                    <td id="ReviewText">@customer.Gender</td>
                    <td id="ReviewText">@customer.City</td>
                    <td id="ReviewText">@customer.Country</td>
                    <td id="ReviewText">@customer.IsActive</td>
                    <td id="Id" hidden>@customer.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>
