﻿@model Outfix.Models.ReferralModel
@{
    ViewBag.Title = "CreateReferral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Create Referral</h3>
<h6>Create and Manage referral codes for Any User</h6>

@using (Html.BeginForm("CreateReferralForUser", "Referral", FormMethod.Post))
{
    <div class="container">
        <div class="row form-group">
            <div class="col col-md-2">
                @Html.LabelFor(m => m.Code)
            </div>
            <div class="col col-md-4">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="col col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col col-md-4">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2">
                @Html.LabelFor(m => m.Limit)
            </div>
            <div class="col col-md-4">
                @Html.TextBoxFor(m => m.Limit, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2">
                @Html.LabelFor(m => m.WalletPoints)
            </div>
            <div class="col col-md-4">
                @Html.TextBoxFor(m => m.WalletPoints, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-2">
                @Html.LabelFor(m => m.UserId)
            </div>
            <div class="col col-md-4">
                @Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-6">
                <input type="submit" class="btn btn-success" value="Submit" style="float:right" />
            </div>
        </div>
    </div>
}
