﻿@model Outfix.ViewModels.ReferralViewModel
@{
    ViewBag.Title = "ReferralDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}


<div class="container">
    <div class="row">
        <div class="column col-md-4">
            <h5><u>General</u></h5>
            <div class="row">
                <div class="col-md-4">
                    <label>Date: </label>
                </div>
                <div class="col-md-8">
                    @DateTime.Now
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Status: </label>
                </div>
                <div class="col-md-8" style="color:blue">
                    Active
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Name: </label>
                </div>
                <div class="col-md-8" style="color:black">
                    @Model.Referral.Name
                </div>
            </div>
        </div>
        <div class="column col-md-4">
            <h5><u>Wallet Details</u></h5>
            <div class="row">
                <div class="col-md-4">
                    <label>Points: </label>
                </div>
                <div class="col-md-8">
                    @Model.Referral.WalletPoints
                </div>
            </div>
        </div>
        <div class="column col-md-4">
            <h5><u>Usage</u></h5>
            <div class="row">
                <div class="col-md-4">
                    <label>Total Limit</label>
                </div>
                <div class="col-md-8">
                    @Model.Referral.Limit
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Referral Detail</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Order Id</th>
                <th>User</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var referral in Model.ReferralDetails)
            {
                count += 1;
                string rid = "Referral" + count;
                <tr id="@rid">
                    <td>@count</td>
                    <td id="Name">@referral.OrderId</td>
                    <td id="ReviewDate">@referral.UserId</td>
                    <td id="ProductId">@referral.WalletPoints</td>
                    <td id="Id" hidden>@referral.ReferralId</td>
                </tr>
            }
        </tbody>
    </table>
</div>

