﻿@model List<Outfix.Models.ReferralModel>

@{
    ViewBag.Title = "ShowAllReferrals";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <h2>Referral Codes</h2>
    <p>Manage all Referral Codes from here</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Referal Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Limit</th>
                <th>User Id</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var referral in Model)
            {
                count += 1;
                string rid = "Review" + count;
                <tr id="@rid" onclick="location.href = '@Url.Action("ReferralDetail", "Referral", new { id = referral.ID })'">
                    <td>@count</td>
                    <td id="Name">@referral.Code</td>
                    <td id="ReviewText">@referral.Name</td>
                    <td id="ProductId">@referral.Description</td>
                    <td id="ProductId">@referral.Limit</td>
                    <td id="ReviewDate">@referral.UserId</td>
                    <td id="Id" hidden>@referral.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

