﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Outfix - About";
}

<div class="about_div">
    <div class="about" style="margin:auto;padding:20px;color:white;background:#0d567f;text-align:center;width:95%;">
        <h1 style="font-weight:bold;">About Us</h1>
        <p style="font-size:20px;">
            Outfix is a leading firm with a Head office based in the United Kingdom, London along with distinctive presence internationally. The organisation is consisted of experienced professional management team with entirely new concept within the consumer goods industry to save international staff costs and international office expenses.
        </p>
        <h3 style="margin-left:30px;text-align:left;font-weight:bold;">Why Choose Outfix?</h3>
        <p style="margin-left:30px;text-align:left;font-size:18px;">
            We pride ourselves in offering complete customised international Brand Intelligence services and solutions to the UK & Ireland, GCC and Africa.
            Our team are trained and have to meet the benchmarks set by the organisation to ensure that they provide the best brand solutions for their brand to our clients.
        </p>
        <h3 style="margin-left:30px;text-align:left;font-weight:bold;">What we do?</h3>
        <p style="margin-left:30px;text-align:left;font-size:18px;">We are available for advising and guiding our clients throughout the process of <strong>new brand development</strong> in their desired market, aswell as <strong>existing brand development</strong> by re-engineering in the market. We have a team of dedicated professionals working in their areas of expertise with a positive attitude. We take great pride in our staff and have a wonderful team of professionals working for us.</p>
        <ul style="margin-left:30px;text-align:left;font-size:20px;">
            <li>New Brand Development Globally</li>
            <li>Exisitng Brand Development Globally</li>
        </ul>
        <h3 style="margin-left:30px;text-align:left;font-weight:bold;">Our Specialities</h3>
        <p style="margin-left:30px;text-align:left;font-size:18px;">We are interface between the client and the international market.  We are here to <strong>provide the best solution and great services for clients to transform their local brand into an international brand</strong> and increase the existing brand’s market share and profitability by using our entirely unique concepts to save international team costs by hiring our services for us to manage their brand awareness internationally and use our International offices as representative offices to save international office expenses.</p>
    </div>
    <div class="about_1" style="margin:auto;text-align:center;background:white;width:95%;">
        <img class="about_logo" src="~/Content/images/logo.png" />
    </div>
</div>