﻿
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about_div">
    <div id="about" style="margin:auto;padding:20px;color:white;background:#0d567f;text-align:center;width:95%;">
        <h1 style="font-weight:bold;">Frequently Asked Questions</h1>

        <div id="What" onclick="Show_What()" style="background:#b2f8f0;cursor:pointer;width:100%;border:1px solid white;">
            <h3 style="margin-top:10px;margin-left:30px;text-align:left;font-weight:bold;color:black">What is Outfix?</h3>
        </div>
        <p id="What_Section" style="background:white;color:black;display:none;padding:20px;text-align:left;font-size:18px;">
            <br><b>1. What is OutFix?</b><br>
            Out Fix is an online styling subscription service that delivers a truly personalized shopping experience, for mean all around asia. Select 10 shirts that fits your tastes, needs and budget that you like and order it at your place —and mail them right to your doorstep. Each Fix-box will contain shirts for you to try with assistance of our salesmen. Simply keep the items you love and send back the rest in the plastic bags in which the shirts were put. Shipping and returns are always free—even for exchanges!

            <br><br>2.Why to try everything on from the comfort of home?<br>
            We encourage you to try on everything in the box, especially since you never know what will look good or what you might like.

            <br><br>3.Buy what you like and return the rest<br>
            Take 20 to 30 minutes to decide what you want to buy and send back the rest. You’ll only be charged for what you keep. Check out by signing out of your account after selecting the items you want to keep, return the rest. We will then charge you for any items you’ve decided to keep. Rs 500/- will be charged if you purchase nothing. If you buy 3 items, you receive a 30% discount off the entire box! Return the items you don't want from the Fix-box with care and return it to the team and enjoy free shipping both ways and customization as a benefit of using our service.

            <br><br>4.Tell us what you think?<br>
            Remember to give us feedback on the items you received. Telling us what you liked, didn’t like and why helps your Stylist know what to send in future Fix deliveries. Our men's blog offer tips on how to communicate with your Stylist.

            <br><br>5.What is monthly FIX-BOX subscription?<br>
            OutFix also provides a monthly subscription by providing shirts according to Style Profile for yourself or your information for free. keep the shirts that fits you best and send back the rest.

            <br><br>6.How is OutFix different from shopping online or a store?<br>
            The OutFix experience is not merely curated, it’s truly personalized to your taste, budget and lifestyle. Stylists handpick items just for you or select the items that you like from our website and experience shopping the new way. Outfix makes shopping not just convenient, but effortless. Like other online retailers, Outfix saves you a trip to the store by shipping items directly to you. Our Personal Stylists also save you the time and trouble of selecting clothing and accessories. Many of our clients enjoy the ease and convenience of automatical monthly subscriptions that arrive at the start of the month. At Outfix, the dressing room is your home. We encourage you to try everything on from the comfort of your home and see how the items work with what’s already in your closet. Returns are easy. Simply place the items you’re returning into the shirt bags. Shipping is always free!

            <br><br>7.How much does it cost?<br>
            We carry a variety of prices so we can personalize items to your budget. Our Men’s items range from Rs3500 - Rs7500/- When you complete the Style Profile, you tell us how much you’re comfortable paying for each item. Your Stylist will do their best to send you items within your set range. If you choose to buy 3 shirts in your delivery, you’ll receive a 30% discount off of your entire purchase! Learn more about our pricing and how to save money with Outfix.

            <br><br>8.What types of items can I expect?<br>
            Because our clients’ tastes are varied, we carry a wide range of items. We’re growing and evolving quickly, and you can expect to see us add more and more new categories and brands.

            <br><br>9.What brands can I expect in your Men's line?<br>
            We work with more than 250 established and up-and-coming labels and brands—some you’ll find featured in magazines and on celebrities. For example, your shipment might feature clothing by Lanvin Paris or Ralph Lauren, Eloquii, Joie, Gorjana and Citizens for Humanity. Part of the fun of OutFix is that we’ll introduce you to new brands that will bring diversity and freshness to your wardrobe. Learn more about the brands we offer for women, and our premium brands.

            <br><br>10.What ages can you style?<br>
            Each shipment is completely customized to fit your individual preferences and needs. We carry a wide range of inventory that allows us to choose pieces that’ll be perfect for your personal style—regardless of your age. However, you must be a collar 15 at least to order a Fix delivery for yourself.

            <br><br>11.What sizes can you style?<br>
            We currently carry men’s sizes M-3XL. We’re always working to increase our range of sizes so that we can deliver great selections to more clients.

            <br><br>12.Where do you ship?<br>
            We currently ship all over Asia. We’re also planning to launch our service in the United Kingdom in 2021. Sign up for our UK and USA wait list coming soon.

            <br><br>13.Do you offer petite sizing?<br>
            No! We are working on bring it in now and offer men’s minus sizes (XS/S) (13.5/14/14.5)

            <br><br>14.Can I request specific pieces?<br>
            For our Outfix users - You can leave a Fix Note for your Stylist whenever you schedule a shipment. You can view, edit or add to your Fix Note directly on your Stitch Fix homepage or in the Phone app (coming soon). We recommend giving your Stylist an idea of what types of pieces you’re looking for rather than exact pieces so that sthe Stylist can choose new items you’ll love. For example, instead of a specific shirt, please let her know you’d love a printed button-up shirt for work and then the Stylist can choose the best piece for you from our current inventory. If you request a specific piece, we’ll do our best to find it for you, but sometimes these items are out of stock.
        </p>

        <div id="How" onclick="Show_How()" style="cursor:pointer;width:100%;border:1px solid white;">
            <h3 style="margin-top:10px;margin-left:30px;text-align:left;font-weight:bold;">How Does it Work?</h3>
        </div>
        <p id="How_Section" style="display:none;margin-left:30px;text-align:left;font-size:18px;">
            <br>1.Why to fill the Style Profile?<br>
            First, you’ll need to complete a Style Profile for yourself or your information will help your Stylist understand the sizes and styles you’re looking for, as well as your ideal price range. Completing a profile takes about 10-15 minutes.

            <br><br>2.When will i receive my Fix after you are done experiencing shopping?<br>
            The Fix-box will be delivered to you in the next 2 days.
        </p>

        <div id="Profile_Style" onclick="Show_Style_Profile()" style="cursor:pointer;width:100%;border:1px solid white;">
            <h3 style="margin-top:10px;margin-left:30px;text-align:left;font-weight:bold;">Profile Style</h3>
        </div>
        <p id="Profile_Style_Section" style="display:none;margin-left:30px;text-align:left;font-size:18px;">
            <br>1.How do I find my size?<br>
            Please use a measuring tape to measure your collar size (inches/cm) to provide us with your size. If you don't know how to measure it then let us know then if ou usually wear a ( Medium, Large or Xtrs Large shirt ). Because we constantly validate sizing to ensure consistency among the many brands we carry, we may choose to ship you a different size than what you have included in your Style Profile. Don’t worry about the size on the tag, we're just making sure we're sending you items that will fit you best.

            <br><br>2.Do you offer Big & Tall sizing?<br>
            We now offer Big & Tall sizings for men along with our regular selection of inventory. We’re actively working with our brands to increase our range of Big & Tall sizes so that we can deliver great selections to more clients.

            <br><br>3.What's the difference between your regular inventory and Big & Tall sizing?<br>
            We offers our clients access to inventory with longer sleeves, Broader shoulders, and longer hems and inseams—all to fit you better!
        </p>

        <div id="Billing" onclick="Show_Billing()" style="cursor:pointer;width:100%;border:1px solid white;">
            <h3 style="margin-top:10px;margin-left:30px;text-align:left;font-weight:bold;">Billing</h3>
        </div>
        <p id="Billing_Section" style="display:none;margin-left:30px;text-align:left;font-size:18px;">
            <br>1.What if I don’t buy anything?<br>
            For each scheduled Fix, a Rs.500/- styling fee will be charged right before your Stylist begins styling for you. That styling fee will be credited toward anything you purchase in that shipment.

            <br><br>2.Does the style fee roll over if I decide not to keep anything?<br>
            Your styling fee can only be applied to a purchase from your current Fix. It doesn’t roll over to your next shipment, isn’t refunded, and can’t be transferred later. This applies whether you return all your items, or purchase an item that’s less than the cost of the fee. Our number one priority is to personalize your Fix so you find at least one item you love and can put your styling fee to good use. If you decide not to keep anything this time around, make sure to leave feedback for each item, so we can improve our picks for you in future Fixes and if you think the styling is nice but the fitting needs to be adjusted, we are more than happy to customize the item that needs a Fix.

            <br><br>3.Does the style fee roll over if I decide not to keep anything?<br>
            Your styling fee can only be applied to a purchase from your current Fix. It doesn’t roll over to your next shipment, isn’t refunded, and can’t be transferred later. This applies whether you return all your items, or purchase an item that’s less than the cost of the fee. Our number one priority is to personalize your Fix so you find at least one item you love and can put your styling fee to good use. If you decide not to keep anything this time around, make sure to leave feedback for each item, so we can improve our picks for you in future Fixes and if you think the styling is nice but the fitting needs to be adjusted, we are more than happy to customize the item that needs a Fix.
        </p>

        <div id="Scheduling" onclick="Show_Scheduling()" style="cursor:pointer;width:100%;border:1px solid white;">
            <h3 style="margin-top:10px;margin-left:30px;text-align:left;font-weight:bold;">Scheduling</h3>
        </div>
        <p id="Scheduling_Section" style="display:none;margin-left:30px;text-align:left;font-size:18px;">
            <br>1.Do I have to sign up for automatic deliveries?<br>
            Not unless you want to! We think regularly scheduled shipments are a truly effortless way to keep your style fresh and pomp. You can elect to receive shipments at a frequency that’s right for you—every 2-3 weeks, every month, every other month or every three months. We want you to choose the solution that works best with your schedule and lifestyle, whether that means shipments arrive automatically or you place an order manually each time. Outfix doesn’t require a membership fee or a monthly subscription.

            <br><br>2.How do I change or cancel my automatic deliveries?<br>
            By reaching us at 0333-377-7269
        </p>

    </div>
    <div class="about_1" style="margin:auto;text-align:center;background:white;width:95%;">
        <img class="about_logo" src="~/Content/images/logo.png" />
    </div>
</div>

