@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cust = Session["Customer"] != null && !string.IsNullOrEmpty(Session["Customer"].ToString()) ? Session["Customer"] : null;
}

<div class="container started get_started">
    <button style="margin-top:10px;font-size:20px;" type="button" class="btn start">Get Started&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>
</div>

<div class="main">
    <div class="punchline">
        <h1 class="heading">Breaking the E-Commerce<br>Shopping Experience</h1>
        <p class="tagline">We let you keep what you like<br>and return the rest.</p>
        <button style="font-size:20px;" type="button" class="btn start">Get Started&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>
        <br><a style="color:black;" href="#categories"><span style="font-size:40px;" class="glyphicon glyphicon-menu-down"></span></a>
    </div>
</div>

<div class="container" style="margin-top:70px;width:100%;">
    <div class="row">
        <div id="categories" class="cat1 column">
            <a href="@Url.Action("ProductsPage","Product",new { Tp= "Men" })"><img style="box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);border-radius:5px;" src="~/Content/images/Categories/Men.jpeg"></a>
        </div>
        <div class="cat2 column">
            <a href="@Url.Action("ProductsPage","Product",new { Tp= "Women" })"><img style="box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);border-radius:5px;" src="~/Content/images/Categories/Women.jpeg"></a>
        </div>
        <div class="cat2 column">
            <a href="@Url.Action("ProductsPage","Product",new { Tp="Kids" })"><img style="box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);border-radius:5px;" src="~/Content/images/Categories/Kids.jpeg"></a>
        </div>
    </div>
</div>

<div class="container how_it_works">
    <h1 style="color:white;text-align:center;">How It Works</h1>
    <div style="padding-bottom:40px;" class="row">
        <div class="how1 column">
            <h1 style="text-decoration:underline;color:white;text-align:center;">01</h1>
            <h2 style="font-weight:bold;font-size:20px;color:white;text-align:center;">Select Products</h2>
            <p style="font-size:15px;color:white;text-align:center;">Select a maximum of 8 products per order.</p>
        </div>
        <div class="how2 column">
            <h1 style="text-decoration:underline;color:white;text-align:center;">02</h1>
            <h2 style="font-weight:bold;font-size:20px;color:white;text-align:center;">Buy what you want</h2>
            <p style="font-size:15px;color:white;text-align:center;">Try on pieces at home before you buy, keep your favorites and send back the rest.</p>
        </div>
        <div class="how2 column">
            <h1 style="text-decoration:underline;color:white;text-align:center;">03</h1>
            <h2 style="font-weight:bold;font-size:20px;color:white;text-align:center;">Tell us what you think</h2>
            <p style="font-size:15px;color:white;text-align:center;">Share your experience and give us the feedback on the items you purchased.</p>
        </div>
    </div>
    <div style="margin-bottom:10px;text-align:center;width:100%;height:auto;" class="container">
        <video class="vid sc_video" muted controls autoplay loop>
            <source src="~/Content/images/video.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="ready">
    <div class="cont1">
    </div>
    <div class="cont2">
    </div>
    {
    <div class="cont3">
        @if (cust == null)
        {
            <button type="button" data-toggle="modal" data-target="#modalLogin" class="btn ready_button">Take Your Style Quiz&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>
        }
        else
        {
            <button type="button" onclick="location.href = '@Url.Action("Index", "Profile")'" class="btn ready_button">Take Your Style Quiz&nbsp;&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></button>
        }
        <p style="margin-top:30px;margin-bottom:10px;font-size:18px;">Already Have an Account? <a href="#" data-toggle="modal" data-target="#modalLogin">Sign Up&nbsp;<span style="font-size:15px;" class="glyphicon glyphicon-triangle-right"></span></a></p>
    </div>
    <div class="cont4">
        <h3><b>Ready to Sign Up?</b></h3>
    </div>
</div>


