﻿
@{
    ViewBag.Title = "Outfix - Privacy Policy";
}

<div class="mobile_menu" style="margin-top:-80px;">
    @Html.Partial("~/Views/Shared/MobileMenu.cshtml")
</div>
<div class="mobile_options" id="mobile_options" style="margin-top:-35px;">
    @Html.Partial("~/Views/Shared/MobileOptions.cshtml")
</div>
<div id="divSubmenu" class="container sub_menu" style="margin-top:-30px;">
    @Html.Partial("~/Views/Shared/SubMenu.cshtml")
</div>
<div id="Wallet" class="Wallet" hidden style="margin-top:-15px;">
    @Html.Partial("~/Views/Profile/Wallet.cshtml")
</div>
<div id="Box" class="Box" hidden style="margin-top:-15px;">
    @Html.Action("NavbarCart", "Cart", routeValues: null)
</div>
<div id="SearchResults" class="search_results">
</div>
<div id="Profile_Div" class="Profile_Div" style="margin-top:-15px;"  hidden>
    @Html.Partial("~/Views/Profile/MobileProfile.cshtml")
</div>

<div class="about_div">
    <div class="about" style="margin:auto;padding:20px;color:white;background:#0d567f;text-align:center;width:95%;">
        <h1 style="font-weight:bold;">Policy</h1>
        <p style="font-size:20px;">
            Outfix, Asia. (“Outfix”, “we”, “us”, or “our”) is committed to protecting your privacy.
            Outfix is a fashion retailer that blends the e-commerce & retail styling, experiential technology and unique product to deliver an easy, enjoyable, personalized shopping experience. We have prepared this Privacy Policy (“Privacy Policy”) to describe to you our practices regarding the personal information we collect from users on our website, located at www.outfix.asia (the “Site”), and the services offered through the Site, and any orders that you place (collectively, the “Services”). QUESTIONS; CONTACTING OUTFIX; REPORTING VIOLATIONS If you have any questions, concerns or complaints about our Privacy Policy, our data collection or processing practices, or if you want to report any security violations to us, please contact us at info@outfix.com, or 1 CASVHLAJSVPOJA;VJA Street 0000, San Francisco, CA XXXXX. Information Collected Information You Provide to Us. When you sign up for an account for our Services (an “Account”), you provide us your name, email address, password, and zip code to register with us or connect to the Service via a Social Networking Site, or “SNS” (defined below). In addition, we collect information as part of your Style Profile, such as your date of birth, as well as sizing, fit and style preference information. If you post a photo to your Account, we will collect that photo. When you receive a shipment, we record what you keep and what you return. If you provide us feedback or contact us via e-mail or through the Services, we will collect your name and e-mail address, as well as any other content included in the message. If you provide us feedback or contact us via e-mail, we will collect your name and e-mail address, as well as any other content included in the e-mail, in order to send you a reply. When you place an order for the Services or when you order products through the Services, we or our third party payment provider will collect payment, shipping and billing information in order to process the transaction. When you post content (text, images, photographs, videos, messages, comments or any other kind of content) on our Services, the information contained in your posting will be stored in our servers and other users of the Services will be able to see it if you post it in an area made public, such as comments on our blogs. We retain information on your behalf, such as messages you send (including the content of the message and the recipient data) using your Account. When you participate in one of our surveys, we may collect additional profile information. If you participate in a sweepstakes, contest or giveaway on our Services, we may ask you for your e-mail address and/or home phone number,to notify you if you win. We may also ask for first and last names, and sometimes post office addresses to verify your identity. In some situations we may need additional information as a part of the entry process, such as a prize selection choice. These sweepstakes and contests are voluntary. We may also collect personal information at other points in our Services that state that personal information is being collected. For online payments, we use the payment services - (Tentative) Information Collected from Third Party Companies. We may receive information about you from other sources. We may add this information to the information we have already collected from you via our Services in order to improve the Services. Information Collected from Social Networking Sites. The Services allow users to share information with us via social networking sites, such as Facebook, Facebook Messenger, Instagram, Pinterest, Snapchat. Information Collected Automatically. Generally. When you use our Services, some information is automatically collected. For example, when you use our Services, your geographic location, how you use the Services, information about the type of device you use, your mobile network information, your Open Device Identification Number (“ODIN”), date/time stamps for your visit, your unique device identifier (“UDID”), and your browser type, operating system, Internet Protocol (IP) address, and domain name are all collected. This information is generally used to help us deliver the most relevant information to you and administer and improve the Services. In addition, in the event our web crashes on your mobile device, we will receive information about your mobile device model software version and device carrier, which allows us to identify and fix bugs and otherwise improve the performance of our web. Log Files. As is true of most websites, we gather certain information automatically and store it in log files. This information includes IP addresses, browser type, Internet service provider (“ISP”), referring/exit pages, operating system, date/time stamp, and clickstream data. We use this information to maintain and improve the performance of the Services. Cookies Like many online services, we use cookies to collect information. “Cookies” are small pieces of information that a website sends to your computer’s hard drive while you are viewing the website. We and some third parties may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Services and to market the Services or other products. Marketing Companies. Currently, we work with no companies that assist in marketing our services to you on third party websites. Use of Your Personal information General Use. In general, personal information you submit to us is used either to respond to requests that you make, aid us in serving you better, or market our Services. We use your personal information in the following ways: to choose and deliver your shipment; respond to comments, requests and questions and provide customer service; facilitate the creation of and secure your Account on our network; identify you as a user in our system; provide, process and deliver the Services you request; send you administrative e-mail notifications, such as security or support and maintenance advisories; resolve disputes and/or troubleshoot problems; develop, improve, and deliver marketing and advertising for the Services; process and deliver orders; respond to your inquiries related to employment opportunities or other requests; and send newsletters, surveys, offers, and other promotional materials related to our Services and for other marketing purposes. User Feedback. We may post user feedback on the Services from time to time. If you make any comments on a blog, SNS wall or forum associated with the Service, you should be aware that any information you submit there can be read, collected, or used by other users of these forums, and could be used to send you unsolicited messages. We are not responsible for the information you choose to submit in these blogs and forums. Disclosure of Your Personal information We disclose your personal information as described below and as described elsewhere in this Privacy Policy. Business Partners. In order to facilitate your purchase of items from third party partners, we may disclose certain Personal Information about you when you ask us to do so. Corporate Restructuring. We may share some or all of your personal information in connection with or during negotiation of any merger, financing, acquisition or dissolution transaction or proceeding involving sale, transfer, divestiture, or disclosure of all or a portion of our business or assets. In the event of insolvency, bankruptcy, or receivership, personal information may also be transferred as a business asset. If another company acquires our company, business, or assets, that company will possess the personal information collected by us and will assume the rights and obligations regarding your personal information as described in this Privacy Policy. Other Disclosures. Regardless of any choices you make regarding your Personal information (as described below), Outfix may disclose Personal information if it believes in good faith that such disclosure is necessary: (i) in connection with any legal investigation; (ii) to comply with relevant laws or to respond to subpoenas or warrants served on Outfix; (iii) to protect or defend the rights or property of Outfix or users of the Services; and/or (iv) to investigate or assist in preventing any violation or potential violation of the law, this Privacy Policy, or our Terms of Use. REFERRALS The Services allow you to invite your friends to sign up for the Services by sharing a referral link via an SNS, email or other means, or by sending invitations through Outfix’s referral page on the websites. If you choose to upload your contacts to the Service, we will receive and store those contacts’ information and use it to send invitations on your behalf when you choose to do so. When you refer someone via our Site, your referral will include your name and, if shared with us, your photo. YOUR CHOICES REGARDING INFORMATION You have several choices regarding the use of information on our Services: Choices. We offer you choices regarding the collection, use, and sharing of your personal information. We will periodically send you newsletters and e-mails that directly promote the use of our Services. When you receive newsletters or promotional communications from us, you may indicate a preference to stop receiving further communications from us and you will have the opportunity to “opt-out” by following the unsubscribe instructions provided in the e-mail you receive or by contacting us directly (please see contact information below). Despite your indicated e-mail preferences, we may send you service related communications, including notices of any updates to our Terms of Use or Privacy Policy. Cookies. If you decide at any time that you no longer wish to accept cookies from our Services for any of the purposes described above, then you can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. Consult your browser’s technical information. If you do not accept cookies, however, you may not be able to use all portions of the Services or all functionality of the Services. If you have any questions about how to disable or modify cookies, please let us know at the contact information provided below. Changes to Personal Information. You may change your personal information in your Account by editing your profile within your Account. You may request that we delete your personal information in your Account, but please note that we may be required to keep this information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request only after we have fulfilled such requirements). When we delete any information, it will be deleted from the active database, but may remain in our archives. We may retain your information for fraud prevention or similar purposes. While we and others give you the choices to control the information collected and used as described in this Privacy Policy, there are many web browser signals and other similar mechanisms that can indicate your choice to disable tracking, and we may not be aware of or honor every mechanism. Information Disclosed to Third Parties. This Privacy Policy addresses only our use and disclosure of information we collect from and/or about you on the Services. If you disclose information to others, or authorize us to do the same under this Privacy Policy, the use and disclosure restrictions contained in this Privacy Policy will not apply to any third party. We do not control the privacy policies of third parties, and you are subject to the privacy policies of those third parties where applicable. HOW WE RESPOND TO DO NOT TRACK SIGNALS We do not currently respond to “do not track” signals or other mechanisms that might enable consumers to opt out of tracking on our Services. A NOTE ABOUT CHILDREN Our Services are not directed to children under the age of 13 and children under the age of 13 are not eligible to use our Services. We do not collect or maintain personal information from children we actually know are under the age of 13. If a child under 13 submits personal information to us and we learn that the personal information is the personal information of a child under 13, we will take steps to remove the personal information from our databases. If you believe that a child under 13 provided us with personal information, please contact us at info@outfix.asia. The children’s products we offer via our Services are intended for purchase by adults. We collect some limited personal information about children from the adults purchasing children’s products via our Services. Information about children that we collect from adults and store includes name, birth date, height, weight and style preferences. If you provide us information about a child and you are not the parent or legal guardian of that child, please obtain the parent or legal guardian’s consent to provide us such information. USERS OUTSIDE OF PAKISTAN If you are a non PK user of the Services, by using the Services and/or providing us with information, you acknowledge and agree that your personal information may be processed for the purposes identified in this Privacy Policy. In addition, your personal information may be processed in the country in which it was collected and in other countries, including Pakistan, where laws regarding processing of personal information may be less stringent than the laws in your country. By providing your information, you consent to such transfer. CONTACT INFORMATION We welcome your comments or questions about this Privacy Policy. You may contact us at info@outfix.com. CHANGES TO THIS PRIVACY POLICY This Privacy Policy is subject to occasional revision, and if we make any material changes in the way we use your personal information, we will notify you by sending you an e-mail to the last e-mail address you provided to us and/or by prominently posting notice of the changes on the Services and updating the “Last Updated” date above. Any changes to this Privacy Policy will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you or thirty (30) calendar days following our posting of notice of the changes on the Services. These changes will be effective immediately for new users of our Service. Please note that at all times you are responsible for updating your personal information to provide us with your most current e-mail address. In the event that the last e-mail address that you have provided us is not valid, or for any reason is not capable of delivering to you the notice described above, our dispatch of the e-mail containing such notice will nonetheless constitute effective notice of the changes described in the notice. If you do not wish to permit changes in our use of your personal information, you must notify us prior to the effective date of the changes that you wish to deactivate your Account with us. Continued use of our Services, following notice of such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes. Last Updated: March 08, 2019 THE SERVICE
        </p>
    </div>
    <div class="about_1" style="margin:auto;text-align:center;background:white;width:95%;">
        <img class="about_logo" src="~/Content/images/logo.png" />
    </div>
</div>