﻿@using Outfix.ViewModels
@model Outfix.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutNoHeaders.cshtml";
    ViewBag.Title = "Register";
    var returnURL = Request.Url != null ? Request.Url.ToString() : "/";
}

<div class="signup_form" id="divRegister" style="width:50%;margin:auto">
    <a href="@Url.Action("Index","Home")">
        <img style="border:none;margin-top:0px;width:50%;" src="~/Content/images/logo.png" />
    </a>
    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = returnURL }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="signup_field" >
            <div style="width:99%;">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;@Html.TextBoxFor(m => m.Username, new { style = "width:90%;font-size:15px;margin-top:10px;border-radius:5px;", placeholder = "Username" })
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;@Html.TextBoxFor(m => m.Email, new { style = "width:90%;font-size:15px;margin-top:10px;border-radius:5px;", placeholder = "Email" })
            </div>
            <div style="width:99%;">
                <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;@Html.PasswordFor(m => m.Password, new { style = "width:90%;font-size:15px;margin-top:10px;border-radius:5px;", placeholder = "Password" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { style = "margin-left:20px;width:90%;font-size:15px;margin-top:10px;border-radius:5px;", placeholder = "Confirm Password" })
            </div>
        </div>
        <div style="width:100%;text-align:center;">
            <span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;@Html.TextBoxFor(m => m.Refferal, new { style = "width:50%;font-size:15px;margin-top:10px;border-radius:5px;", placeholder = "Referral (if any)" })
            <br />
            <input style="margin-top:15px;font-size:20px" class="btn checkout" type="submit" name="Validate" value="Sign Up" />
        </div>
    }
</div>

