﻿@model List<Outfix.Models.WalletModel>
@{
    ViewBag.Title = "ShowAllWallets";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<div class="container">
    <h2>Wallet</h2>
    <p>Manage all Wallets from here</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Name</th>
                <th>Credit</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var wallet in Model)
            {
                count += 1;
                string rid = "Wallet" + count;
                <tr id="@rid" onclick="location.href = '@Url.Action("WalletDetail", "Wallet", new { id = wallet.ID })'">
                    <td>@count</td>
                    <td id="Name">@wallet.UserID </td>
                    <td id="ProductId">@wallet.Credit</td>
                    <td id="Id" hidden>@wallet.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>

