﻿@model List<Outfix.Models.WalletDetailsModel>
@{
    ViewBag.Title = "WalletDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="column col-md-6">
            <h5>General</h5>
            <div class="row">
                <div class="col-md-2">
                    <label>Name: </label>
                </div>
                <div class="col-md-10">
                    Customer Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Status: </label>
                </div>
                <div class="col-md-10" style="color:blue">
                    Active
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Address: </label>
                </div>
                <div class="col-md-10" style="color:black">
                    Address
                </div>
            </div>
        </div>
        <div class="column col-md-6">
            <h5>Wallet Details</h5>
            <div class="row">
                <div class="col-md-2">
                    <label>Credit: </label>
                </div>
                <div class="col-md-2" style="color:black">
                    total Credit
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Wallet Detail</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Order Id</th>
                <th>Date</th>
                <th>Expiry Date</th>
                <th>Credit Added</th>
                <th>Credit Used</th>
                <th>Code Used</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="ReviewList">
            @foreach (var order in Model)
            {
                count += 1;
                string rid = "Wallet" + count;
                <tr id="@rid" >
                    <td>@count</td>
                    <td id="Id">@order.WalletID</td>
                    <td id="Date">@order.DateUsed @DateTime.Now</td>
                    <td id="Expiry">@order.ExpiryDate @DateTime.Now.AddDays(3)</td>
                    <td id="TotalCA">@order.TotalCreditAdded</td>
                    <td id="TotalCR">@order.TotalCreditUsed</td>
                    <td id="Code">@order.CodeUsed</td>
                    <td id="Status">@order.IsActive</td>
                    <td id="Id" hidden>@order.ID</td>
                </tr>
            }
        </tbody>
    </table>
</div>
