input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    border: 1px solid #CD0A0A;
}
.field-validation-error
{
    color:red;
}
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }

.social-network a.icoInstagram:hover {
    background-color: #3f729b;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoSnapchat:hover {
    background-color: #FFFC00;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoYoutube:hover {
    background-color: #c4302b;
}

    .social-network a.icoInstagram:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoSnapchat:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoYoutube:hover i {
        color: #fff;
    }

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: black;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

html {
    scroll-behavior: smooth;
}

.signup {
    background: white;
    border: 1px #CCD1D1 solid;
    font-size: 16px;
}

    .signup:hover {
        border-color: black;
    }

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.start {
    width: 200px;
    height: 50px;
    background: red;
    color: white;
    margin-bottom: 70px;
}

    .start:hover {
        background: maroon;
        color: white;
    }

.checkout {
    width: 200px;
    height: 50px;
    background: #229954;
    color: white;
}

    .checkout:hover {
        background: #196F3D;
        color: white;
    }

.start1 {
    width: 200px;
    height: 50px;
    background: #27AE60;
    color: white;
    margin-bottom: 10px;
    margin-left: 50px;
    display: none;
}

    .start1:hover {
        background: #186A3B;
        color: white;
    }

.size_items_mobile {
    display: none;
}

.size_items {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

#nav {
    background: #0d567f;
    border: 1px solid #CCD1D1;
    font-size: 18px;
    height: 51px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.get_started {
    display: none;
    z-index: 1;
    top: 0;
    position: fixed;
    height: 70px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #CCD1D1;
    margin-bottom: 0px;
    margin-top: 51px;
    width: 100%;
}

.Desktop_Menu {
    z-index: 1;
    display: flex;
    height: 50px;
    color: white;
    background: #0d567f;
    width: 100%;
    border: 1px solid #EAECEE;
    position: fixed;
}

.main {
    width: 100%;
    border: 1px solid white;
    height: auto;
    background: red;
}

.punchline {
    padding: 10px;
    text-align: center;
    width: 40%;
    height: auto;
    background: white;
    margin: auto;
    margin-top: 13%;
    margin-bottom: 1%;
}

.heading {
    font-weight: bold;
    margin-top: 40px;
    font-size: 35px;
}

.cat1 {
    margin-left: auto;
    margin-right: auto;
}

.cat2 {
    margin-left: auto;
    margin-right: auto;
}

.how1 {
    margin: auto;
    padding: 10px;
}

.how2 {
    margin: auto;
    padding: 10px;
}

.ready {
    height: 310px;
    width: 100%;
    margin-top: 150px;
}

.cont1 {
    background: #EAECEE;
    margin-top: 90px;
    height: 200px;
    margin-left: 20%;
    width: 60%;
}

.cont2 {
    background: white;
    margin-top: -210px;
    height: 200px;
    margin-left: 21%;
    width: 58%;
    border: 1px solid grey;
}

.cont3 {
    text-align: center;
    margin-top: -180px;
    height: 180px;
    margin-left: 30%;
    width: 40%;
}

.cont4 {
    color: black;
    text-align: center;
    background: white;
    margin-top: -250px;
    height: 60px;
    margin-left: 37%;
    width: 26%;
    border-top: 1px solid grey;
}

.trademark {
    margin-bottom: 0px;
    margin-top: -35px;
    width: 93%;
}

.alignment {
    text-align: left;
}

.first_footer {
    width: 15%;
    margin-left: 30px;
    padding: 10px;
    text-align: center;
}

.second_footer {
    width: 20%;
    margin-left: 30px;
    padding: 10px;
}

.normal_footer {
    width: 20%;
    margin-left: 0px;
    padding: 10px;
}

#navbar {
    padding-left: 100px;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
}

.search {
    float: right;
    padding: 6px 10px;
    margin-top: -36px;
    margin-right: 0px;
    margin-left: 80px;
    background: #1ABC9C;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search_container {
    width: 470px;
    margin-left: 104px;
    margin-top: 7px;
    border: 1px solid white;
}

.search:hover {
    background: #117864;
}

.search_input {
    width: 470px;
    height: 36px;
    border-radius: 0%;
    border: none;
    background: #E5E8E8;
}

.mobile_menu {
    display: none;
}

.anchors {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
}

    .anchors a {
        color: black !important;
        text-decoration: none;
    }

.slide_heading {
    animation-duration: 2s;
    animation-name: slidein;
}

.slide_para {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.myCarousel {
    width: 99%;
    margin: auto;
}

.myCarousel_mobile {
    display: none;
}

.relevance_mobile {
    display: none;
}

.shop {
    width: 100%;
}

.product {
    width: 100%;
    padding-left: 80px;
}

.items {
    height: auto;
    width: auto;
    margin: 0px;
    width: 75%;
}

.item_border {
    display: inline-block;
    padding: 10px;
    width: 33%;
    text-align: center;
    margin-bottom: 20px;
}

.item_image {
    padding: 0px;
    object-fit: contain;
}

.item_image_1 {
    padding: 0px;
    object-fit: contain;
    margin-bottom: 10px;
}

.item_border:hover {
    border: 1px solid #BFC9CA;
}

    .item_border:hover .item_image {
        opacity: 0.4;
    }

    .item_border:hover .item_image_1 {
        opacity: 0.2;
    }

input.largerCheckbox {
    width: 15px;
    height: 15px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

    .rating > span {
        display: inline-block;
        position: relative;
        width: 35px;
        font-size: 35px;
    }

        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
            cursor: pointer;
            color: orange;
        }

.checked {
    color: orange;
}

.start2 {
    display: none;
}

.tagline {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.sc_video {
    width: 80%;
    cursor: pointer;
    border-radius: 2%;
    border: 1px solid #0d567f;
    background: black;
}

.Filters {
    margin-right: 20px;
}

.shipping {
    color: white;
    background: maroon;
    padding-top: 10px;
    font-weight: bold;
    width: 100%;
    border: 1px solid black;
}

.shipping_mobile {
    display: none;
}

.no_sale {
    color: white;
    background: maroon;
    padding-top: 10px;
    font-weight: bold;
    width: 100%;
    border: 1px solid black;
}

.no_sale_mobile {
    display: none;
}

.product_image {
    width: 45%;
    margin-left: 50px;
    padding: 10px;
}

#image_container {
    width: 100%;
    height: auto;
}

#image1 {
    padding: 0px;
}

#image2 {
    padding: 0px;
    display: none;
}

#image3 {
    padding: 0px;
    display: none;
}

.product_slide {
    width: 60%;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.sleeve {
    color: black;
    text-decoration: none;
}

#Description {
    display: block;
    min-height:200px;
    width: 100%;
}

#ReturnGuide {
    width: 100%;
    min-height: 200px;
}

#Reviews {
    width: 100%;
    min-height: 200px;
}

.also_viewed {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.selected {
    width: 95%;
    margin: auto;
}

.shipping_policy {
    display: table-cell;
    width: 65%;
    border: 2px dashed black;
}

.order_summary {
    border-right: 1px solid #0d567f;
    border-left: 5px solid white;
    background: url('../../Content/images/background.jpg');
    display: table-cell;
    height: 200px;
    text-align: center;
    width: 35%;
}

.selected_mobile {
    display: none;
}

.dispatch {
    width: 95%;
    border: 1px solid #BDC3C7;
    margin: auto;
    margin-bottom: 20px;
}

.dispatch_mobile {
    display: none;
}

.profile {
    margin-top: 50px;
    text-align: left;
    height: 50px;
    z-index: 1;
    top: 0;
    position: fixed;
    background: white;
    border-bottom: 1px solid #CCD1D1;
    margin-bottom: 0px;
    width: 100%;
}

.letter {
    margin-left: 85px;
    margin-top: -10px;
}

.name {
    text-decoration: none;
    margin-right: 30px;
    line-height: 53px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.style {
    text-decoration: underline;
    margin-right: 30px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.items_references {
    margin-right: 30px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.style_profile {
    margin-bottom: 0px;
    margin-top: 50px;
    width: 100%;
    background: #212F3C;
}

.stats_bar {
    height: 20px;
    text-align: center;
    width: 33%;
    background: #58D68D;
    display: inline-block;
}

.fit_style_bar {
    height: 20px;
    text-align: center;
    width: 33%;
    background: white;
    display: inline-block;
}

.stats {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 33%;
    color: #58D68D;
    display: inline-block;
}

.fit_style {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 33%;
    color: white;
    display: inline-block;
}

.body_type {
    display: inline-block;
    font-size: 20px;
    text-align: left;
    margin: auto;
    width: 24%;
}

.questions {
    font-size: 20px;
    text-align: left;
    margin: auto;
    width: 60%;
}

.main_container div {
    display: inline-block;
    width: 100%;
}

.thumbnail {
    height: auto;
    width: 100%;
    border: none;
    padding: 20px;
}

div.zoom_container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 450px;
    margin-top: -100px;
    position: fixed;
    border: 1px solid black;
    border-radius: 1%;
}

.zoom_container.hidden {
    display: none;
}

.Box {
    color: white;
    background: #0d567f;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 99;
    position: fixed;
    margin-top: 65px;
    height: auto;
    width: 30%;
    padding: 5px;
    font-size: 15px;
    float: right;
    right: 1%;
}

.Wallet {
    color: white;
    background: #0d567f;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 99;
    position: fixed;
    margin-top: 65px;
    height: auto;
    width: 20%;
    float: right;
    right: 7.5%;
    padding: 5px;
}

.Profile_Div {
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 1%;
    z-index: 9999;
    position: fixed;
    margin-top: 65px;
    height: auto;
    width: 20%;
    float: right;
    right: 13.5%;
    font-size: 15px;
}

.Box_Headlines {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    height: auto;
    padding: 0px;
    width: 100%;
    margin-top: 5px;
}

.Qty {
    text-align: center;
    display: inline-block;
    width: 20%;
    height: auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.about_1 {
    animation: fadein 10s;
    -moz-animation: fadein 10s; /* Firefox */
    -webkit-animation: fadein 10s; /* Safari and Chrome */
    -o-animation: fadein 10s; /* Opera */
    margin: auto;
    text-align: center;
    background: white;
    width: 95%;
}

.about {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    margin: auto;
    padding: 20px;
    color: white;
    background: #0d567f;
    text-align: center;
    width: 95%;
}

.coupon {
    width: 95%;
    height: 75px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.coupon_heading {
    display: inline-block;
    font-weight: bold;
}

.coupon_field {
    padding: 5px;
    height: 45px;
    margin-left: 10px;
    display: inline-block;
    font-size: 30px;
}

.apply {
    margin-top: -12px;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}

.validation_message {
    margin-left: 20px;
    width: 20%;
    display: inline-block;
}

.about_div {
    padding-bottom: 20px;
    padding-top: 20px;
    background: #AED6F1;
    width: 95%;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 80px;
    height: auto;
}

.referral_div {
    padding-bottom: 20px;
    padding-top: 20px;
    background: #AED6F1;
    height: auto;
    display: inline-block;
    width: 73%;
    margin: auto;
    margin-bottom: 20px;
}

.referral_button {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    width: 33%;
}

.referral_form {
    padding: 15px;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    text-align: center;
    width: 54%;
}

.referral_email {
    width: 84%;
    padding-left: 5px;
}

.referral_link {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    padding-top: 50px;
    height: 300px;
    text-align: center;
    background: white;
    width: 24%;
    display: inline-block;
    margin-right: 1%;
}

.referral_link_mobile {
    display: none;
}

.about_logo {
    margin-top: 50px;
    width: 800px;
}

#boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

    /* Make the image fit the box */
    #boxshadow img {
        width: 100%;
        border: 1px solid #8a4419;
        border-style: inset;
    }

    #boxshadow::after {
        content: '';
        position: absolute;
        z-index: -1; /* hide shadow behind image */
        -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        width: 70%;
        left: 15%; /* one half of the remaining 30% */
        height: 100px;
        bottom: 0;
    }

.login_form {
    border-radius: 20px;
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

.signup_form {
    border-radius: 20px;
    margin-top: 60px;
    text-align: center;
    width: 100%;
}

.signup_field {
    width: 100%;
    display: flex;
    text-align: center;
}

.navbar_links {
    width: 13%;
}

.box_image {
    margin-left: 210px;
}

.box_notification {
    margin-left: 190px;
    width: 6%;
    display: inline-block;
}

.cart_box {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    margin-top: 0px;
}

.search_results {
    z-index: 99;
    position: fixed;
    margin-left: 40%;
    border: 1px solid black;
    background: white;
    width: 32%;
    border-radius: 5px;
    height: 215px;
    overflow-y: scroll;
    margin-top: 51px;
    display: none;
}

.search_fa_btn {
    border-left: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid white;
    background: green;
    padding: 6px 11px 7px 11px;
    margin-left: -15px;
}

    .search_fa_btn:hover {
        background: orange;
    }

.link {
    font-size: 20px;
}

    .link:hover {
        color: orange !important;
        text-decoration: none;
        background: #0d567f !important;
    }

.review_rating {
    text-align: center;
    display: inline-block;
    width: 26%;
}

.review_comments {
    height: 190px;
    overflow-y: scroll;
    display: inline-block;
    width: 75%;
}

.rating_heading {
    font-weight: bold;
    font-size: 20px;
}

.rate_size {
    font-size: 18px;
}

.reviewer_image {
    width: 50px;
}

.reviewer_opinion {
    font-size: 15px;
}

.review_date {
    margin-top: 10px;
    font-size: 15px;
}

.how_it_works {
    margin-bottom: 20px;
    margin-top: 70px;
    width: 100%;
    background: #212F3C;
}

.sub_menu {
    display: none;
    z-index: 500;
    position: fixed;
    margin-bottom: 0px;
    margin-top: 50px;
    width: 100%;
    background: white;
    border: 1px solid blue;
}

.product_description {
    width: 45%;
    margin-left: 20px;
}

.orders_history {
    width: 75%;
    display: inline-block;
}

.order_notification {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    background: #D5F5E3;
    height: 200px;
    text-align: center;
    width: 24%;
    display: inline-block;
    padding: 5px;
    position: fixed;
    float: right;
    right: 1%;
}

.review_notification {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
    background: #D5F5E3;
    height: 200px;
    text-align: center;
    width: 24%;
    display: inline-block;
}

.order_notification_mobile {
    display: none;
}

.review_notification_mobile {
    display: none;
}

.carousel_background {
    height: 400px;
    background-image: url('../../Content/images/background.jpg');
    width: 98%;
    margin-bottom: 20px;
    margin: auto;
}

.login_link {
    padding-top: 9px;
    text-align: center;
    display: inline-block;
    width: 35%;
}

.footer_style {
    margin: 40px;
    border-top: 1px solid #99A3A4;
    border-bottom: 1px solid #99A3A4;
}

.profile_pointer {
    position: fixed;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 46px;
    color: white;
    font-size: 35px;
    float: right;
    right: 14.3%;
}

.box_pointer {
    position: fixed;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 46px;
    color: white;
    font-size: 35px;
    float: right;
    right: 2%;
}

.wallet_pointer {
    position: fixed;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-top: 46px;
    color: white;
    font-size: 35px;
    float: right;
    right: 8%;
}

.ready_button {
    width: 250px;
    height: 50px;
    background: red;
    color: white;
    margin-top: 30px;
    font-size: 20px;
}

    .ready_button:hover {
        background: maroon;
        color: white;
    }

.color_selection {
    display: flex;
    width: 100%;
}

.btn_adjust {
    margin-left: 29px;
}

.color_selection_border {
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 15%;
}

.clear_selection {
    display: inline-block;
    background: red;
    color: white;
    width: 45%;
    height: 45px;
}

    .clear_selection:hover {
        background: maroon;
        color: white;
    }

.add_product {
    margin-left: 5px;
    display: inline-block;
    background: green;
    color: white;
    width: 45%;
    height: 45px;
}

    .add_product:hover {
        background: #145A32;
        color: white;
    }

.Header_Links {
    color: white !important;
    text-decoration: none !important;
}

    .Header_Links:hover {
        color: orange !important;
        text-decoration: none !important;
        cursor: pointer;
    }

.Mobile_Menu {
    display: none;
}

.product_actions {
    margin-top: 20px;
    width: 70%;
    height: 60px;
}

.order_review {
    width: 75%;
}

.bars {
    width: 100%;
}

.mobile_options {
    display: none;
}

.show_on_mobile{
    display:none;
}

.Pointers_Div {
    display: flex;
    position: fixed;
    width: 18%;
    height: 20px;
    float: right;
    right: 0px;
}

.Profile_Pointer_Div {
    width: 27%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.Wallet_Pointer_Div {
    width: 44%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.Box_Pointer_Div {
    width: 24%;
    text-align: center;
    color: white;
    font-weight: bold;
}
    .title_font {
    font-family: Aileron-Heavy;
}

.normalHeading_font {
    font-family: Aileron-Heavy;
}

.body_font {
    font-family: Century-PS;
}

.description_font {
    font-family: 'Arimo', sans-serif;
}

.Navbar_font {
    font-family: 'Arimo', sans-serif;
    /*font-size: 14px;*/
    /*letter-spacing: 5px;*/
}

.Simple_font {
    font-family: 'CenturySchl-Ital';
}

@media screen and (max-width: 1000px) {

    .Pointers_Div {
        display: flex;
        position: fixed;
        width: 55%;
        height: 20px;
        float: right;
        right: 0px;
    }

    .Profile_Pointer_Div {
        width: 34%;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .Wallet_Pointer_Div {
        width: 28%;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    .Box_Pointer_Div {
        width: 34%;
        text-align: center;
        color: white;
        font-weight: bold;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #Men_Pointer {
        display: none;
    }

    #Women_Pointer {
        display: none;
    }

    #Kids_Pointer {
        display: none;
    }

    .Mobile_Submenu {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        background: white;
        margin-top: -5px !important;
        margin-bottom: 10px !important;
        border: 1px solid white;
        width: 98%;
        margin: auto;
        border-radius: 5px;
    }

    .mobile_options {
        display: block;
        border-radius: 0px 0px 5px 5px;
        border: 1px solid white;
        z-index: 1;
        width: 100%;
        position: fixed;
        background: #0d567f;
        height: auto;
        display: none;
        height: 300px;
    }

    .order_review {
        width: 100%;
    }

    .product_actions {
        margin-top: 20px;
        width: 100%;
        height: 60px;
    }

    .Desktop_Menu {
        display: none;
    }

    .Mobile_Menu {
        z-index: 1;
        display: flex;
        height: 50px;
        color: white;
        background: #0d567f;
        width: 100%;
        border: 1px solid #EAECEE;
        position: fixed;
    }

    .color_selection_border {
        border: none;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        width: 17%;
        padding: 1px;
    }

    .btn_adjust {
        margin-left: 21px;
    }

    .color_selection {
        display: flex;
        width: 100%;
    }

    .start {
        width: 195px;
        height: 45px;
        background: red;
        color: white;
        margin-bottom: 61px;
    }

        .start:hover {
            background: maroon;
            color: white;
        }

    .box_pointer {
        position: fixed;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        margin-top: 45px;
        color: white;
        font-size: 30px;
        float: right;
        right: 6%;
    }

    .profile_pointer {
        position: fixed;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        margin-top: 45px;
        color: black;
        float: right;
        right: 40%;
        font-size: 30px;
    }

    .wallet_pointer {
        position: fixed;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        margin-top: 45px;
        color: white;
        float: right;
        right: 23%;
        font-size: 30px;
    }

    .footer_style {
        margin: 40px;
        border-top: 1px solid #99A3A4;
        border-bottom: 1px solid #99A3A4;
    }

    .login_link {
        padding-top: 9px;
        text-align: center;
        display: inline-block;
        width: 35%;
    }

    .carousel_background {
        height: 180px;
        background-image: url('../../Content/images/background.jpg');
        width: 100%;
        margin-bottom: 20px;
    }

    .menu_pointer_men {
        position: fixed;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        margin-top: 135px;
        color: white;
        margin-left: 17px;
        float: left;
        font-size: 35px;
    }

    .menu_pointer_women {
        position: fixed;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        margin-top: 135px;
        color: white;
        margin-left: 157px;
        float: left;
        font-size: 35px;
    }

    .menu_pointer_kids {
        position: fixed;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        margin-top: 135px;
        color: white;
        margin-left: 295px;
        float: left;
        font-size: 35px;
    }

    .order_notification {
        display: none;
    }

    .review_notification {
        display: none;
    }

    .order_notification_mobile {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
        background: #D5F5E3;
        height: 180px;
        text-align: center;
        width: 97%;
        display: block;
        position: fixed;
    }

    .review_notification_mobile {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
        background: #D5F5E3;
        height: 200px;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        padding-top: 5px;
    }

    .orders_history {
        width: 100%;
    }

    @media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-inner > .item.next,
        .carousel-inner > .item.active.right {
            left: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        .carousel-inner > .item.prev,
        .carousel-inner > .item.active.left {
            left: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
    }

    .review_date {
        margin-top: 10px;
        font-size: 10px;
    }

    .reviewer_opinion {
        font-size: 10px;
    }

    .reviewer_image {
        width: 35px;
    }

    .rate_size {
        font-size: 1px;
    }

    .rating_heading {
        font-weight: bold;
        font-size: 15px;
    }

    .review_comments {
        height: 150px;
        overflow-y: scroll;
        display: inline-block;
        width: 75%;
    }

    .review_rating {
        text-align: center;
        display: inline-block;
        width: 26%;
    }

    .search_results_mobile {
        border: 1px solid black;
        background: white;
        width: 69.5%;
        border-radius: 5px;
        margin-left: 16%;
        position: fixed;
        margin-top: -7px;
        height: 215px;
        overflow-y: scroll;
        z-index: 1;
        display: none;
    }

    .link_mobile {
        color: white !important;
        font-size: 20px;
    }

        .link_mobile:hover {
            color: orange !important;
            text-decoration: none;
        }

    .cart_box {
        cursor: pointer;
        float: right;
        margin-right: 15px;
        margin-top: 0px;
    }

    .box_notification {
        width: 25%;
        float: right;
        margin-left: 0px;
    }

    .box_image {
        float: right;
        margin-right: 20px;
    }

    .signup_field {
        width: 95%;
        display: flex;
        text-align: center;
    }

    .signup_form {
        border-radius: 20px;
        margin-top: 60px;
        text-align: center;
        width: 95%;
        margin-left: 10px;
    }

    .login_form {
        border-radius: 20px;
        margin-top: 60px;
        text-align: center;
        width: 95%;
        margin-left: 10px;
    }

    .about_logo {
        margin-top: 50px;
        width: 300px;
    }

    .about_div {
        padding-bottom: 20px;
        padding-top: 20px;
        background: #AED6F1;
        width: 100%;
        margin-left: 0px;
        margin-top: 80px;
        margin-bottom: -20px;
        height: auto;
    }

    .referral_div {
        padding-bottom: 20px;
        padding-top: 20px;
        background: #AED6F1;
        margin-top: 0px;
        height: auto;
        width: 100%;
        margin-left: 0px;
    }

    .referral_button {
        margin-top: 10px;
        padding: 10px;
        display: inline-block;
        width: 100%;
    }

    .referral_form {
        padding: 15px;
        margin: auto;
        border: 1px solid black;
        margin-top: 20px;
        text-align: center;
        width: 98%;
    }

    .referral_email {
        width: 71%;
    }

    .referral_link_mobile {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
        padding-top: 50px;
        height: 300px;
        text-align: center;
        background: white;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 98%;
        display: block;
    }

    .validation_message {
        width: 80%;
        margin-left: 10px;
    }

    .coupon_field {
        padding: 5px;
        height: 40px;
        margin-left: 0px !important;
        display: inline-block;
        font-size: 25px;
    }

    .apply {
        margin-top: 12px;
        font-size: 18px;
    }

    .coupon_heading {
        display: inline-block;
        font-weight: bold;
        font-size: 15px;
    }

    .coupon {
        padding: 10px;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .item_border:hover .item_image {
        opacity: 1;
    }

    .item_border:hover .item_image_1 {
        opacity: 1;
    }

    .item_border {
        display: block;
        padding: 10px;
        position: relative;
        width: 100%;
    }

    .Qty {
        text-align: center;
        display: inline-block;
        width: 16%;
        height: auto;
    }

    .Box {
        color: white;
        background: #0d567f;
        border: 1px solid white;
        border-radius: 1%;
        z-index: 9999;
        position: fixed;
        margin-top: 65px;
        height: auto;
        width: 95%;
        font-size: 10px;
        float: right;
        right: 2%;
    }

    .Profile_Div {
        color: black;
        background: white;
        border: 1px solid black;
        border-radius: 5px;
        z-index: 9999;
        position: fixed;
        margin-top: 65px;
        height: auto;
        width: 60%;
        float: right;
        right: 37%;
        font-size: 10px;
    }

    .Wallet {
        color: white;
        background: #0d567f;
        border: 1px solid white;
        border-radius: 2px;
        z-index: 9999;
        position: fixed;
        margin-top: 65px;
        height: auto;
        width: 60%;
        float: right;
        right: 20%;
    }

    .main_container div {
        display: inline-block;
        width: 100%;
    }

    .thumbnail {
        height: auto;
        width: 100%;
        border: none;
    }

    div.zoom_container {
        width: 130px;
        height: 130px;
        overflow: hidden;
        margin-left: 200px;
        margin-top: -110px;
        position: fixed;
        border: 1px solid black;
        border-radius: 1%;
    }

    .zoom_container.hidden {
        display: none;
    }

    .questions {
        font-size: 20px;
        text-align: left;
        margin: auto;
        width: 100%;
    }

    .body_type {
        display: block;
        font-size: 20px;
        text-align: left;
        width: 100%;
    }

    .fit_style {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        width: 32%;
        color: white;
        display: inline-block;
    }

    .stats {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        width: 32%;
        color: #58D68D;
        display: inline-block;
    }

    .stats_bar {
        height: 20px;
        text-align: center;
        width: 32%;
        background: #58D68D;
        display: inline-block;
    }

    .fit_style_bar {
        height: 20px;
        text-align: center;
        width: 32%;
        background: white;
        display: inline-block;
    }

    .bars {
        width: 100%;
    }

    .style_profile {
        margin-bottom: 0px;
        margin-top: 94px;
        width: 100%;
        background: #212F3C;
    }

    .items_references {
        margin-right: 10px;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .style {
        text-decoration: underline;
        margin-right: 10px;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .name {
        text-decoration: none;
        margin-right: 10px;
        line-height: 52px;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .letter {
        margin-left: 0px;
        margin-top: -5px;
    }

    .search_fa_btn {
        color: white;
        font-size: 15px;
        padding: 8px 12px 8px 12px;
    }

    .profile {
        margin-top: 51px;
        text-align: left;
        height: auto;
        z-index: 1;
        top: 0;
        position: fixed;
        background: white;
        border-bottom: 1px solid #CCD1D1;
        margin-bottom: 0px;
        width: 100%;
    }

    .dispatch_mobile {
        display: block;
        width: 100%;
        padding: 0px;
    }

    .dispatch {
        display: none;
    }

    .selected_mobile {
        width: 92%;
        display: block;
        margin: auto;
    }

    .order_summary {
        border-right: 1px solid #0d567f;
        border-left: 1px solid #0d567f;
        background: url('../../Content/images/background.jpg');
        display: block;
        height: auto;
        text-align: center;
        width: 100%;
        padding-top: 5px;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .shipping_policy {
        display: block;
        width: 100%;
        border: 2px dashed black;
        padding: 0px;
    }

    .selected {
        display: none;
    }

    .also_viewed {
        text-align: center;
        margin-top: 50px;
        width: 100%;
        padding: 10px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 95%;
    }

    #Description {
        display: block;
        width: 95%;
    }

    #ReturnGuide {
        width: 95%;
    }

    #Reviews {
        width: 95%;
    }

    .sleeve {
        color: black;
        text-decoration: none;
        font-size: 12px;
    }

    .product_slide {
        width: 90%;
        padding: 0px;
        text-align: center;
    }

    .product_description {
        width: 100%;
        margin-left: 20px;
    }

    #image1 {
        padding: 0px;
        width: 100%;
    }

    #image2 {
        padding: 0px;
        width: 100%;
        display: none;
    }

    #image3 {
        padding: 0px;
        width: 100%;
        display: none;
    }

    #image_container {
        width: 100%;
        height: auto;
    }

    .product {
        width: 100%;
        padding: 0px;
    }

    .product_image {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .shipping {
        display: none;
    }

    .shipping_mobile {
        display: block;
        color: white;
        background: maroon;
        padding-top: 10px;
        font-weight: bold;
        width: 100%;
        border: 1px solid black;
    }

    .no_sale {
        display: none;
    }

    .no_sale_mobile {
        display: block;
        color: white;
        background: maroon;
        padding-top: 10px;
        font-weight: bold;
        width: 100%;
        border: 1px solid black;
    }

    .Filters {
        margin-left: 5px;
    }

    .sc_video {
        width: 95%;
        cursor: pointer;
        border-radius: 2%;
        border: 1px solid #0d567f;
        background: black;
    }

    .tagline {
        margin-top: 25px;
        margin-bottom: 29px;
        font-size: 18px;
        color: black;
    }

    .item_border {
        margin-bottom: 50px;
        border: none;
        height: auto;
    }

        .item_border:hover {
            border: 1px solid #BFC9CA;
            height: auto;
            margin-bottom: 50px;
        }

    .start2 {
        width: 200px;
        height: 50px;
        background: #27AE60;
        color: white;
        margin-bottom: 20px !important;
        margin: auto;
        display: block;
    }

        .start2:hover {
            background: #186A3B;
            color: white;
        }

    .size_items_mobile {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        display: block;
    }

    .size_items {
        display: none;
    }

    .checked {
        color: orange;
    }

    .start1 {
        width: 200px;
        height: 50px;
        background: #27AE60;
        color: white;
        margin-bottom: 10px;
        position: absolute;
        margin-top: -200px;
        margin-left: 35px;
        display: none;
    }

        .start1:hover {
            background: #186A3B;
            color: white;
        }

    .myCarousel {
        display: none;
    }

    .items {
        height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .shop {
        width: 100%;
    }

    .myCarousel_mobile {
        width: 98%;
        display: block;
        margin: auto;
    }

    .relevance {
        display: none;
    }

    .relevance_mobile {
        display: block;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        background: white;
        color: black;
    }

    .signup {
        background: white;
        border: 1px #CCD1D1 solid;
        font-size: 16px;
        margin-left: 15px;
    }

    .anchors {
        width: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: bold;
    }

        .anchors a {
            color: black !important;
            text-decoration: none;
        }

    .mobile_menu {
        z-index: 1;
        position: fixed;
        border: 1px solid #CCD1D1;
        background: #0d567f;
        width: 100%;
        display: block;
        margin-top: -47px;
        height: auto;
        font-family: champagne__limousinesregular;
    }

    .search {
        float: right;
        padding: 6px 10px;
        margin-top: -36px;
        margin-left: 70px;
        background: #1ABC9C;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .search_container {
        width: 300px;
        margin-left: 25px;
        margin-top: 10px;
        border: 1px solid white;
        display: inline-block;
    }

    .search:hover {
        background: #117864;
    }

    .search_input {
        width: 300px;
        height: 36px;
        border-radius: 0%;
        border: none;
        background: #E5E8E8;
    }

    #nav {
        display: none;
        margin-top: 38px;
    }

    .header {
        display: none;
    }

    .links {
        display: none;
    }

    #navbar {
        padding-left: 30px;
    }

    .img {
        display: none;
    }

    .get_started {
        display: none;
        z-index: 1;
        top: 0;
        position: fixed;
        height: 70px;
        text-align: center;
        background: white;
        border-bottom: 1px solid #CCD1D1;
        margin-bottom: 0px;
        margin-top: 51px;
        width: 100%;
    }

    .main {
        width: 100%;
        border: 1px solid white;
        height: auto;
        background: red;
    }

    .punchline {
        padding: 10px;
        text-align: center;
        width: 95%;
        background: white;
        margin: auto;
        margin-top: 59.5%;
        margin-bottom: 2%;
    }

    .heading {
        font-weight: bold;
        margin-top: 45px;
        font-size: 22px;
        color: black;
    }

    .cat1 {
        margin-left: 0px;
    }

    .cat2 {
        margin-left: 0px;
    }

    .how1 {
        margin-left: 0px;
        padding: 10px;
    }

    .how2 {
        margin-left: 0px;
        padding: 10px;
    }

    .ready {
        height: 310px;
        width: 100%;
    }

    .cont1 {
        background: #EAECEE;
        margin-top: 90px;
        height: 200px;
        width: 100%;
        margin-left: 0px;
    }

    .cont2 {
        background: white;
        margin-top: -210px;
        height: 200px;
        width: 97%;
        border: 1px solid grey;
        margin-left: 5px;
    }

    .cont3 {
        text-align: center;
        margin-top: -180px;
        height: 180px;
        width: 90%;
        margin-left: 6%;
    }

    .cont4 {
        color: black;
        text-align: center;
        background: white;
        margin-top: -250px;
        height: 60px;
        width: 66%;
        border-top: 1px solid grey;
        margin-left: 17%;
    }

    .trademark {
        margin-bottom: 0px;
        margin-top: -35px;
        width: 70%;
        text-align: center;
    }

    .alignment {
        text-align: center;
    }

    .app_store {
        margin-left: 0px;
    }

    .first_footer {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .second_footer {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .normal_footer {
        width: 100%;
        margin-left: 0px;
        padding: 10px;
        text-align: center;
    }

    .menu {
        display: block;
    }
    .show_on_mobile {
        display: block;
    }
}



